{% extends "erp_admin/base.html" %}
{% load static tz group_required %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>
.co{
    color:#d9534f;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
}

.list-group-item:first-child {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}
.profile {
    min-height: 473px;

}
.btn {
    border-radius: 8px!important;
    }

th{
    color:#337ab7!important;
}
td{
    color:#000000!important;
}

</style>
{% endblock head %}

{% block content %}

<div class="banner">
    <h2>
        <a href="/">Customer</a>
        <i class="fa fa-angle-right"></i>
        <span>{{customer}}</span>
        <a href="" class="pull-right"><i class="fa fa-times"></i></a>
    </h2>
</div>
<div class="block">
    <div class="row show-grid">
        <div class="col-sm-12 col-xs-12">
            <div class="pull-right">
                <a href="{% url 'customer:edit' customer.pk %}" class="btn btn-primary btn-xs">
                    <i class="fa fa-pencil-square-o fa-fw"></i> Edit
                </a>
                <form method="post" action="{% url 'customer:delete' customer.pk %}" onsubmit="remove(this, event)"
                      style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-xs">
                        <i class="fa fa-trash-o fa-fw"></i> Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="row show-grid">
        <div class="profile">
            <div class="profile-bottom" style="width: 100%;">
                <h3><i style="color:#337ab7;" class="fa fa-user"></i>{{customer}}</h3>
                <div class="profile-bottom-top">
                    <div class="col-xs-12 col-sm-12 col-md-8 profile-text">
                        <table class="col-xs-12">
                            <tr>
                                <td>Name :
                                    {{customer.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>Phone :
                                    {{customer.phone}}
                                </td>
                            </tr>
                            <tr>
                                <td>Address :
                                    {{customer.address}}
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div class="profile-bottom" style="width: 100%;">
                <h3><i style="color:#337ab7;" class="fa fa-stethoscope"></i>Transaction history</h3>
                <div class="profile-bottom-top">
                    <div class="col-xs-12 col-sm-12 col-md-12 profile-text">
                        <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Date and time</th>
                            <th>Incharge</th>
                            <th>More Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td scope="row">{{ transaction.0 | date }}</td>
                            <td scope="row">{{ transaction.1 }}</td>
                            <td><a href="{% url 'customer:transactions' customer.pk %}?date={{ transaction.0 | date:'Y-m-d' }}"><i class="fa fa-external-link"></i></a></td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">No Data</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block jsscript %}
<script>

  $('form.delete').submit( function (e){
        e.preventDefault()
        e.stopPropagation()
        if(confirm('Do you want to Delete the entire student Details')){
            this.submit()
        }
    })
</script>

{% endblock jsscript %}
