{% extends "erp_admin/base.html" %}
{% load static tz util %}
{% get_current_timezone as TIME_ZONE %}
{% block css %}
<style>
td span{
    font-size: 1em;
    padding: 0px;
}
.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock css %}
{% block content %}
<form class="" action="{{form_url}}" method="post" id="qForm">
    <div class="blank">
        <div class="grid-form1">
            <a href="{% url 'customer:list' %}"> Cancel </a>
            <h4 style="margin-top:20px;">
                {{type}} Customer {% if type == "Edit" %}  <b>{{ customer.name }}</b>{% endif %}
            </h4>
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    {% csrf_token %}
                    {{ customer_form.non_field_errors }}
                    {{ customer_form.field_errors }}
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Name<span class="req">*</span></label>
                                <div class="">
                                    {{ customer_form.name.errors }}{{ customer_form.name }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Phone<span class="req">*</span></label>
                                <div class="">
                                    {{ customer_form.phone }}
                                    {{ customer_form.phone.errors }}
                                </div>
                            </div>
                            
                        </div>
                         <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">Address<span class="req">*</span></label>
                                <div class="">
                                    {{ customer_form.address }}
                                    {{ customer_form.address.errors }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

            <button class="btn-primary btn">Submit</button>
        </div>
    </div>
</form>

{% endblock content %}
{% block jsscript %}


{% endblock jsscript %}
