{% extends "erp_admin/base.html" %} {% load static tz %} {% get_current_timezone as TIME_ZONE %} {% block head %}
<style>
</style>
{% endblock head %} {% block content %}
<div id="app"></div>
{% endblock content %} {% block jsscript %}

<script src="{% static 'js/jquery.chained.min.js' %}"></script>
<script src="{% static 'js/bundles/vendor.bundle.js' %}"></script>
<script src="{% static 'js/bundles/customer_list.js' %}"></script>
{% endblock jsscript %}
