{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">
.status-open {
    background-color: #2fd22f;
    font-size: 16px;
}
.status-rejected {
    background-color: red;
    font-size: 12px;
}
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}
.table>thead>tr>th{
    color:#288f99!important;
    font-size: 15px!important;
    
}
</style>
{% endblock head %}
{% block content %}
    

<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <form action="" method="get">
            {# {{ filter.form }} #}

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.name.label }}</label>
                    {{ filter.form.name }}
                </div>
            </div>


            <div class="clearfix"></div>


                
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
    <div class="content-main">
        <div class="block">
            <div class="row show-grid">
                <div class="col-sm-6">
                    <h3>
                        Customers
                        <a href="{% url 'customer:create' %}" class="btn btn-link">
                              <i class="fa fa-plus-square-o fa-2x"></i>
                        </a>
                    </h3>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#filter-modal">
                          <i class="fa fa-filter"></i> Filters
                        </button>
                        <a class="btn btn-primary btn-sm" href="{% url 'customer:list' %}">
                          <i class="fa fa-refresh"></i> Refresh
                        </a>
                        
                    </div>
                </div>                          
            </div>
            <div class="row">
                <div class="col-sm-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Customer</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for customer in customers %}
                            <tr>
                                <td scope="row">{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'customer:detail' customer.pk %}" class="btn btn-link">
                                        {{ customer }}<br>
                                        {{ customer.contact }}
                                    </a>
                                </td>
                                
                                <td>
                                    <a href="{% url 'customer:edit' customer.pk %}" class="btn btn-link">
                                        <i class="fa fa-pencil-square-o fa-fw"></i>
                                    </a>
                                </td>
                                <td>
                                    <form class="delete" method="post" action="{% url 'customer:delete' customer.pk %}">{% csrf_token %}
                                        <button type="submit" class="fabutton">
                                            <i class="fa fa-trash-o fa-fw"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                            {% empty %}
                            <tr><td colspan="4">No Customers</td></tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    <div id="pagination">
                        {{pagination|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
$(document).ready(function(){


    $('form.delete').submit( function (e){
        e.preventDefault()
        e.stopPropagation()
        if(confirm('Do you want to Delete the entire student Details')){
            this.submit()
        }
    })


    $('[data-toggle="tooltip"]').tooltip();

    $("#pagination a").click(function(e){
        e.preventDefault()
        page_string = this.href.slice(this.href.indexOf("?") + 1)
        
        var query_string = ""   
        var search_query = window.location.search
        var query_obj = {}
        if(search_query){
            if(search_query.indexOf('?') > -1)
                search_query = search_query.substr(1)
            
            var searchQueryStrings = [search_query]
            if(search_query.indexOf('&') > -1)
                searchQueryStrings = search_query.split('&')
            
            searchQueryStrings.forEach(qs => {
                var query_array = qs.split('=')
                query_obj[query_array[0]] = query_array[1]
            })

        }
        
        query_obj['page'] = page_string.split('=')[1]
        for(var k in query_obj){
            query_string += k + '=' + query_obj[k] + '&'
        }
        
        // console.log(query_string, query_obj, window.location)
        window.location = window.location.pathname + "?" + query_string.slice(0, -1)
    })
    var format = 'YYYY-MM-DD H:mm'
    function cb(start, end) {
        $('#created_at span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $("#id_created_at_0").val(start.format(format));
        $("#id_created_at_1").val(end.format(format));  
    }

    $('#filter-modal').on('shown.bs.modal', function () {
        console.log(moment($("#id_created_at_0").val()))
        var start_date = $("#id_created_at_0").val() ? moment($("#id_created_at_0").val()) : moment().subtract(29, 'days')
        var end_date = $("#id_created_at_1").val() ? moment($("#id_created_at_1").val()) : moment()
    
        $('#created_at').daterangepicker({
            startDate: start_date,
            endDate: end_date,
            showDropdowns: true,
            locale: {
                format: format,
            },
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
        cb(start_date, end_date)

    })



});
</script>
{% endblock jsscript %}