{% extends "erp_admin/base.html" %} {% load guardian_tags %} {% block content %}

<style>
    th{
    color:#337ab7!important;
}
td{
    color:#000000!important;
}
.grouperTable{
    border-top:1px solid #d4d2d2;
    border-left:1px solid #d4d2d2;
    border-right:1px solid #d4d2d2;
}

</style>
<div class="banner">
    <h2>
        <a href="/">Home</a>
        <i class="fa fa-angle-right"></i>
        <a href="{{ request.META.HTTP_REFERER }}">Transactions </a>
        <i class="fa fa-angle-right"></i>
        <span>{{customer}}</span>
        <a href="{{ request.META.HTTP_REFERER }}" class="pull-right"><i class="fa fa-times"></i></a>
    </h2>
</div>
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="col-sm-12">
                <h3>
                    Asset History for <span style="color:#01788B;">{{tr_date|date:"F d, l"}}</span>
                </h3>
            </div>
        </div>


        <div class="row show-grid">
            <div class="col-sm-12 table-responsive">
                <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Asset</th>
                            <th>Handover From</th>
                            <th>Handover To</th>
                            <th>Asset Status</th>
                            <th>Usage Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% regroup transactions by date_and_time.time as transaction_list %}
                        {% for transaction in transaction_list %}
                                {% for trn in transaction.list %}
                                    <tr class="grouperTable">
                                        <td class="grouper">{{transaction.grouper}}</td>
                                        <td scope="row">{{ trn.asset }}</td>
                                        <td scope="row" class="source">{{ trn.source }}</td>
                                        <td scope="row" class="destination">{{ trn.destination }}</td>
                                        {% if trn.asset_status == 'Functional' %}
                                            <td scope="row"><span class="label label-success">{{ trn.asset_status }}</span></td>
                                        {% elif trn.asset_status == 'Damage' %}
                                            <td scope="row"><span class="label label-warning">{{ trn.asset_status }}</span></td>
                                        {% elif trn.asset_status == 'Destroyed' %}
                                            <td scope="row"><span class="label label-danger">{{ trn.asset_status }}</span></td>
                                        {% endif %}

                                        {% if trn.usage_status == 'Used' %}
                                            <td scope="row"><i class="fa fa-check fa-2x" style="color:green;"></i></td>
                                        {% else %}
                                            <td scope="row"><i class="fa fa-close fa-2x" style="color:#d9534f;"></i></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                        {% empty %}
                        <tr>
                            <td colspan="6">No Data</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
            </div>
        </div>
        <div id="pagination">
                {{pagination|safe}}
            </div>
    </div>
</div>


{% endblock content %}

{% block jsscript %}
<script>
    $(document).ready(function(){
    var seen = {};
    $('.grouper').each(function() {
      var txt = $(this).text();
      if (seen[txt]){
        $(this).html('');
        $(this).closest('tr').find('.source').html('&#12291;')
        $(this).closest('tr').find('.destination').html('&#12291;')
        $(this).parent('tr').css('border-top','1px solid white');
        $('.table tr:last').css('border-bottom','1px solid #d4d2d2')
        }
      else{
        seen[txt] = true;
        }
    });
      $("#pagination a").click(function(e){
        e.preventDefault()
        page_string = this.href.slice(this.href.indexOf("?") + 1)
        var query_string = ""
        var search_query = window.location.search
        var query_obj = {}
        if(search_query){
            if(search_query.indexOf('?') > -1)
                search_query = search_query.substr(1)

            var searchQueryStrings = [search_query]
            if(search_query.indexOf('&') > -1)
                searchQueryStrings = search_query.split('&')
            searchQueryStrings.forEach(qs => {
                var query_array = qs.split('=')
                query_obj[query_array[0]] = query_array[1]
            })
        }
        query_obj['page'] = page_string.split('=')[1]
        for(var k in query_obj){
            query_string += k + '=' + query_obj[k] + '&'
        }

        // console.log(query_string, query_obj, window.location)
        window.location = window.location.pathname + "?" + query_string.slice(0, -1)
    })
});
</script>
{% endblock jsscript %}