{% extends "erp/base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block head %}
<style>
  @media (min-width: 768px){
      #page-wrapper {
          position: inherit;
          margin: 0px;
      }
  }
  div.login{
    padding-top: 5em;
  }
  form.login{
    padding: 0px;
  }
  div.login-box {
    margin-bottom: 6em;
    margin-top: 3em;
    background-color: #fff;
    padding: 2em 1em;
    border: 1px solid #ebeff6;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
</style>
{% endblock head %}

{% block menu %} 
    {% include "erp/menu.html" %}           
{% endblock menu %}
{% block content %}

{% get_providers as socialaccount_providers %} {% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}
Please sign in with one of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
<div class="socialaccount_ballot">
    <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
    </ul>
    <div class="login-or">{% trans 'or' %}</div>
</div>
{% include "socialaccount/snippets/login_extra.html" %}
{% endif %}

<div class="login">
    <h1><a href="#">ERP </a></h1>
    <div class="login-box col-xs-12 col-sm-4 col-sm-offset-4">
        {{ form.non_field_errors }}
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
            <h2 style="margin-bottom: 10px;">{% trans "Login" %}</h2>
                <div class="login-mail">
                    {{ form.login.errors }}
                    {{form.login}}
                    <i class="fa fa-envelope"></i>
                </div>
                <div class="login-mail">
                    {{ form.password.errors }}
                    {{ form.password }}
                    <i class="fa fa-lock"></i>
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
                <!-- <a class="news-letter " href="{% url 'account_reset_password' %}">
                    <label class="checkbox1">
                        {{ form.remember }}
                        <i> </i>{% trans "Forgot Password?" %}
                    </label>
                </a> -->
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 login-do">
                
                <label class="hvr-shutter-in-horizontal login-sub"></label>
                    <input type="submit" value="{% trans 'Login' %}" style="background-color:#cc0000; color:#000000">
               <a href="/settings/3/" style="color:#000000;">Settings</a>
            </div>

            
            
        </form>
    </div>


    <div class="clearfix"> </div>

</div>


{% endblock %}
