{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-4 col-sm-offset-4">
  <div class="blank">
      <div class="blank-page">
          
          <h1>{% trans "Sign Out" %}</h1>

          <p>{% trans 'Are you sure you want to sign out?' %}</p>

          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="btn btn-danger">{% trans 'Sign Out' %}</button>
          </form>
      </div>
  </div>  

</div>
<div class="clearfix"></div>
{% endblock %}
