{% extends "erp_admin/base.html" %}
{% load static %} 
{% block content %}

<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="col-sm-12">
                <h2>Targets</h2>
                <a href="{% url 'employee:add_targets' pk %}" class="btn btn-success pull-right"> Add Target</a>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
					  		<th>#</th>
					  		<th>Date</th>
					  		<th>Amount</th>
                            <th>Edit</th>     
                        </tr>
                    </thead>
                    <tbody>
                        {% for target in targets %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ target.from_date }} - {{ target.to_date }}</td>
 							<td>{{target.amount }}</td>
 							<td><a href="/employee/{{pk}}/editTarget/{{target.id}}/"><i class="fa fa-edit"></i></td>
                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="4">No Targets</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div id="pagination">
                    {{ pagination|safe }}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}