{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>
</style>
{% endblock head %}

{% block content %}
<div>
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-12">
                <a href="{% url 'customer:detail' contact.customer.pk %}">Back</a>
               <h3> Customer : {{contact.customer}}</h3>
                <div class="profile">
                    <div class="profile-bottom" style="width: 100%;">
                        <h3><i class="fa fa-user"></i>Contact : {{ contact.name }}</h3>
                        <div class="profile-bottom-top">
                            <div class="col-md-4 profile-bottom-img">
                                <img src="{% static 'images/user.png' %}"  width="130px" height="130px">
                                {# <i class="fa fa-user-circle fa-10"></i> #}
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-8 profile-text">
                                
                                <table class="col-xs-12">
                                    
                                    <tr><td>Designation :
                                        <!-- <td>:</td> -->
                                        {{ contact.designation }}</td>
                                    </tr>
                            
                                    <tr>
                                        <td>Email :
                                            <!-- <td> :</td> -->
                                            {{ contact.email }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Phone :
                                            <!-- <td>:</td> -->
                                            {{ contact.phone }} {% if contact.alternate_phone %}
                                            , {{ contact.alternate_phone }}
                                            {% endif %}

                                        </td>
                                    </tr>
                                    <tr><td>Date of Birth:
                                        <!-- <td>:</td> -->
                                        {{ contact.dob }}</td>
                                    </tr>
                                    {% if contact.tin %}
                                    <tr>
                                        <td>TIN :
                                            <!-- <td>:</td> -->
                                            {{ contact.tin }}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    
                                    {% if contact.gstin_provisional_no %}
                                    <tr>
                                        <td>GSTIN (Provisional No.) :
                                            <!-- <td>:</td> -->
                                            {{ contact.gstin_provisional_no }}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% if contact.gstin_actual_no %}

                                    <tr>
                                        <td>GSTIN (Actual No.) :
                                            <!-- <td>:</td> -->
                                            {{ contact.gstin_actual_no }}
                                        </td>
                                    </tr>
                                    {% endif %}
                                    
                                </table>
                            </div>
                            <div class="clearfix">
                                
                            </div>
                        </div>           
                    </div>
                    <div class="row" style="padding-top:10px;">
                       <div class="col-sm-12">
                            <a href="{% url 'customer:address_create' contact.pk %}" class="btn btn-primary pull-right"> Add Address</a>
                        </div> 
                    </div>
                    
                    <div class="col-sm-12">
                        <h4>Addresses</h4>
                        <ul class="list-group">
                            {% for address in addresses.all %}
                                
                            <li v-for="(address, index) in contact.addresses" class="list-group-item">
                                <span> {{ address.addressline1 }}, </span><br>
                                <span> {{ address.addressline2 }}, </span>
                                <span> {{ address.area }}, </span><br>
                                <span> {{ address.country.name }}, </span>
                                <span> {{ address.state.name }}, </span>
                                <span> {{ address.city.name }}, </span>
                                <span> {{ address.zipcode }} </span>
                                {% if address.billing %}
                                    <span class="badge"> Billing </span>
                                {% endif %}
                                <div class="pull-right">
                                   <a href="{% url 'customer:address_edit' address.pk %}" class="btn btn-primary btn-xs">
                                        <i class="fa fa-pencil-square-o fa-fw"></i> Edit
                                    </a> 
                                    <form method="post" action="{% url 'customer:address_delete' address.pk %}" onsubmit="remove(this, event)" style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <i class="fa fa-trash-o fa-fw"></i> Delete
                                        </button>
                                    </form>
                                </div>                        
                                
                                
                            </li>
                            {% empty %}
                            <li>No Addresses</li> 
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</div>

{% endblock content %}

{% block jsscript %}
<script>
function remove(form, e){
    e.preventDefault()
    if(confirm('Confirm Delete')){
        form.submit()
    }
}

</script>

{% endblock jsscript %}
