{% extends "erp_admin/base.html" %}
{% load static tz %} {% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>
</style>
{% endblock head %} {% block content %}
<div id="app"></div>
{% endblock content %}

{% block jsscript %}
<script>

    var editCustomer = {{ data | safe | escape }};
</script>
<script src="{% static 'js/bundles/vendor.bundle.js' %}"></script>
<script src="{% static 'js/bundles/customer_edit.js' %}"></script>
{% endblock jsscript %}
