.border_style{
  width: 80%;
  height:130px;
  padding-top: 40px;
  padding-left:7%;
  padding-right:7%;
  padding-top: 
  border: 1px solid #9b9b9b;margin:5%;
}



/*@media (max-width:767px){
  .border_style{
  width: 00px;
  height:130px;
  padding-top: 40px;
  padding-left:2px;
  padding-right:2px;
  padding-top: 
  border: 1px solid #9b9b9b;margin: 10px;
 
}


}*/

  
.bg1{
    background-color:#C62828;
}
.bg2{
    background-color:#006064;
}
.bg3{
    background-color:#4E342E;
}
.bg4{
    background-color:#827717;
}
.bg5{
    background-color:#263238;
}
.bg6{
    background-color:#26C6DA;
}
.bg7{
    background-color:#689F38;
}
.bg8{
    background-color:#FFA000;
}
.bg9{
    background-color:#6D4C41;
}