{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
<style>
	.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}
{% block content %}

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row">
		 	
		 	<div class="col-sm-10 col-xs-12">
		 		{% if type == 'add' %}
		 			<h2>Asset Type</h2>
		 		{% elif type == 'edit' %}
		 			<h2>Edit Asset type</h2>
		 		{% endif %}
		 	</div>
		 	<div class="col-sm-2 col-xs-12">
		 		<a href="{{request.META.HTTP_REFERER}}">cancel </a>
			</div>
		</div>
 	       
	    <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
			<form class="form-horizontal" action="{{ form_url }}" method="post">{% csrf_token %}
				{{ assettypeform.non_field_errors }}
				{{ assettypeform.field_errors }}
				

					<div class="form-group">
						<label for="name" class="col-sm-2 col-xs-12 control-label">Name</label>{{ assettypeform.name.errors }}
						<div class="col-sm-4 col-xs-12">
							{{ assettypeform.name }}
						</div>
					</div>

					
					
					<div class="form-group">
						<div class="col-sm-6">
    						<button class="btn-primary btn pull-right">Submit</button>
    					</div>
    				</div>

				</form>
				</div>
			</div>
		</div>			
	</div>

{% endblock content %}
{% block jsscript %}


{% endblock jsscript %}