{% extends "erp_admin/base.html" %} {% block content %}
    {% load staticfiles %}
    {% block head %}
        <link href="{% static 'css/box_style.css' %}" rel='stylesheet' type='text/css' />
        <style>
            .white{
            color:#ffffff;
            }
        </style>
    {% endblock head %}
    <div class="blank">
        <div class="blank-page">
            <div class="row show-grid" style="margin-bottom:300px;">
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <h2>Asset List</h2>

                    <div class="row" style="margin-top:30px;">

                        <div class="col-sm-4 col-md-4 col-xs-12">
                            <div class="border_style bg3" align="center">
                                <a href="{% url 'asset:create' %}">
                                    <span class='white'>Add Asset</span>
                                    <div>
                                        <span class="white"><i class="fa fa-plus fa-2x"></i></span>
                                    </div>
                                </a>
                            </div>
                            
                        </div>




                   
                </div>
                
            </div>
        </div>
    </div>
    
    
{% endblock content %}