{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
<style>
	.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}
{% block content %}


<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Asset Type</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'asset:asset_type:create' %}" method="post">{% csrf_token %}
	        <div class="col-sm-12">
	            <div class="form-group">
	            	<input type="text" class="form-control" name="asset-type">
	           	</div>
	        </div>
         
           <div class="clearfix"></div>
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="filter-modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel`">Add Asset Category</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'asset:asset_type:asset_category' %}" method="post">{% csrf_token %}
	        <div class="col-sm-12">
	            <div class="form-group">
	            	<input type="text" class="form-control" name="asset-category">
	           	</div>
	        </div>

           <div class="clearfix"></div>
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row">
		 	
		 	<div class="col-sm-10 col-xs-12">
		 		{% if type == 'add' %}
		 			<h3>Asset Details</h3>
		 		{% elif type == 'edit' %}
		 			<h3>Edit Asset Details</h3>
		 		{% endif %}
		 	</div>
		 	<div class="col-sm-2 col-xs-12">
                {% if type == 'add' %}
		 		<a href="{% url 'asset:list' %}">cancel </a>
                {% elif type == 'edit' %}
                <a href="{% url 'asset:detail' asset.pk %}">cancel </a>
                {% endif %}


			</div>
		</div>
 	       
	    <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
			<form class="form-horizontal" action="{{ form_url }}" method="post" id="target">{% csrf_token %}
				{{ assetform.non_field_errors }}
				{{ assetform.field_errors }}

                    <div class="row">

				

                            <div class="form-group">
                                <label for="asset_type" class="col-sm-2 col-xs-12 control-label">Asset Type <span class="req">*</span></label>{{ assetform.asset_type.errors }}
                                <div class="col-sm-8 col-xs-12">
                                    {{ assetform.asset_type }}
                                </div>

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
                                    <i class="fa fa-plus"></i>
                                </button>

                            </div>

                            <div class="form-group">
                                <label for="asset_category" class="col-sm-2 col-xs-12 control-label">Asset Category <span class="req">*</span></label>{{ assetform.asset_category.errors }}
                                <div class="col-sm-8 col-xs-12">
                                    {{ assetform.asset_category }}

                                </div>

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal1">
                                    <i class="fa fa-plus"></i>
                                </button>


                            </div>


                            <div class="form-group">
                                <label for="name" class="col-sm-2 col-xs-12 control-label">Name <span class="req">*</span></label>{{ assetform.name.errors }}
                                <div class="col-sm-8 col-xs-12">
                                    {{ assetform.name }}
                                </div>
                            </div>




                            <div class="form-group">
                                <label for="manufacturing_date" class="col-sm-2 control-label col-xs-12">Manufacturing Date</label>{{ assetform.manufacturing_date.errors }}
                                <div class="col-sm-8">
                                    {{ assetform.manufacturing_date }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="expiry_date" class="col-sm-2 control-label col-xs-12">Expiry Date</label>{{ assetform.expiry_date.errors }}
                                <div class="col-sm-8">
                                    {{ assetform.expiry_date }}
                                </div>
                            </div>

                            <div class="form-inline">
                                    <label for="returnable" class="col-sm-2 control-label col-xs-12">Is returnable?</label>{{ assetform.returnable.errors }}
                                    <div class="col-sm-1">
                                        {{ assetform.returnable }}
                                    </div>
                                </div>



                            <div class="form-inline">
                                <label for="warranty" class="col-sm-2 control-label col-xs-12">Is warranty?</label>{{ assetform.warranty.errors }}
                                <div class="col-sm-1">
                                    {{ assetform.warranty }}

                            </div>


                            <div class="form-inline warranty">
                                <label for="warranty_duration" class="col-sm-2 control-label col-xs-12">Warranty Duration</label>{{ assetform.warranty_duration.errors }}
                                <div class="col-sm-2">
                                    {{ assetform.warranty_duration }}
                                </div>
                            </div>

                    </div>
                <div class="row" style="margin-top:7%;">








                    <div class="form-group">
						<div class="col-sm-10">
    						<button class="btn-primary btn pull-right">Submit</button>
    					</div>
    				</div>
                </div>

				</form>
				</div>
			</div>
		</div>			
	</div>

{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/select2.min.js' %}"></script>

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="/static/js/select2.js"></script>

<script>
      $(document).ready(function() {

        var $date_inputs = $('.tdate')
	    var date_format = 'YYYY-MM-DD';
	    $date_inputs.daterangepicker({
	        singleDatePicker: true,
        autoUpdateInput: false,
        //minDate:new Date(),
        // timePicker: true,
        // timePicker24Hour: false,
        autoApply: true,
        showDropdowns: true,
        locale: {
            format: date_format,
        },
	        // calender_style: "picker_4",
	    }, function(start, end, label) {
	        console.log(start.toISOString(), end.toISOString(), label);
	    });

	    $date_inputs.on('apply.daterangepicker', function(ev, picker) {
	        $(this).val(picker.startDate.format('YYYY-MM-DD'));
	    });

	    $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
	        $(this).val('');
	    });
      });

	
	 $('#id_warranty').click(function(){

            if($(this).is(":not(:checked)")){
                 $(".warranty").hide();
            }
             else if($(this).is(":checked"))
             {
                 $(".warranty").show();
            }
        });

         if($('#id_warranty').is(":not(:checked)"))
         {
          $(".warranty").hide();
         }



</script>

<script>

</script>
{% endblock jsscript %}