{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
<style>
	.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}
{% block content %}

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Asset Type</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'asset:asset_type:create' %}" method="post">{% csrf_token %}
	        <div class="col-sm-12">
	            <div class="form-group">
	            	<input type="text" class="form-control" name="asset-type">
	            	<input type="hidden" name="hid" value="hid">
	           	</div>
	        </div>
         
           <div class="clearfix"></div>
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row">
		 	
		 	<div class="col-sm-10 col-xs-12">
		 		{% if type == 'add' %}
		 			<h2>Customer Asset Details</h2>
		 		{% elif type == 'edit' %}
		 			<h2>Edit Customer Asset Details</h2>
		 		{% endif %}
		 	</div>
		 	<div class="col-sm-2 col-xs-12">
		 		<a href="{% url 'asset:category_dashboard' %}">cancel </a>
			</div>
		</div>
 	       
	    <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
			<form class="form-horizontal" action="{{ form_url }}" method="post">{% csrf_token %}
				{{ assetform.non_field_errors }}
				{{ assetform.field_errors }}
				

					<div class="form-group">
						<label for="cost_price" class="col-sm-2 col-xs-12 control-label">Asset Type <span class="req">*</span></label>{{ assetform.asset_type.errors }}
						<div class="col-sm-7 col-xs-12">
							{{ assetform.asset_type }}
							
						</div>
							
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
                    		<i class="fa fa-plus"></i>
                		</button>
                
							
					</div>
					<div class="form-group">
						<label for="name" class="col-sm-2 col-xs-12 control-label">Name <span class="req">*</span></label>{{ assetform.name.errors }}
						<div class="col-sm-7 col-xs-12">
							{{ assetform.name }}
						</div>
					</div>

					
					
					
	
					<!--<div class="form-group">
						<label for="belongs_to" class="col-sm-2 control-label col-xs-12">Location <span class="req">*</span></label>{{ assetform.location.errors }}
						<div class="col-sm-7">
							{{ assetform.location }}
						</div>
					</div>-->
				


					<!--<div class="form-group">
						<div class="form-inline">
							<label for="code" class="col-sm-2 col-xs-12 control-label">Code <span class="req">*</span></label>{{ assetform.code.errors }}
							<div class="col-sm-7 col-xs-12">
								{{ assetform.code }} 
							</div><a href="{% url 'asset:code_settings' %}"><i class="fa fa-pencil">Manage Code</i></a>
						</div>

					</div>-->

				
					<div class="form-group">

						<div class="form-inline">
							<label class="col-sm-2 col-xs-12 control-label">Price Based On</label>{{ assetform.price_based_on.errors }}
							<div class="col-sm-2 col-xs-12">
								{{ assetform.price_based_on }}
							</div>
						</div>

						<div class="form-inline">
							<label for="price" class="col-sm-2 col-xs-12 control-label">Service Price/unit</label>{{ assetform.price.errors }}
							<div class="col-sm-3 col-xs-12">
								{{ assetform.price }}
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-10">
    						<button class="btn-primary btn pull-right">Submit</button>
    					</div>
    				</div>

				</form>
				</div>
			</div>
		</div>			
	</div>

{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/select2.min.js' %}"></script>

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="/static/js/select2.js"></script>

<script>
      $(document).ready(function() {
        // $('.tdate').daterangepicker({
        //   singleDatePicker: true,
        //   // calender_style: "picker_4",
        //   showDropdowns: true,
        //   locale: {
        // 		format: 'YYYY-MM-DD',
      		// 	},

        // }, function(start, end, label) {
        //   console.log(start.toISOString(), end.toISOString(), label);
        // });
        var $date_inputs = $('.tdate')
	    var date_format = 'YYYY-MM-DD';
	    $date_inputs.daterangepicker({
	        singleDatePicker: true,
        autoUpdateInput: false,
        minDate:new Date(),
        // timePicker: true,
        // timePicker24Hour: false,
        autoApply: true,
        showDropdowns: true,
        locale: {
            format: date_format,
        },
	        // calender_style: "picker_4",
	    }, function(start, end, label) {
	        console.log(start.toISOString(), end.toISOString(), label);
	    });

	    $date_inputs.on('apply.daterangepicker', function(ev, picker) {
	        $(this).val(picker.startDate.format('YYYY-MM-DD'));
	    });

	    $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
	        $(this).val('');
	    });
      });

	
	$("#location").select2({
		
		});

</script>

<script>

</script>
{% endblock jsscript %}