{% extends "erp_admin/base.html" %} {% block content %}
    {% load staticfiles %}
    {% block head %}
        <link href="{% static 'css/box_style.css' %}" rel='stylesheet' type='text/css' />
    {% endblock head %}
    <div class="blank">
        <div class="blank-page">
            <div class="row show-grid" style="margin-bottom:300px;">
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <h2>Asset List</h2>

                    <!--<div class="row" style="margin-top:30px;">

                        <div class="col-sm-4 col-md-4 col-xs-12">
                            <div class="border_style bg3" align="center">
                                <a href="{% url 'asset:create' %}">
                                    <span class='white'>Add Asset Category</span>
                                    <div>
                                        <span class="white"><i class="fa fa-plus fa-2x"></i></span>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                        <div class="col-sm-4 col-md-4 col-xs-12">
                            <div class="border_style bg5" align="center">
                                <a href="{% url 'asset:customer_asset_create' %}">
                                    <span class='white'>Add Servicing Asset Category</span>
                                    <div>
                                        <span class="white"><i class="fa fa-plus fa-2x"></i></span>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                        <div class="col-sm-4 col-md-4  col-xs-12">
                            <div class="border_style bg4" align="center">
                                <a href="{% url 'asset:list' %}" >
                                    <span class='white'>Asset Category Lists</span>
                                    <div>
                                        <span class='white'><i class="fa fa-list fa-2x"></i></span>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                        
                        
                    </div>
                    <div class="row">
                       
                        <div class="col-sm-4 col-md-4 col-xs-12">
                            <div class="border_style bg1" align="center">
                                <a href="{% url 'asset:purchase_order:list' %}">
                                    <span class="white">Purchase Assets</span>
                                    <div>
                                        <span style="margin-top:3px;" class="white"><i class="fa fa-shopping-cart fa-2x"></i></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4  col-xs-12">
                            <div class="border_style bg2" align="center">
                                <a href="{% url 'asset:stock:list' %}">
                                    <span class="white">Stock Asset</span>
                                    <div>
                                        <span class="white"><i class="fa fa-balance-scale fa-2x"></i></span>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                 
                        
                    </div>-->
                    
                    <div class="row">
                        <!--<div class="col-sm-4 col-md-4  col-xs-12">
                            <div class="border_style bg3" align="center">
                                <a href="{% url 'asset:vehicle_asset_create' %}">
                                    <span class="white">Vehicle Asset</span>
                                    <div>
                                        <span class="white"><i class="fa fa-plus fa-2x"></i></span>
                                    </div>
                                </a>
                            </div>
                        </div>-->
                        <div class="col-sm-4 col-md-4 col-xs-12">
                            <div class="border_style bg5" align="center">
                                <a href="{% url 'asset:stock:assetLists' %}">
                                    <span class="white">Tools and Others</span>
                                    <div>
                                        <span style="margin-top:3px;" class="white"><i class="fa fa-gavel fa-2x"></i></span>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                        <!--
                        <div class="col-sm-4 col-md-4 col-xs-12">
                            <div class="border_style bg4" align="center">
                                <a href="{% url 'asset:vehicle_assetLists' %}">
                                    <span class="white">Vehicles</span>
                                    <div>
                                        <span style="margin-top:3px;" class="white"><i class="fa fa-truck fa-2x"></i></span>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                        <div class="col-sm-4 col-md-4  col-xs-12">
                            <div class="border_style bg5" align="center">
                                <a href="{% url 'asset:web_social_media_assetLists' %}" >
                                    <span class='white'>WebSocialMedias</span>
                                    <div>
                                        <span class='white'><i class="fa fa-google-plus fa-2x"></i></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                         <div class="col-sm-4 col-md-4  col-xs-12">
                            <div class="border_style bg2" align="center">
                                <a href="{% url 'asset:mobile_assetLists' %}">
                                    <span class="white">Mobile Connections</span>
                                    <div>
                                        <span class="white"><i class="fa fa-mobile fa-2x"></i></span>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                        <!--
                        <div class="col-sm-4 col-md-4  col-xs-12">
                            <div class="border_style bg5" align="center">
                                <a href="{% url 'asset:staff_asset_type_list' %}" >
                                    <span class='white'>Staff AssetType Lists</span>
                                    <div>
                                        <span class='white'><i class="fa fa-list fa-2x"></i></span>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                        -->
                    </div>
                    <div class="row">
                        <!--
                        <div class="col-sm-4 col-md-4 col-xs-12">
                            <div class="border_style bg1" align="center">
                                <a href="{% url 'asset:stock:staff_asset_lists' %}">
                                    <span class="white">Staff Assets Lists</span>
                                    <div>
                                        <span style="margin-top:3px;" class="white"><i class="fa fa-shopping-cart fa-2x"></i></span>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                        -->
                        
                       
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
    
{% endblock content %}