{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>
.i-circle {
    background: #83b9be;
    color: #fff;
    padding: 5px 12px;
    border-radius: 48%;
    font-size: 20px;
}
.profile-fo button:hover {
    background: #1ABC9C;
}
.profile-delete{
border: 0px!important;
padding: 7px 45px;
}
.profile-fo button {
    text-decoration: none;
    font-size: 0.9em;
    color: #fff;
    -webkit-border-radius: 4px;
    background: #D95459;
    display: block;
    text-align: center;
}
.profile-bottom{
width:100%!important;
margin-bottom:0px!important;
}
.profile {
min-height: 430px!important;
}

.tab-content {
    padding-left: 16px!important;
}
    .calender-box1 {
    width:181px;

    height:80px;
    border-radius: 6px 6px;
    background-color:#1ABC9C;

    position: relative;
    }
    .week1 {
    position: relative;
    color: #fff;
    top: -20px;
    font-size: 20px;
    text-align: center;
    font-family: "DESIB___", sans-serif !important;
    }
    .day1 {
    position: relative;
    color: #fff;
    top: -18px;
    font-size: 20px;
    text-align: center;
    font-family: "DESIB___", sans-serif !important;
    }
    .year-month1 {
    position: relative;
    color: #fff;
    top: -20px;
    font-size: 15px;
    text-align: center;
    font-family: "DESIB___", sans-serif !important;
    }

    .pad-tab
    {
    padding-top:13px;
    }
    .trans-bot{
    margin-bottom:20px!important;
    }

    .block{
    padding-bottom:200px;
    }



</style>
{% endblock head %}

{% block content %}
<div class="banner">
    <h2>
        <a href="/">Home</a>
        <i class="fa fa-angle-right"></i>
        <span>{{asset}}</span>
        <a href="{{ request.META.HTTP_REFERER }}" class="pull-right"><i class="fa fa-times"></i></a>
    </h2>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class=" profile">
            <div class="profile-bottom">
                <h3>&nbsp;{{asset.name}}</h3>
                <div class="profile-bottom-top">

                    <div class="col-md-8 profile-text">

                        <table>
                            <tr>
                                <td>Code</td>
                                <td>:</td>
                                <td>{{ asset.code }}</td>
                            </tr>


                            <tr>
                                <td>Type</td>
                                <td> :</td>
                                <td>{{ asset.asset_type }}</td>
                            </tr>
                             {% if asset.asset_category %}
                                <tr>
                                    <td>Category</td>
                                     <td> :</td>
                                    <td>{{ asset.asset_category }}</td>
                                </tr>
                            {% endif %}
                             {% if asset.manufacturing_date %}
                                <tr>
                                    <td>Manufacturing Date</td>
                                     <td> :</td>
                                    <td>{{ asset.manufacturing_date }}</td>
                                </tr>
                            {% endif %}
                             {% if asset.expiry_date %}
                                <tr>
                                    <td>Expiry Date</td>
                                     <td> :</td>
                                    <td>{{ asset.expiry_date }}</td>
                                </tr>
                            {% endif %}
                            {% if asset.warranty %}
                                <tr>
                                    <td>Warranty Duration</td>
                                     <td> :</td>
                                    <td>{{ asset.warranty_duration }}</td>
                                </tr>
                            {% endif %}



                        </table>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="profile-bottom-bottom">
                    <div class="col-md-4 col-xs-12 col-sm-12 profile-fo">
                       <!-- <a href="" class="pro"
                           style="background-color:#1769aa;"><i class="fa fa-plus"></i></a>-->

                    </div>
                    <div class="col-md-4 col-xs-12 col-sm-12 profile-fo">

                        <a href="{% url 'asset:edit' asset.pk %}" class="pro"><i class="fa fa-pencil"></i></a>
                    </div>

                    <div class="col-md-4 col-xs-12 col-sm-12 profile-fo">
                        <!--<form method="post" action=""
                              onsubmit="remove(this, event)" id="form1">
                            {% csrf_token %}
                            <a style="background: #fb3b3b;" type="submit" class="pro profile-delete" onclick="document.getElementById('form1').submit();"><i class="fa fa-trash"></i></a>
                        </form>-->
                    </div>
                    <div class="clearfix"></div>
                </div>


            </div>
            <div class="weather" style="margin-top:1.5em;">


                <div class="weather-bottom pad-tab">
                    <h4 class="" align="center">Status</h4>
                    <div class="weather-bottom1">
                        <div class="weather-head">
                            <!--<h4>Cloudy</h4>-->
                            <figure class="icons">
                                <i class="fa fa-calendar-{% if asset.warranty %}check{% else %}times{% endif %}-o fa-3x"></i>
                            </figure>

                            <div class="bottom-head">
                                <p>Warranty</p>
                                <!--<p>Bookings</p>-->
                            </div>
                        </div>
                    </div>
                    <div class="weather-bottom1 ">
                        <div class="weather-head">
                            <!--<h4>Sunny</h4>-->
                            <figure class="icons">
                                <i class="fa fa-calendar-{% if asset.returnable %}check{% else %}times{% endif %}-o fa-3x"></i>
                            </figure>

                            <div class="bottom-head">
                                <p>Returnable</p>

                            </div>
                        </div>
                    </div>
                    <div class="weather-bottom1">
                        <div class="weather-head">
                            <!--<h4>Rainy</h4>-->
                            <figure class="icons">
                                <i class="fa fa-calendar-{% if asset.available %}check{% else %}times{% endif %}-o fa-3x"></i>
                            </figure>

                            <div class="bottom-head">
                                <p>Available</p>
                            </div>
                        </div>
                    </div>
                    <div class="weather-bottom1 ">
                        <div class="weather-head">
                            <!--<h4>Snowy</h4>-->
                            <figure class="icons">
                                <i class="fa fa-calendar-{% if asset.used %}check{% else %}times{% endif %}-o fa-3x"></i>
                            </figure>

                            <div class="bottom-head">
                                <p>Used
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>

        </div>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-6">
        <div class="block" id="tab1">
            <div class="trans-bot">
                 <h3>Location Status</h3>
            </div>
            <ul id="myTab" class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">
                        Upcoming
                    </a>
                </li>
                <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab"
                                           aria-controls="profile">Todays</a></li>
                <li role="presentation">
                    <a href="#invoice" id="myTabDrop1" data-toggle="tab"
                       aria-controls="invoice" role="tab">History</a>
                </li>



            </ul>
            <div class="mailbox-content">
                <div class="mail-toolbar clearfix" id="example-2">
                    <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    {% for transaction in upcoming_transactions %}
                                   <tr class="table-row">
                                        <td class="table-img">
                                            <div class="col-xs-8 col-sm-8 col-md-10 col-lg-6">
                                                <div class="calender-box1">
                                                    <div class="box-1">
                                                        <span class="fa fa-chevron-left"
                                                                  style="top: 39px;font-size: 21px;left: 3px;color: #fff;position: relative;"></span>
                                                        <span class="fa fa-chevron-right" style="float: right; top: 39px;font-size:
                                                            21px; right: 3px; color: #fff;position: relative;"></span>
                                                        <div class="week1">
                                                            {{transaction.customer}}
                                                        </div>
                                                        <div class="day1">
                                                            {{transaction.date_and_time|time}}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>






                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>


                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
                            {% if todays_transactions %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>

                                    </thead>
                                    <tbody>

                                    {% for transaction in todays_transactions %}
                                    <tr class="table-row">
                                        <td class="table-img">
                                            <div class="col-xs-8 col-sm-8 col-md-10 col-lg-6">
                                                <div class="calender-box1">
                                                    <div class="box-1">
                                                        <span class="fa fa-chevron-left"
                                                                  style="top: 39px;font-size: 21px;left: 3px;color: #fff;position: relative;"></span>
                                                        <span class="fa fa-chevron-right" style="float: right; top: 39px;font-size:
                                                            21px; right: 3px; color: #fff;position: relative;"></span>
                                                        <div class="week1">
                                                            {{transaction.customer}}
                                                        </div>
                                                        <div class="day1">
                                                            {{transaction.date_and_time|time}}
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>






                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="invoice" aria-labelledby="myTabDrop1">
                            {% if transactions %}
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <th>Customer</th>
                                    <th>Date</th>
                                    <th>Employee</th>

                                    </thead>
                                    <tbody>
                                    {% for transaction in transactions %}
                                    <tr class="table-row">
                                        <td><a href="{% url 'customer:detail' transaction.customer.pk %}">{{ transaction.customer }}</a></td>
                                        <td>{{ transaction.date_and_time }}</td>
                                        <td>{{ transaction.source }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr class="table-row">
                                        <td>No history</td>
                                    </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            {% endif %}
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="package" aria-labelledby="myTabDrop2">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <th>Package</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                    {% for purchased in purchased %}
                                    <tr>
                                        <td>{{ purchased.package.name}}</td>
                                        <td>{% if purchased.crossed_validity %}
                                                Expired on {{purchased.validity_date}}
                                            {% else %}
                                            <a class="btn btn-primary" href="{% url 'invoice:detail' purchased.invoice.pk %}">Redeem Services</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        No Packages Purchased
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>


                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block jsscript %}
<script>
function remove(form, e){
    e.preventDefault()
    if(confirm('Confirm Delete')){
        form.submit()
    }
}








   $('.count').each(function () {
  var $this = $(this);
  jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
    duration: 1000,
    easing: 'swing',
    step: function () {
      $this.text(Math.ceil(this.Counter));
    }
  });
});






















</script>

{% endblock jsscript %}
