{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
<style>
	.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}
{% block content %}

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row">
		 	
		 	<div class="col-sm-10 col-xs-12">
		 		{% if type == 'add' %}
		 			<h2>Mobile Asset Details</h2>
		 		{% elif type == 'edit' %}
		 			<h2>Edit Mobile Asset Details</h2>
		 		{% endif %}
		 	</div>
		 	<div class="col-sm-2 col-xs-12">
		 		<a href="{% url 'asset:mobile_assetLists' %}">cancel </a>
			</div>
		</div>
 	       
	    <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
			<form class="form-horizontal" action="{{ form_url }}" method="post">{% csrf_token %}
				{{mobileform.non_field_errors }}
				{{mobileform.field_errors }}
				

					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">Connection Number<span class="req">*</span></label>{{ mobileform.number.errors }}
						<div class="col-sm-7 col-xs-12">
							{{ mobileform.number }}
						</div>
					</div>

					<div class="form-group">
						<div class="form-inline">
							<label class="col-sm-2 col-xs-12 control-label">Place of Using <span class="req">*</span></label>{{ mobileform.place_of_using.errors }}
							<div class="col-sm-7 col-xs-12">
								{{ mobileform.place_of_using }} 
							</div>
						</div>

					</div>

					<div class="form-group">
						<div class="form-inline">
							<label class="col-sm-2 col-xs-12 control-label">Used By <span class="req">*</span></label>{{ mobileform.used_by.errors }}
							<div class="col-sm-7 col-xs-12">
								{{ mobileform.used_by }}
							</div>
						</div>

					</div>
					
					<div class="form-group">
						<div class="form-inline">
							<label class="col-sm-2 col-xs-12 control-label">Status <span class="req">*</span></label>{{ mobileform.state.errors }}
							<div class="col-sm-7 col-xs-12">
								{{ mobileform.state }} 
							</div>
						</div>

					</div>
					
					
					 
					<div class="form-group">
						<div class="col-sm-10">
    						<button class="btn-primary btn pull-right">Submit</button>
    					</div>
    				</div>

				</form>
				</div>
			</div>
		</div>			
	</div>

{% endblock content %}
{% block jsscript %}

<script src="/static/js/select2.js"></script>

{% endblock jsscript %}