{% extends "erp_admin/base.html" %} 

{% block head %}
<style>

</style>
{% endblock head %} 
{% block content %}

<div>
    <div class="block">
        <a href="{% url 'asset:mobile_assetLists' %}" class="btn btn-default">Back </a>
        <div class="row show-grid">
           
                <div class="col-sm-8 col-xs-12">
                    <h3>Connection Number: {{ mobile_asset.number }}</h3>
                </div>
                <div class="pull-right">
                    <a href="{% url 'asset:mobile_asset_edit' mobile_asset.pk %}"><i class="fa fa-pencil"></i></a>
                </div>
            
        </div>
    </div>
    <div class="block">
        
        <div class="row show-grid">
            
                <div class="col-sm-6 col-xs-12" style="">
                    <span class="date_font">
                        Date and Time: {{ mobile_asset.created_at | date }}
                    </span>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <span class="date_font pull-right">
                        Last Update: {{ mobile_asset.updated_at | date }}
                    </span>
                </div>
           
        </div>
        <div class="row show-grid">
            <div class="col-sm-8">
                <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <th colspan="2">Vehicle Asset Details</th>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <th>Connection Number</th>
                            <td>{{ mobile_asset.number }}</td>
                        </tr>
                        
                       
                        <tr>
                            <th>Place of Using</th>
                            <td>{{ mobile_asset.place_of_using }}</td>
                        </tr>
                        

                       
                        <tr>
                            <th>Status</th>
                            <td>{{ mobile_asset.state }}</td>
                        </tr>

                       
                        <tr>
                            <th>Used By</th>
                            <td>{{ mobile_asset.used_by }}</td>
                        </tr>
                       

                        </tbody>
                </table>
                </div>
            </div>
        </div>
        

    </div>
</div>
    
{% endblock content %} 

{% block jsscript %}

{% endblock jsscript %}