{% extends "erp_admin/base.html" %}
{% load humanize static %}
{% block head %}
<style type="text/css">

.fabutton {
  background: none;
  padding: 0px;
  border: none;
}

</style>
{% endblock head %}
{% block content %}
 

<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <form action="" method="get">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.number.label }}</label>
                    {{ filter.form.number }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Status</label>
                    {{ filter.form.state }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.used_by.label }}</label>
                    {{ filter.form.used_by }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.place_of_using.label }}</label>
                    {{ filter.form.place_of_using }}
                </div>
            </div>
             
            <div class="clearfix"></div>
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

 
<div class="block">
    <div class="row show-grid">
        <div class="col-sm-6 col-xs-12">
            <a href="{% url 'asset:dashboard' %}" class="btn btn-default">Back</a>
            
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="pull-right">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
                    Apply Filters
                </button>
                
                <a class="btn btn-primary" href="{% url 'asset:mobile_assetLists' %}">
                    Refresh
                </a>
            </div>
        </div>                         
    </div>
    <div class="row show-grid">
        <h3>
               Mobile Assets List
                <a href="{% url 'asset:mobile_asset_create' %}"> <i class="fa fa-plus-square-o "></i></a>
        </h3>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                           <th>#</th>
                           <th>Number</th>
                           <th>Place of Using</th> 
                           <th>Used By</th>
                           <th>Status</th> 
                           <th>Edit</th>
                           <th>View</th>
                           <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for asset in mobile_assets %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>
                                
                                {{ asset.number }}
                            </td>
                            <td>
                                {{ asset.place_of_using }}
                            </td>
                             <td>
                                {{ asset.used_by }}
                            </td>
                            <td>
                                <mark>{{ asset.state }}</mark>
                            </td>
                            <td>
                                <a href="{% url 'asset:mobile_asset_edit' asset.pk %}"><i class="fa fa-pencil"></i></a>
                            </td>
                            <td>
                                <a href="{% url 'asset:mobile_asset_detail' asset.pk %}"><i class="fa fa-eye"></i></a>
                            </td>
                            <td>
                                <form class="delete" method="post" action="{% url 'asset:mobile_asset_delete' asset.pk%}" onsubmit="remove(this, event)">
                                    {% csrf_token %}
                                    <button type="submit" class="fabutton">
                                        <i class="fa fa-trash-o fa-fw"></i> 
                                    </button>
                                </form>
                            </td>
                            
                        </tr>
                        {% empty %}
                        <tr><td colspan="8">No mobile assets</td></tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div id="pagination">
                {{pagination|safe}}
            </div>
        </div>
    </div>
</div>


{% endblock content %}
{% block jsscript %}
<script>
$(document).ready(function(){


    function remove(form, e){
        e.preventDefault()
        if(confirm('Confirm Delete')){
            form.submit()
        }
    }

    $('form.delete').submit( function (e){
        e.preventDefault()
        e.stopPropagation()
        if(confirm('Confirm Delete')){
            this.submit()
        }
    });

});
</script>
{% endblock jsscript %}