{% extends "erp_admin/base.html" %} 
{% load static tz %} 
{% get_current_timezone as TIME_ZONE %} 
{% block head %}
<style>
.row{
    margin-left:5px;
    margin-right:5px;
}
.table>thead>tr>th{
    color: #0a16a8!important;
}
</style>
{% endblock head %} 
{% block content %}

<div id="quotation-block" v-cloak>
    <div class="block">
        <a href="{{request.META.HTTP_REFERER}}">Back </a>
        <div class="row show-grid">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <h3>Asset: {{ asset.name }}</h3>
                </div>
                
            </div>
        </div>
    </div>

    <div class="block">
        
        <div class="row show-grid">
            <div class="row">
                <div class="col-sm-6 col-xs-12" style="">
                    <span class="date_font">
                        Date and Time: {{ asset.created_at | date }}
                    </span>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <span class="date_font pull-right">
                        Last Update: {{ asset.updated_at | date }}
                    </span>
                </div>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-8">
                <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <th colspan="2">Asset Details</th>
                    </thead>
                    <tbody>
                        
                        <tr>
                            <th>Code</th>
                            <td>{{ asset.code }}</td>
                        </tr>
                        {% if asset.price %}
                        <tr>
                            <th>Unit Price</th>
                            <td><i class="fa fa-inr" aria-hidden="true"></i> {{ asset.price }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Category</th>
                            <td>{{ asset.asset_type }}</td>
                        </tr>
                        {% if asset.location %}
                        <tr>
                            <th>Location</th>
                            <td>{{ asset.location }}</td>
                        </tr>
                        {% endif %}
                        
                        
                       
                        </tbody>
                </table>
                </div>
            </div>
        </div>
        
       
        

    </div>

    <div class="block">
        <div class="row">
            <div class="col-sm-12" style="padding:30px;">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Received Quantity</th>
                                <th>Current Quantity</th>
                                <th>Rate Per Item</th>
                                <th>Shop Name</th>
                                <th>Shop Number</th>
                                <th>Purchased By</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for asset_item in asset_items %}
                            <tr>
                                <td scope="row">
                                    {{ forloop.counter }}
                                </td>
                                <td>
                                    <a href="{% url 'asset:stock:batch:item:item_detail' asset_item.batch.pk asset_item.pk %}">{{ asset_item.code }}</a>
                                </td>
                                <td>
                                    {{ asset_item.batch.received_quantity }}
                                </td>
                                <td>
                                    {{ asset_item.batch.current_quantity }}
                                </td>
                                <td>
                                    <i class="fa fa-inr"></i> {{ asset_item.batch.price_per_item }}
                                </td>
                                <td>
                                    {% if asset_item.batch.stock.supplier %}
                                        {{ asset_item.batch.stock.supplier.name }}
                                    {% elif asset_item.batch.stock.purchase_order %}
                                        {{ asset_item.batch.stock.purchase_order.supplier.supplier.name}}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if asset_item.batch.stock.supplier %}
                                        {% for supplier_contact in asset_item.batch.stock.supplier.supplier_contacts.all %}
                                            {{supplier_contact.phone}},<br>
                                        {% endfor %}
                                    {% elif asset_item.batch.stock.purchase_order %}
                                        {% for supplier_contact in asset_item.batch.stock.purchase_order.supplier.supplier.supplier_contacts.all %}
                                            {{supplier_contact.phone}}<br>{% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </td>
                                <td>
                                    {{ asset_item.batch.stock.purchased_by.user.first_name }}
                                </td>
                                
                            </tr>
                            {% empty %}
                            <tr>No staff assets items</tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div id="pagination">
                    {{pagination|safe}}
                </div>
            </div>
        </div>
    </div>
</div>
    




{% endblock content %} 

{% block jsscript %}

{% endblock jsscript %}