{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">

.fabutton {
  background: none;
  padding: 0px;
  border: none;
}
</style>
{% endblock head %}
{% block content %}

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <form action="" method="get">
            {# {{ filter.form }} #}
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.code.label }}</label>
                    {{ filter.form.code }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.name.label }}</label>
                    {{ filter.form.name }}
                </div>
            </div>
             <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.asset_type.label }}</label>
                    {{ filter.form.asset_type }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.own_asset.label }}</label>
                    {{ filter.form.own_asset }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.rent_asset.label }}</label>
                    {{ filter.form.rent_asset }}
                </div>
            </div>
             <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.customer_asset.label }}</label>
                    {{ filter.form.customer_asset }}
                </div>
            </div>
            

            <!--<div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.created_at.label }}</label>
                    {{ filter.form.created_at }}
                    <div id="created_at" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%;">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span>{% if from_date %}{{from_date}}-{{to_date}} {% else %} {{today|date:"F"}} {{today|date:"Y"}} {% endif %}</span><b class="caret"></b>
                    </div>
                </div>
            </div>-->
            <div class="clearfix"></div>
            <h4 style="padding: 10px;">Sort By</h4>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.order_by_created_at.label }}</label>
                    {{ filter.form.order_by_created_at }}
                </div>
            </div>
            
                
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
	
	<div class="content-main">
		<div class="block">
			<div class="row show-grid">
				<div class="col-sm-6">
                <a style="padding-left: 5px;" href="{% url 'asset:dashboard' %}">Back to Dashboard</a>
					<h3>
					Staff Assets
					<a href="{% url 'asset:create' %}" class="btn btn-link">
						<i class="fa fa-plus-square-o fa-2x"></i>
					</a>
					</h3>
				</div>
				<div class="col-sm-6">
					<div class="pull-right">
						<!-- Button trigger modal -->
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
						Apply Filters
						</button>
						<a href="{% url 'asset:list' %}" class="btn btn-primary">Refresh</a>
						
						
						
					</div>
				</div>
			</div>
			<div class="row show-grid">
				<div class="col-sm-12">
                    <div class="table-responsive">

						<table class="table table-striped">
							<thead>
								<tr>
									
								</tr>
							</thead>
							<tbody>
								{% for asset in assets %}
									<tr>
										<td scope="row">{{ forloop.counter }}</td>
										<td><a href="{% url 'asset:staff_asset_detail' asset.pk %}">{{asset.name}}({{asset.code}})</td>
										<td>
		                                    <a href="{% url 'asset:staff_asset_detail' asset.pk %}" class="btn btn-link">
		                                        <i class="fa fa-eye"></i>
		                                    </a>
		                                </td>
		                                <td>
		                                    <a href="{% url 'asset:edit' asset.pk %}" class="btn btn-link">
		                                        <i class="fa fa-pencil-square-o fa-fw"></i> 
		                                    </a>
		                                </td>
                                       
		                                <td>
		                                    <form method="post" action="{% url 'asset:delete' asset.pk %}" onsubmit="remove(this, event)">
		                                        {% csrf_token %}
		                                        <button type="submit" class="fabutton">
		                                            <i class="fa fa-trash-o fa-fw"></i> 
		                                        </button>
		                                    </form>
		                                </td>
										
									</tr>
									{% empty %}
									<tr><td>No Assets</td></tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div id="pagination">
						{{pagination|safe}}
					</div>
					
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
{% block jsscript %}

<script>
$(document).ready(function(){
    

    function remove(form, e){
        e.preventDefault()
        if(confirm('Confirm Delete')){
            form.submit()
        }
    }

});
</script>

{% endblock jsscript %}