{% extends "erp_admin/base.html" %} {% block content %}
    {% load staticfiles %}
    {% block head %}
        <link href="{% static 'css/box_style.css' %}" rel='stylesheet' type='text/css' />
    {% endblock head %}
    <div class="blank">
        <div class="blank-page">
            <div class="row show-grid" style="margin-bottom:300px;">
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <h2>Purchase & Stock</h2>

                    <div class="row">
                       
                        <div class="col-sm-4 col-md-4 col-xs-12">
                            <div class="border_style bg1" align="center">
                                <a href="{% url 'asset:purchase_order:list' %}">
                                    <span class="white">Purchase Assets</span>
                                    <div>
                                        <span style="margin-top:3px;" class="white"><i class="fa fa-shopping-cart fa-2x"></i></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4 col-md-4  col-xs-12">
                            <div class="border_style bg2" align="center">
                                <a href="{% url 'asset:stock:list' %}">
                                    <span class="white">Stock Asset</span>
                                    <div>
                                        <span class="white"><i class="fa fa-balance-scale fa-2x"></i></span>
                                    </div>
                                </a>
                            </div>
                            
                        </div>
                 
                        
                    </div>
                    
                    
                   
                </div>
                
            </div>
        </div>
    </div>
    
    
{% endblock content %}