{% extends "erp_admin/base.html" %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
<style>
	.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}
{% block content %}


<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Customer</h4>
      </div>
      <div class="modal-body">
        <form action="{% url 'customer:customer_new_create' barcode %}" method="post">{% csrf_token %}
	        <div class="col-sm-12" style="padding-bottom:10px;">
	            <div class="form-group">
	            	Name : {{customerform.name}}
	           	</div>
                <div class="form-group">
	            	Phone : {{customerform.phone}}
	           	</div>
               Address: {{customerform.address}}

	        </div>

           <div class="clearfix"></div>
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>



<div class="blank">
	 <div class="grid-form1">
	 	<div class="row">

		 	<div class="col-sm-10 col-xs-12">
		 		{% if type == 'add' %}
		 			<h3>Transaction Details</h3>
		 		{% elif type == 'edit' %}
		 			<h3>Edit Transaction Details</h3>
		 		{% endif %}
		 	</div>
		 	<div class="col-sm-2 col-xs-12">
                {% if type == 'add' %}
		 		<a href="{% url 'asset:list' %}">cancel </a>
                {% elif type == 'edit' %}
                <a href="{% url 'asset:detail' asset.pk %}">cancel </a>
                {% endif %}


			</div>
		</div>

	    <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
			<form class="form-horizontal" action="{{ form_url }}" method="post" id="target">{% csrf_token %}
				{{ assetform.non_field_errors }}
				{{ assetform.field_errors }}

                    <div class="row">



                            <div class="form-group">
                                <label for="asset_type" class="col-sm-2 col-xs-12 control-label">Customer <span class="req">*</span></label>{{ assetform.customer.errors }}
                                <div class="col-sm-8 col-xs-12">
                                    {{ assetform.customer }}
                                </div>

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
                                    <i class="fa fa-plus"></i>
                                </button>

                            </div>

                            <div class="form-group">
                                <label for="asset_category" class="col-sm-2 col-xs-12 control-label">Date and Time <span class="req">*</span></label>{{ assetform.date_and_time.errors }}
                                <div class="col-sm-8 col-xs-12">
                                    {{ assetform.date_and_time }}

                                </div>

                            </div>


                            <div class="form-group">
                                <label for="name" class="col-sm-2 col-xs-12 control-label">Handover From<span class="req">*</span></label>{{ assetform.source.errors }}
                                <div class="col-sm-8 col-xs-12">
                                    {{ assetform.source }}
                                </div>
                            </div>
                        <div class="form-group">
                                <label for="name" class="col-sm-2 col-xs-12 control-label">Handover To <span class="req"></span></label>{{ assetform.destination.errors }}
                                <div class="col-sm-8 col-xs-12">
                                    {{ assetform.destination }}
                                </div>
                            </div>

                         <div class="form-group">
                                <label for="name" class="col-sm-2 col-xs-12 control-label">Previous Transaction <span class="req"></span></label>{{ assetform.parent.errors }}
                                <div class="col-sm-8 col-xs-12">
                                    {{ assetform.parent }}
                                </div>
                            </div>





                    </div>
                <div class="row" style="margin-top:7%;">








                    <div class="form-group">
						<div class="col-sm-10">
    						<button class="btn-primary btn pull-right">Submit</button>
    					</div>
    				</div>
                </div>

				</form>
				</div>
			</div>
		</div>
	</div>

{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/select2.min.js' %}"></script>

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="/static/js/select2.js"></script>

<script>
      $(document).ready(function() {

          var $date_inputs = $('.tdate')
          var date_format = 'YYYY-MM-DD HH:mm';
            $date_inputs.daterangepicker({
                singleDatePicker: true,
                autoUpdateInput: true,
                autoApply: true,
                showDropdowns: true,
                startDate: new Date(),
                timePicker: true,
                <!--timePicker24Hour:true,-->
                locale: {
                    format: date_format,
                },
                    // calender_style: "picker_4",
                }, function(start, end, label) {
                });

                $date_inputs.on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('YYYY-MM-DD HH:mm'));
                });

                $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
                    $(this).val('');
                });

                 });








</script>


{% endblock jsscript %}