
<div class="block">
  <router-link :to="{name: 'quotations'}" replace>Cancel</router-link>
  <form role="form" method="post" class="" @submit.prevent="saveQuotation">
    <div class="form-group" :class="{'has-error': errors.has('customer') }">
      <label class="col-sm-2 control-label">Customer:</label>
      <div class="col-sm-4">
        <customer-select :options="options"
          v-model="quotation.customer"
          url="/api/customers/select2_list/"
          style="width: 100%;"
          query-parameter="name">
          <!-- <option value="">Enter Customer customer</option> -->
        </customer-select>
        <span v-show="errors.has('customer')" class="help-block">
            <i class="fa fa-warning"></i>{{ errors.first('customer') }}
        </span>
        <!--<select2 v-pre  class="form-control" v-model="quotation.new_quotation.customer"></select>-->
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="form-group" style="padding-top:10px;">

      <div class="form-inline" :class="{'has-error': errors.has('code') }">
        <label class="col-sm-2 control-label">Code:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" v-model="quotation.code">
          <span v-show="errors.has('quotation')" class="help-block">
            <i class="fa fa-warning"></i>{{ errors.first('code') }}
          </span>
        </div>
      </div>
      
      <div class="form-inline" :class="{'has-error': errors.has('status') }">
        <label class="col-sm-1 control-label">Status:</label>
        <div class="col-sm-3">
          <select class="form-control" v-model="quotation.status">
            <option v-for="option in choices.statuses" :value="option[0]">
              {{ option[1] }}
            </option>
          </select>
          <span v-show="errors.has('status')" class="help-block">
            <i class="fa fa-warning"></i>{{ errors.first('status') }}
          </span>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="form-group" style="padding-top:10px;">

        <div class="form-inline" :class="{'has-error': errors.has('reference') }">
          <label class="col-sm-2 control-label">Reference:</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" v-model="quotation.reference">
            <span v-show="errors.has('reference')" class="help-block">
              <i class="fa fa-warning"></i>{{ errors.first('reference') }}
            </span>
          </div>
        </div>
      
        <div class="form-inline" :class="{'has-error': errors.has('amount') }">
          <label class="col-sm-2 control-label">Amount:</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" v-model="quotation.amount">
            <span v-show="errors.has('amount')" class="help-block">
              <i class="fa fa-warning"></i>{{ errors.first('amount') }}
            </span>
          </div>
        </div>
        
        <div class="clearfix"></div>
    </div>




    <!-- <div class="form-group" style="padding-top:10px;">

       <div class="form-inline" :class="{'has-error': errors.has('reference') }">
        <label class="col-sm-2 control-label">Reference:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" v-model="quotation.reference">
          <span v-show="errors.has('reference')" class="help-block">
            <i class="fa fa-warning"></i>{{ errors.first('reference') }}
          </span>
        </div>
      </div>
      <div class="form-inline" :class="{'has-error': errors.has('reference') }">
        <label class="col-sm-2 control-label">Reference:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" v-model="quotation.reference">
          <span v-show="errors.has('reference')" class="help-block">
            <i class="fa fa-warning"></i>{{ errors.first('reference') }}
          </span>
        </div>
      </div>
      
      
      <div class="clearfix"></div>
    </div>
 -->
    <div class="form-group" style="padding-top:10px;">
      <div class="form-inline" :class="{'has-error': errors.has('reason_for_lost') }">
        <label class="col-sm-2 control-label">Reason for Lost</label>
        <div class="col-sm-8">
          <textarea class="form-control" v-model="quotation.reason_for_lost"></textarea>
          <span v-show="errors.has('reason_for_lost')" class="help-block">
            <i class="fa fa-warning"></i>{{ errors.first('reason_for_lost') }}
          </span>
        </div>
      </div>
      
      <div class="clearfix"></div>
    </div>
    <!-- <div class="form-group" :class="{'has-error': errors.has('note') }">
      <label class="col-sm-2 control-label">Note: </label>
      <div class="col-sm-10">
        <textarea class="form-control" v-model="quotation.note"></textarea>
        <span v-show="errors.has('note')" class="help-block">
          <i class="fa fa-warning"></i>{{ errors.first('note') }}
        </span>
      </div>
    </div>
    <div class="form-group" :class="{'has-error': errors.has('reason_for_lost') }">

    <div class="form-inline" :class="{'has-error': errors.has('reference') }">
        <label class="col-sm-2 control-label">Reference:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" v-model="quotation.reference">
          <span v-show="errors.has('follow_up_date')" class="help-block">
            <i class="fa fa-warning"></i>{{ errors.first('reference') }}
          </span>
        </div>
      </div>
      <label class="col-sm-2 control-label">Reason for Lost</label>
      <div class="col-sm-10">
        <textarea class="form-control" v-model="quotation.reson_for_lost"></textarea>
        <span v-show="errors.has('reason_for_lost')" class="help-block">
          <i class="fa fa-warning"></i>{{ errors.first('reason_for_lost') }}
        </span>
      </div>
    </div> -->
    <!-- :value="quotation.customer" -->
    <button type="submit" class="btn btn-default">Save</button>
    <div class="clearfix"></div>
  </form>
</div>
