{% extends "erp_admin/base.html" %}
{% load guardian_tags %}
{% block head %}

<style>

.table>thead>tr>th{
    color:#288f99!important;
    font-size: 15px!important;

}
</style>
{% endblock head %}

{% block content %}
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="col-sm-12">
                <h3>Employees

                        <a href="{% url 'employee:create' %}" class="btn btn-link">
                              <i class="fa fa-plus-square-o fa-2x"></i>
                        </a>
                </h3>


            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Edit</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>

                              <a href="{% url 'employee:profile' employee.code %}">
                               {{employee}}
                               </a>
                            </td>


                            {% if perms.employee.change_employee %}
                            <td>
                                 <a href="{% url 'employee:edit' employee.code %}">
                                <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            {% endif %}
                            {% if perms.employee.delete_employee %}
                            <td>

                                <form class="delete" method="post" action="{% url 'employee:delete' employee.code %}">{% csrf_token %}
                                        <button type="submit" class="fabutton">
                                            <i class="fa fa-trash-o fa-fw"></i>
                                        </button>
                                    </form>

                            </td>
                            {% endif %}
                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="4">No Employees in System</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}


{% block jsscript %}

<script>
$(document).ready(function(){

$('form.delete').submit( function (e){
        e.preventDefault()
        e.stopPropagation()
        if(confirm('Do you want to Delete the entire student Details')){
            this.submit()
        }
    })


  });
</script>
{% endblock jsscript %}
