{% extends "erp_admin/base.html" %}
{% load static %}
{% block title %} Daily Report{% endblock title %}
{% block head %}
<style type="text/css">

.white{
  color: #fff!important;
  text-align: center!important;
}
.heigh-box{
    height: 95px;
}
</style>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
{% endblock head %}
{% block content %}
<div class="block">
    <div class="row show-grid">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h3>Report {% if from_date == 0 %} for today {% else %} {% endif %}</h3>
            </div>
            <div class="col-sm-6 col-xs-12">
                <span style="color:#000;font-size:15px;"><mark># {{ request.user.first_name}} {{ request.user.last_name}} </mark></span>
            </div>
        </div>
    </div>
    
    <div class="row" style="padding-right:15px;">
    <form id="form" action="" method="post">
            {% csrf_token %}
        <div class="col-sm-4">
            <div id="date" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%;">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                <span>{% if from_date %}{{from_date}}-{{to_date}} {% else%} {{today|date:"F"}} {{today|date:"Y"}} {% endif %}</span><b class="caret"></b>
            </div>
        </div>
        <input type="hidden" name="from" id="from" required>
        <input type="hidden" name="to" id="to" required>
        <div class="col-sm-3">
            <input type="submit" name="search" value="Search" class="btn">
        </div>
    </form>
    </div>
</div>
<div class="block">
    <div class="row show-grid">
        <div class="col-md-4 col-sm-14 col-xs-12 heigh-box" style="background-color:#337ab7; ">
            <h4 class="white">Enquiry assigned{% if from_date == 0 %} for today {% endif %}</h4>  
            <p class="white">{{ enquiries_count }}</p>
        </div>
        <div class="col-md-4 col-sm-14 col-xs-12 heigh-box" style="background-color:#C62828 ">
            <h4 class="white">Sales made {% if from_date == 0 %} for today {% endif %}</h4>  
            <p class="white">{{ invoices_count }}</p>
                
        </div>
        <div class="col-md-4 col-sm-14 col-xs-12 heigh-box" style="background-color:#9E9D24 ">
            <h4 class="white">Distance Travelled {% if from_date == 0 %} for today {% endif %}</h4>  
            <p class="white">{{ distance.distance }}Km</p>
                
        </div>
    </div>
</div>

<div class="block">
    <div class="row show-grid">
        <div class="row">
            <div class="col-sm-8">
                <h3>Battery Status</h3>
            </div>
        </div>

        
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% if batteries %}
            <div id="graph" style="width:100%; height:450px;"></div>
            {% else %}
            <p>Not Available</p>
            {% endif %}

        </div>
        
    </div>
</div>
{% endblock content %}
{% block scripts %}
<!-- ECharts -->
<script src="{% static 'js/morris.js/morris.min.js' %}"></script>
<script src="{% static 'js/raphael/raphael.min.js' %}"></script>
<!-- <script src="{% static 'customadmin/js/moment/moment.min.js' %}"></script>
<script src="{% static 'customadmin/js/datepicker/daterangepicker.js' %}"></script> -->
<script>

Morris.Area({
element: 'graph',
data: [
{% for battery in batteries %}
    {"time":{{battery.date_and_time|date:"U"}}000, "charge":{{battery.level}}},
{% endfor %}
],
xkey: 'time',
ykeys: ['charge'],
labels: ['Charge'],
lineColors: ['#26B99A', '#34495E', '#ACADAC', '#3498DB'],
dateFormat: function (x) { return new Date(x).toDateString(); }
});
</script>
<script>
function searchByDate() {
var field = $("#single_cal3").val()
if(field == "")
{
window.alert("Select date")
}
else
{
// url
}
}
</script>
{% endblock scripts %}
{% block jsscript %}
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/daterangepicker.js' %}"></script>
    <script type="text/javascript">
        //  var a = document.getElementById('linkId'); //or grab it by tagname etc
        //  var d = new Date();
    // // d.getMonth();
        // //   var from_date =
        //  a.href = "/reports/salesbycustomer/"
    $("#form").submit(function(){
        
        from_val = $('#from').val();
        if (from_val==""){
            var url = "/employee/{{pk}}/report/";
        }
        else{
            var url = "/employee/{{pk}}/report/" + $('#from').val() + "/" + $('#to').val() + "/"; // get selected value
        }
        $("#form").attr("action", url);
    });
        $(document).ready(function() {
            // var start = moment().subtract(29, 'days');
        //      var end = moment();
        function cb(start, end) {
    $('#date span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    $("#from").val(start.format('YYYY-MM-DD'));
    $("#to").val(end.format('YYYY-MM-DD'));
    
    }
    $('#date').daterangepicker({
        //      startDate: start,
            // endDate: end,
        showDropdowns: true,
        locale: {
                format: 'YYYY-MM-DD',
                },
            ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
        }, cb);
        cb(start, end);
    
    });
    </script>
{% endblock jsscript %}