{% extends "erp_admin/base.html" %}
{% block title %} Profile{% endblock title %}
{% block content %}
<style>
.btn{
text-align: left!important;
}
.cl{
padding:30px;
border: 1px solid rgb(234, 234, 234);
margin-left:3px;
}
.cl1{
padding:20px;
border: 1px solid rgb(234, 234, 234);
margin-left:20px;
margin-right:20px;
margin-top:0px!important;
}
.profile-bottom{
width:100%!important;
margin-bottom:0px!important;
}
.profile {
min-height: 430px!important;
}
</style>
<div class="blank">
    <div class="blank-page">
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <h2></h2>
                {% if request.user.is_superuser %}<a href="{% url 'employee:list' %}" >Back</a>{% endif %}
            </div>
            <!-- Example split danger button -->

        </div>
        <div class=" profile">

		<div class="profile-bottom">
			<h3><i class="fa fa-user"></i>Profile</h3>
			<div class="profile-bottom-top">
			<div class="col-md-4 profile-bottom-img">
				<img src="images/pr.jpg" alt="">
			</div>
			<div class="col-md-8 profile-text">
				<h6>{{employee.user.first_name}}</h6>
				<table>
				<tr><td>Designation</td>
				<td>:</td>
				<td>{{employee.primary_designation.name}}</td></tr>

				<tr>
				<td>Email</td>
				<td> :</td>
				<td><a href="{{employee.user.email}}">{{employee.user.email}}</a></td>
				</tr>

				<tr>
				<td>Country </td>
				<td>:</td>
				<td> {{employee.employee_address.country}}</td>
				</tr>
				</table>
			</div>
			<div class="clearfix"></div>
			</div>
			<div class="profile-bottom-bottom">

			<div class="col-md-4 profile-fo">

				<a href="#" class="pro"><i class="fa fa-home"></i>Personal Details</a>
			</div>
			<div class="col-md-4 profile-fo">

				<a href="#" class="pro1"><i class="fa fa-phone"></i>Contact Details</a>
			</div>
			<div class="col-md-4 profile-fo">

				<a href="#"><i class="fa fa-building-o"></i>Company Details</a>
			</div>
			<div class="clearfix"></div>
			</div>
			<div class="profile-btn">

                <a class="btn btn-primary pull-right" href="{% url 'employee:edit' employee.code %}" class="btn bg-red"><i class="fa fa-edit"></i> Edit</a>
           <div class="clearfix"></div>
			</div>


		</div>
	</div>


    <div class="row cl1" style="display:none;">
        <div class="">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1"><h3>Personal Details</h3></a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">Date Of Birth :{{employee.dob|date:'d/m/y'}}</div>
                            <div class="panel-body">Gender : {{employee.gender}}</div>
                            <div class="panel-body">Marital Status : {{employee.marital_status}}</div>
                            <div class="panel-body">Blood Group : {{employee.blood_group}}</div>
                            <div class="panel-body">Languages known : {{employee.languages_known}}</div>
                            <!--<div class="panel-body">Birth Place : {{employee.birth_place}}</div>-->
                            <!--<div class="panel-body">Cast : {{employee.cast}}</div>
                            <div class="panel-body">Religion : {{employee.religion}}</div>-->
                            <div class="panel-body">Citizenship : {{employee.citizenship}}</div>
                        </div>
                    </div>
                </div>
                
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse2"><h3>Contact Details</h3></a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <div class="panel-body">
                                Contact Address
                            </div>
                            <div class="panel-body">
                                <address>
                                    {{employee.employee_address.addressline1}},
                                    {{employee.employee_address.addressline2}}</br>
                                    {{employee.employee_address.area}}
                                    {{employee.employee_address.city}}</br>
                                    {{employee.employee_address.state}}</br>
                                    {{employee.employee_address.country}}-
                                    {{employee.employee_address.zipcode}}
                                </address>
                            </div>
                            <div class="panel-body">
                                Phone Number : {{employee.employee_contact.phone}}
                            </div>
                            <div class="panel-body">
                                Alternate Phone Number : {{employee.employee_contact.alternate_phone}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse3"><h3>Company Details</h3></a>
                            </h4>
                        </div>
                        <div id="collapse3" class="panel-collapse collapse">
                            <div class="panel-body">Office Address </div>
                            <div class="panel-body">Zone : {{employee.primary_designation.zone.name}}</div>
                            <div class="panel-body">Location : {{employee.primary_designation.location.name}}</div>
                            <div class="panel-body">Office : {{employee.primary_designation.office.name}}</div>
                            <div class="panel-body">Department : {{employee.primary_designation.department.name}}</div>
                            <div class="panel-body">Division : {{employee.primary_designation.division.name}}</div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse4"><h3>Designation & Reporting Officer</h3></a>
                            </h4>
                        </div>
                        <div id="collapse4" class="panel-collapse collapse">
                            
                            <div class="panel-body">Primary Designation : {{employee.primary_designation.name}}</div>
                            <div class="panel-body">Secondary Designation :
                                {% for desig in employee.secondary_designation.all %}
                                    {{desig.name}}&nbsp;
                                {% endfor %}
                            </div>
                            <div class="panel-body">Grade : {{employee.primary_designation.grade.name}}</div>
                            <div class="panel-body">Reporting Officer : {{employee.reporting_officer.user.first_name}} &nbsp;{{employee.reporting_officer.user.last_name}}-
                            {{employee.reporting_officer.primary_designation.name}}</div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}