{% extends "erp_admin/base.html" %} {% load static tz %} {% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>.status-rejected {
	background-color: red;
	font-size: 12px;
}
.approved{
	background-color: #2fd22f;
	font-size: 12px;

}
.notapproved{
	background-color: #000;
	font-size: 12px;

}
</style>
{% endblock head %}
{% block content %}
	<div class="row" style="padding: 16px;">
		<form id="form" action="{% url 'employee:timesheet' pk %}" method="post">
			{% csrf_token %}
		<div class="col-sm-4">
			<div id="date" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%;">
				<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
				<span>{% if from_date %}{{from_date}}-{{to_date}} {% else %} {{today|date:"F"}} {{today|date:"Y"}} {% endif %}</span><b class="caret"></b>
			</div>
		</div>
		<input type="hidden" name="from" id="from" required>
		<input type="hidden" name="to" id="to" required>
		<div class="col-sm-3">
			<input type="submit" name="search" value="Search" class="btn">
		</div>
		</form>
	</div>
		
		
		
	<div class="blank">
		<div class="grid-form1">
			<p style="font-size: 24px;text-align: center;color: #000;">Timesheet</p>
			<p style="font-size: 14px;text-align: center;color: #000;">
				{% if from_date %}
					From {{from_date}}  To {{to_date}}
				{% else %}
					{{today|date:"F"}} {{today|date:"Y"}}
				{% endif %}
			</p>
			<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<tr></tr>
				</thead>
				<tbody>
					{% for timesheet in timesheets %}
						<tr>
							<td>{{ timesheet.date }}</td>
							<td>Sign in - {{ timesheet.sign_in_time|time }}</td>
							<td>Sign out - {{ timesheet.sign_off_time }}</td>
							<td>{% if timesheet.approved == 1 %}<span class="approved">APPROVED</span>{% else %}<span class="notapproved">NOT APPROVED </span>{% endif %}</td>
							<td>{% if timesheet.holiday %}<span class="label status status-rejected">OVERTIME</span>{% endif %}</td>

						</tr>
						<tr>
						<td colspan="5"><table class="table table-bordered">
							<thead>
							<tr>
								<th>Time Span</th>
								<th>Project</th>
								<th>Task</th>
								<th>Subtask</th>
								<th>Description</th>
							</tr>
							</thead>
							<tbody>
								{% for entry in timesheet.entry.all %}
									<tr>
										<td>{{ entry.from_time}} - {{ entry.to_time}}</td>
										<td>{{ entry.sub_task.task.project}}</td>
										<td>{{ entry.sub_task.task}}</td>
										<td>{{ entry.sub_task}}</td>
										<td>{{ entry.description}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table></td>
						</tr>
					{% endfor %}
				</tbody>
				
			</table>
			</div>
			
		</div>
	</div>
{% endblock content %}
{% block jsscript %}
	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/daterangepicker.js' %}"></script>
	<script type="text/javascript">
		// 	var a = document.getElementById('linkId'); //or grab it by tagname etc
		// 	var d = new Date();
	// // d.getMonth();
		// // 	var from_date =
		// 	a.href = "/reports/salesbycustomer/"
	$("#form").submit(function(){
	
		from_val = $('#from').val();
		if (from_val==""){
			// alert("Date Required");
			// return false;
			var url = "/employee/{{pk}}/timesheet/";
		}
		else{
		var url = "/employee/{{pk}}/timesheet/" + $('#from').val() + "/" + $('#to').val() + "/"; // get selected value
	}
		$("#form").attr("action", url);
	});
	
	$(document).ready(function() {
		// var start = moment().subtract(29, 'days');
	//   	var end = moment();
		function cb(start, end) {
			$('#date span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
			$("#from").val(start.format('YYYY-MM-DD'));
			$("#to").val(end.format('YYYY-MM-DD'));
		
		}
	
		$('#date').daterangepicker({
			//   	startDate: start,
				// endDate: end,
			showDropdowns: true,
			locale: {
					format: 'YYYY-MM-DD',
				},
				ranges: {
					'Today': [moment(), moment()],
					'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
					'Last 7 Days': [moment().subtract(6, 'days'), moment()],
					'Last 30 Days': [moment().subtract(29, 'days'), moment()],
					'This Month': [moment().startOf('month'), moment().endOf('month')],
					'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
				}
		}, cb);
			cb(start, end);
		
		});
	</script>
{% endblock jsscript %}