<template src='./detail.template.html'></template>

<script>
// import $ from 'jquery'

export default {
	// delimiters: ['{{', '}}'],
	name: 'contact-detail',
	
	data() {
		return {
			contact:{
				id: null,
				name: null, 
				email: null,
				phone: null,
				alternate_phone: null,
				gender: null,
				dob: null,
				addresses: []
			},
			add: false,
			newAddress: { 
				addressline1: null,
				addressline2: null,
				area: null,
				zipcode: null,
				country: null,
				state: null,
				city: null,
				billing: false,
			},
			apiErrors: {},
			choices: {
				countries: [],
				states: [],
				cities: [],
			},
		}
	},
	components: { 
		// 'customer-select2': Select2,s
	},

	created(){
		this.contact = window.contact
		this.get_address_options()
	},

	mounted(){
		// $('.collapse').collapse()
	},

	computed: {
		
	},

	watch: {
		
	},

	methods: {
		add_address(){
			this.contact.addresses.push(this.newAddress)
		},

		// set_customer(){
		// 	if(editCustomer.hasOwnProperty('id') && window.editCustomer.id)
		// 		this.newCustomer = window.editCustomer
		// },


		get_address_options: function(){
			// this.new_customer = Object.assign({}, this.new_customer, customer) 
			this.$http.get('/api/addresses/choices')
			.then(response => {
				this.choices = response.data
				// this.choices.phases = this.choices.phases.map(phase => {
				//   return {name: phase[1]}
				// })
				// this.set_customer()
				// self.format_choices(response.data)
			})
			.catch(error => {
				console.log(error)
			})
			return
		},


		saveAddress: function(e){
			console.log(e)
			var method = 'POST'
			var url = '/api/contacts/' + this.contact.id + '/addresses/'
			if (this.newAddress.hasOwnProperty('id') && this.newAddress.id){
				url += this.newAddress.id + '/'
				method = 'PUT'
			}

			// console.log(vm.formData())
			this.$http({
				method: method,
				url: url,
				data: this.get_form_data()
			})
			.then(() => {
				window.location.assign(window.location.href)
			})
			.catch( error => {
				console.log(error)
				if (error.response) {
					if(error.response.status == 400)
						this.apiErrors = error.response.data
				}
			})
		},

		updateBilling: function(address, index){
			this.$http.patch(
				'/api/contacts/' + this.contact.id + '/addresses/' + address.id + '/',
				{ billing: address.billing }
			).then(response => {
				console.log(response)
				// window.location.assign(window.location.href)
				this.set_billing(index)
			})
			.catch( error => {
				console.log(error)
				if (error.response) {
					if(error.response.status == 400)
						this.apiErrors = error.response.data
				}
				address.billing = !address.billing
			})
		},
		
		get_form_data(){
			var address = Object.assign({}, this.newAddress)
			// address.country = {id: address.co}
			return address
		},

		
		set_billing(index){
			console.log(index)
			this.contact.addresses.forEach( (address, key) => {
				if(index === key){
					console.log(index)
					address.billing = true
				}
				else{
					console.log(key)

					address.billing = false
				}
			})
		},


		countryStates: function(country){
			return this.choices.states.filter(state => {
				if(country && state.country == country)
					return state
			})
		},

		stateCities: function(state){
			return this.choices.cities.filter( city => {
				if(state && city.state == state)
					return city
			})
		},

		hasError: function(errors, key_array) {
			// console.log( Array.isArray(key_array))
			key_array =  Array.isArray(key_array) ? key_array : [key_array]
			console.log(errors, key_array)
			if(key_array.length !== 0){
				var key = key_array[0]
				if(errors.hasOwnProperty(key) || (Array.isArray(errors) && errors.indexOf(key) > -1)){
					return this.hasError(errors[key], key_array.splice(1,key_array.length))
				}
			}
			if(key_array.length === 0 && Array.isArray(errors)){
				console.log(errors[0])
				return errors[0]
			}
			return false
		},


	}
}
</script>

<style>
#customer-form .customer-contacts,
#customer-form .customer-addresses {
	margin: 10px;
}

#customer-form .customer-contact,
#customer-form .customer-address {
	padding: 5px 30px;
	box-shadow: 2px 2px 5px #e3e3e3;
	margin-bottom: 10px;
}
#customer-form  .form-group {
	margin-bottom: 0px;
}
#customer-form  .form-group:after {
	clear: both;
	display: table;
	content: " "
}
</style>