<template src='./edit.template.html'></template>

<script>


export default {
	// delimiters: ['{{', '}}'],
	name: 'edit-customer',
	props: {
		editCustomer: {
			type: Object,
			default: function(){
				return {}
			}
		},
	},
	// name: 'edit-customer',
	data() {
		return {
			newCustomer: {
				name: null,
				phase: null,
				phases: [
					{
						name: null,
					}
				],
				addresses: [],
				contacts:[
					{
						name: null, 
						email: null,
						phone: null,
						alternate_phone: null,
						gender: null,
						dob: null,
					}
				]
			},
			apiErrors: {},
			choices: {
				countries: [],
				states: [],
				cities: [],
				phases: [],
				default_phase: null,
			},
		}
	},
	components: { 
		// 'customer-select2': Select2,s
	},

	created(){
		console.log('created edit-customer')

		this.get_customer_options()
	},

	computed: {
		
	},

	watch: {
		editCustomer: function(){
			console.log('editCustomer changed')
			this.set_customer()
		},
	},

	methods: {
		set_customer(){
			if(this.editCustomer.id){
			
				this.$http.get('/api/customers/' + this.editCustomer.id +'/')
					.then(response => {
						var customer = response.data
						if (!customer.contact)
							customer.contact = { email: null, phone: null, alternate_phone: null,}
						if (!customer.address)
							customer.address = { addressline1: null, addressline2: null, area: null, zipcode: null, country: null, state: null, city: null}
						this.newCustomer = customer
						this.choices.phases.forEach(phase => {
							if(this.newCustomer.phases[0].name == phase[1])
								this.newCustomer.phase = phase[0] 
						})
						this.choices.countries.forEach(country => {
							if(this.newCustomer.address.country == country.name)
								this.newCustomer.address.country = country.id
						})
						this.choices.states.forEach(state => {
							if(this.newCustomer.address.state == state.name)
								this.newCustomer.address.state = state.id
						})
						this.choices.cities.forEach(city => {
							if(this.newCustomer.address.city == city.name)
								this.newCustomer.address.city = city.id
						})
					})
					.catch(error => {
						console.log(error)
					})
			}
		},

		get_customer_options: function(){
			// this.new_customer = Object.assign({}, this.new_customer, customer) 
			this.$http.get('/api/customers/choices')
			.then(response => {
				this.choices = response.data
				// this.choices.phases = this.choices.phases.map(phase => {
				//   return {name: phase[1]}
				// })
				this.set_defaults()
				this.set_customer()
				// self.format_choices(response.data)
			})
			.catch(error => {
				console.log(error)
			})
			return
		},

		set_defaults(){
			if(!this.newCustomer.gender)
				this.newCustomer.gender = this.choices.default_gender[0]
			if(!this.newCustomer.phases.name)
				this.newCustomer.phase = this.choices.default_phase[0]
		},
		
		saveCustomer: function(e){
			console.log(e)
			var method = 'POST'
			var url = '/api/customers/'
			if (this.newCustomer.id){
				url += this.newCustomer.id + '/'
				method = 'PUT'
			}

			// console.log(vm.formData())
			this.$http({
				method: method,
				url: url,
				data: this.get_form_data()
			})
			.then(response => {
				// this.$validator.errorBag.clear()
				// var created = true
				// if(this.editCustomer.id)
				// 	created = false       
				// this.$emit('customer_saved', response.data, created)
				// this.newCustomer = {}
				alert(response.data.success_url + '?created=1')
				window.location.assign(response.data.success_url + '?created=1')
				// this.enquiries.push(response.data)
				// this.new_customer = {}
			})
			.catch( error => {
				console.log(error)
				if (error.response) {
					if(error.response.status == 400)
						this.handle_validation_errors(error.response.data)
				}
			})
		},

		get_form_data(){
			if(this.newCustomer.phase)
				this.newCustomer.phases = [{name: this.newCustomer.phase.toLowerCase()}]
			return this.newCustomer
		},

		handle_validation_errors(errors){
			var vm = this
			this.apiErrors = errors
			vm.$validator.errorBag.clear()
			vm.update_error_bag(errors)
		},

		update_error_bag(errors){
			var vm = this
			for(var key in errors) {
				if(errors[key].length){
					errors[key].forEach(function(error_msg){
						vm.$validator.errorBag.add(key, error_msg)
					})
				} else {
					this.update_error_bag(errors[key])
				}
				// this.errors.add(key, errors[key])
				// vm.errors.push({ field: key, msg: errors[key]})
			}
		},


		add_contact(){
			this.newCustomer.contacts.push({
				name: null, 
				email: null,
				phone: null,
				alternate_phone: null,
				gender: null,
				dob: null,
			})
		},

		add_address(){
			this.newCustomer.addresses.push({ 
				addressline1: null,
				addressline2: null,
				area: null,
				zipcode: null,
				country: null,
				state: null,
				city: null,
				delivery: null,
			})
		},

		set_delivery(index){
			this.newCustomer.addresses.forEach( (address, key) => {
				if(index === key){
					console.log(index, key)
					address.delivery = true
				}
				else
					address.delivery = false
			})
		},

		countryStates: function(country){
			return this.choices.states.filter(state => {
				if(state.country == country)
					return state
			})
		},

		stateCities: function(state){
			return this.choices.cities.filter( city => {
				if( city.state == state )
					return city
			})
		},

		hasError: function(errors, key_array) {
			console.log(errors, key_array)
			if(key_array.length !== 0){
				var key = key_array[0]
				if(errors.hasOwnProperty(key) || (Array.isArray(errors) && errors.indexOf(key) > -1)){
					console.log(key)
					return this.hasError(errors[key], key_array.splice(1,key_array.length))
				}
			}
			if(key_array.length === 0 && Array.isArray(errors)){
				console.log(errors[0])
				return errors[0]
			}
			return false
		},

		// hydrateErrors: function(){
		// 	this.apiErrors.forEach(error => {
		// 		this.newCustomer.hasOwnProperty()
		// 	})

		// }

	}
}
</script>

<style>
#customer-form .customer-contacts,
#customer-form .customer-addresses {
	margin: 10px;
}

#customer-form .customer-contact,
#customer-form .customer-address {
	padding: 5px;
	box-shadow: 2px 2px 5px #e3e3e3;
	margin-bottom: 10px;
}
#customer-form	.form-group {
	margin-bottom: 0px;
}
#customer-form	.form-group:after {
	clear: both;
	display: table;
	content: " ";
}
</style>