<div class="block">
    <div class="row show-grid">
        <div class="col-sm-12">
            <form role="form" id="customer-form" method="post" class="" @submit.prevent="saveCustomer">
                <legend>Client details</legend>
                <div class="form-group">
                    <div class="form-inline" :class="{'has-error': hasError(apiErrors, ['contacts', index, 'name']) }">
                        <label class="col-sm-2 control-label">Company Name:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" v-model="newCustomer.name">
                            <span v-show="hasError(apiErrors, ['contacts', index, 'name'])" class="help-block">
                                <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['contacts', index, 'name']) }}
                            </span>
                        </div>
                    </div>
                    <div class="form-inline" :class="{'has-error': hasError(apiErrors, ['contacts', index, 'phases']) }">
                        <label class="col-sm-1 control-label">Phase:</label>
                        <div class="col-sm-3">
                            <select class="form-control" v-model="newCustomer.phase">
                                <option v-for="option in choices.phases" :value="option[0]" >{{ option[1] }}</option>
                            </select>
                            <span v-show="hasError(apiErrors, ['contacts', index, 'phases'])" class="help-block">
                            <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['contacts', index, 'name']) }}
                          </span>
                        </div>
                    </div>
                </div>
                <div class="customer-contacts">
                    <legend>Contact details</legend>
                    <div v-for="(contact, index) in newCustomer.contacts" class="customer-contact">
                        <div class="form-group">
                            <div class="form-inline" :class="{'has-error': hasError(apiErrors, ['contacts', index, 'name']) }">
                                <label class="col-sm-2 control-label">Name:</label>
                                <div class="col-sm-4">
                                    <input type="text" name="name" class="form-control" v-model="contact.name">
                                    <span v-show="hasError(apiErrors, ['contacts', index, 'name'])" class="help-block">
                                        <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['contacts', index, 'name']) }}
                                    </span>
                                </div>
                            </div>
                            <div class="form-inline" :class="{'has-error': hasError(apiErrors, ['contacts', index, 'email']) }">
                                <label class="col-sm-1 control-label">Email:</label>
                                <div class="col-sm-5">
                                    <input type="email" name="email" class="form-control" v-model="contact.email">
                                    <span v-show="hasError(apiErrors, ['contacts', index, 'email'])" class="help-block">
                                        <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['contacts', index, 'email']) }}
                                    </span>
                                    
                                </div>
                            </div>
                            <!--div class="clearfix"></div>-->
                        </div>
                        <div class="form-group">
                            <div class="form-inline" :class="{'has-error': hasError(apiErrors, ['contacts', index, 'phone']) }">
                                <label class="col-sm-2 control-label">Phone:</label>
                                <div class="col-sm-4">
                                    <input type="number" name="phone" class="form-control" v-model="contact.phone">
                                    <span v-show="hasError(apiErrors, ['contacts', index, 'phone'])" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['contacts', index, 'phone']) }}
                                  </span>
                                </div>
                            </div>
                            <div class="form-inline" :class="{'has-error': hasError(apiErrors, ['contacts', index, 'alternate_phone']) }">
                                <label class="col-sm-1 control-label">Alternate Phone:</label>
                                <div class="col-sm-5">
                                    <input type="number" name="alternate_phone" class="form-control" v-model="contact.alternate_phone">
                                    <span v-show="hasError(apiErrors, ['contacts', index, 'alternate_phone'])" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['contacts', index, 'alternate_phone']) }}
                                </span>
                                    <!--<select2 v-pre  class="form-control" v-model="new_Customer.customer"></select>-->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-inline" :class="{'has-error': hasError(apiErrors, ['contacts', index, 'gender']) }">
                                <label class="col-sm-2 control-label">Gender:</label>
                                <div class="col-sm-2">
                                    <select class="form-control" name="gender" v-model="contact.gender">
                                        <option v-for="option in choices.genders" :value="option[0]">{{ option[1] }}</option>
                                    </select>
                                    <span v-show="hasError(apiErrors, ['contacts', index, 'gender'])" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['contacts', index, 'gender']) }}
                                  </span>
                                </div>
                            </div>
                            <div class="form-inline" :class="{'has-error': hasError(apiErrors, ['contacts', index, 'dob']) }">
                                <label class="col-sm-2 control-label">Date of Birth:</label>
                                <div class="col-sm-3">
                                    <input type="date" name="dob" class="form-control" v-model="newCustomer.dob">
                                    <span v-show="hasError(apiErrors, ['contacts', index, 'dob'])" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['contacts', index, 'dob']) }}
                                  </span>
                                </div>
                            </div>
                        </div>
                        <button v-if="index !== 0" @click.remove="remove(newCustomer.contacts.splice(index, 1))" class="btn btn-danger pull-right">Remove</button>
                        <div class="clearfix"></div>
                    </div>
                    <button @click.prevent="add_contact" class="btn btn-primary">Add Contact</button>
                </div>

                <div class="customer-addresses">
                    <legend>Address:</legend>
                    <div v-for="(address, index) in newCustomer.addresses" class="customer-address">
                        <div class="form-group" :class="{'has-error': hasError(apiErrors, ['addresses', index, 'addressline1']) }">
                            <label class="col-sm-2 control-label">Adddress Line 1: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="address.addressline1">
                                <span v-show="hasError(apiErrors, ['addresses', index, 'addressline1'])" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['addresses', index, 'addressline1']) }}
                                </span>
                            </div>
                        </div>
                        <div class="form-group" :class="{'has-error': hasError(apiErrors, ['addresses', index, 'addressline2']) }">
                            <label class="col-sm-2 control-label">Adddress Line 2: </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" v-model="address.addressline2">
                                <span v-show="hasError(apiErrors, ['addresses', index, 'addressline2'])" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['addresses', index, 'addressline2']) }}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-inline" :class="{'has-error': hasError(apiErrors, ['addresses', index, 'area']) }">
                                <label class="col-sm-2 control-label">Area:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" v-model="address.area">
                                    <span v-show="hasError(apiErrors, ['addresses', index, 'area'])" class="help-block">
                                        <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['addresses', index, 'area']) }}
                                    </span>
                                </div>
                            </div>
                            <div class="form-inline" :class="{'has-error': hasError(apiErrors, ['addresses', index, 'zipcode']) }">
                                <label class="col-sm-2 control-label">Zipcode:</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" v-model="address.zipcode">
                                    <span v-show="hasError(apiErrors, ['addresses', index, 'zipcode'])" class="help-block">
                                        <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['addresses', index, 'zipcode']) }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-inline" :class="{'has-error': hasError(apiErrors, ['addresses', index, 'country']) }">
                                <label class="col-sm-2 control-label">Country:</label>
                                <div class="col-sm-2">
                                    <select id="countries" class="form-control" v-model="address.country">
                                        <option v-for="option in choices.countries" :value="option.id">
                                            {{ option.name }}
                                        </option>
                                    </select>
                                    <span v-show="hasError(apiErrors, ['addresses', index, 'country'])" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['addresses', index, 'country']) }}
                                  </span>
                                </div>
                            </div>
                            <div class="form-inline" :class="{'has-error': hasError(apiErrors, ['addresses', index, 'state']) }">
                                <label class="col-sm-1 control-label">State:</label>
                                <div class="col-sm-3">
                                    <select id="states" class="form-control" v-model="address.state">
                                        <option v-for="option in countryStates(address.country)" :value="option.id">
                                            {{ option.name }}
                                        </option>
                                    </select>
                                    <span v-show="hasError(apiErrors, ['addresses', index, 'state'])" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['addresses', index, 'state']) }}
                                  </span>
                                </div>
                            </div>
                            <div class="form-inline" :class="{'has-error': hasError(apiErrors, ['addresses', index, 'city']) }">
                                <label class="col-sm-1 control-label">City:</label>
                                <div class="col-sm-3">
                                    <select id="cities" class="form-control" v-model="address.city">
                                        <option v-for="option in stateCities(address.state)" :value="option.id">
                                            {{ option.name }}
                                        </option>
                                    </select>
                                    <span v-show="hasError(apiErrors, ['addresses', index, 'city'])" class="help-block">
                                    <i class="fa fa-warning"></i>{{ hasError(apiErrors, ['addresses', index, 'city']) }}
                                  </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-inline">
                                <label class="col-sm-2 control-label">Delivery address: </label>
                                <div class="col-sm-8">
                                    <input type="checkbox" v-model="address.delivery" @change="set_delivery(index)">
                                </div>
                            </div>
                        </div>
                        <button @click.remove="remove(newCustomer.addresses.splice(index, 1))" class="btn btn-danger pull-right">Remove</button>
                        <div class="clearfix"></div>

                    </div>
                    <button @click.prevent="add_address" class="btn btn-primary">Add address</button>
                </div>
                
                <!-- :value="newCustomer.customer" -->
                <button type="submit" class="btn btn-default">Save</button>
            </form>
        </div>
    </div>
</div>
