<div id="app">
    <div class="block">
        <a :href="edit_customer_url" class="btn btn-primary">Add Customer</a>
    </div>
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-12">
                <h3 style="padding-left: 15px;">Customer list</h3>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Phase</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(customer, index) in customers">
                            <td>{{ index }}</td>
                            <td>
                                {{ customer.name }}
                            </td>
                            <td>
                                {{ customer.phases[0] ? customer.phases[0].name : "" }}
                            </td>
                            <td>
                                <button class="btn btn-info btn-xs" @click="toggle_edit_form(customer)"><i class="fa fa-edit"></i>&nbsp;Edit</button>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-xs" @click="remove(index, customer)"><i class="fa fa-trash"></i>&nbsp;Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <paginate :records="pagination.count"
                    :current="pagination.current"
                    :page-size="pagination.page_size"
                    :link-range="pagination.link_range"
                    record-type="Customers"
                    @get-page="getPage">
                </paginate>
            </div>
        </div>
    </div>

    <!--<pre>{{ $data }} </pre>-->
</div>