<template src='./list.template.html'></template>

<script>
// import EditCustomer from './components/edit_customer.vue'
import Paginate from 'components/paginate.vue'
import utils from 'contrib/utils'

export default {
	
	name: 'customer-list-app',

	props: [ 'editCustomerUrl'],

	data(){
		return {
			customers: [],
			edit_customer: {},
			edit_form: false,
			pagination:{
				count: 0,
				current: 1,
				page_size: 3,
				link_range: 3,
			},
			url: '/api/customers/',
			edit_customer_url: ''
		}
	},
	
	components: {
		Paginate
	},

	created(){
		this.get_customers()
	},

	methods:{
		getPage(page){
			console.log(page)
			// this.$router.push({name: 'enquiries', query: {page: page} })
			// this.$store.dispatch('getEnquiries')
			this.pagination.current = Number(page)
			this.sort_by({page: page})
		},

		sort_by(query){
			if (typeof(query) == 'object' && !utils.isEmpty(query)){
				var url = utils.prepareUrl(this.url, query)
				window.history.pushState({}, "", utils.prepareUrl(window.location.href, query) )
				this.get_customers(url)
			}

		},
		
		get_customers: function(url){
			url = url || '/api/customers/'
			// this.edit_customer = Object.assign({}, this.edit_customer, customer) 
			var vm = this
			this.$http.get(url)
			.then(function (response) {
				console.log(response.data.form_url)
				vm.customers = response.data.results
				vm.edit_customer_url = response.data.form_url
				vm.pagination.count = response.data.count
				vm.pagination.page_size = response.data.page_size
				// vm.pagination.current = Number(page)

				vm.customers = response.data.results
			})
			.catch(function (error) {
				console.log(error)
			})
		},

		toggle_edit_form: function(customer){
			console.log(customer)
			// debugger
			this.edit_customer = {}
			if (customer && customer.name){
				this.edit_customer = customer
				// this.edit_customer = Object.assign({}, this.edit_customer, customer)
				console.log('edit_customer:' , this.edit_customer)
				// debugger
				this.edit_form = false
			}
			this.edit_form = !this.edit_form
		},

		customer_saved: function(customer, created){
			if(created)
				this.customers = [customer].concat(this.customers) 
			else{
				this.customers.forEach((obj, i) => {
					if(obj.id == customer.id)
						this.customers[i] = customer
				})
			}
			// this.customers[customers.length] = customer
			console.log(customer, this.customers)
			this.edit_customer = {}
			this.edit_form = !this.edit_form
		},

		remove(index, customer){
			var vm =this
			if(confirm('Confirm Delete?')){
				this.$http.delete('/api/customers/' + customer.id)
				.then(function (response) {
					console.log(response)
					vm.customers.splice(index, 1)
					alert('deleted customer '+ customer.name + ' successfully.')
				})
				.catch(function (error) {
					console.log(error)
				})
			}
		},
	}
}
</script>

<style>

</style>
