{% extends "erp_admin/base.html" %} {% load static tz %} {% get_current_timezone as TIME_ZONE %} {% block head %}
<style>
#id_country,
#id_state,
#id_city {
  border: 1px solid #e0e0e0!important;
  padding: 5px 8px!important;
  color: #616161!important;
  width: 100%!important;
  font-size: 0.85em!important;
  font-weight: 300!important;
  height: 40px!important;
  -webkit-appearance: none!important;
  outline: none!important;
  font-family: 'Muli-Regular'!important;
  background: none!important;
  box-shadow: none !important;
}
#products .item {
    box-shadow: 2px 2px 2px #e3e3e3;
    padding: 10px;
    margin-top: 5px;
    transition: all .3s;
    background-color: #fff1f1;
    color: #2e2e2e;
}
#products .item:hover {
    box-shadow: 5px 5px 5px #e3e3e3;
}
#products {
    margin: 10px;
}
.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %} {% block content %}
<div class="blank">
    <div class="grid-form1">
        <a href="{% url 'customer:contact-detail' contact.id %}">Back</a>
        <h4 style="margin-top:20px; margin-left: 0px;">
            {{ type }} Address for <b>{{ contact }}</b>
        </h4>
        <div class="tab-pane active" id="horizontal-form">
            {# {{ sales_order_form.as_table }} #}
            <form class="" action="{{form_url}}" method="post">
                {% csrf_token %}
                
                <div class="row" style="padding:10px;">
                    <div class="form-group">
                        <div class="form-inline">
                            <label class="control-label col-sm-2 col-xs-13">{{ address_form.addressline1.label }} 
                                                                                <span class="req">*</span></label>
                            <div class="col-sm-4 col-xs-12">
                              {{ address_form.addressline1.errors }}{{ address_form.addressline1 }}
                            </div>
                        </div>

                        <div class="form-inline">
                            <label class="control-label col-sm-2 col-xs-13">{{ address_form.addressline2.label }} 
                                                        <span class="req">*</span></label>
                            <div class="col-sm-4 col-xs-12">
                                {{ address_form.addressline2.errors }}{{ address_form.addressline2 }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding:10px;">
                    <div class="form-group">
                        <div class="form-inline">
                            <label class="control-label col-sm-2 col-xs-13">{{ address_form.area.label}} 
                                                                <span class="req">*</span></label>
                            <div class="col-sm-4 col-xs-12">
                                {{ address_form.area.errors }}{{ address_form.area }}
                            </div>
                        </div>

                        <div class="form-inline">
                            <label class="control-label col-sm-2 col-xs-13">{{ address_form.country.label }} 
                                                        <span class="req">*</span></label>
                            <div class="col-sm-4 col-xs-12">
                                {{ address_form.country.errors }}{{ address_form.country }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding:10px;">
                    <div class="form-group">
                        <div class="form-inline">
                            <label class="control-label col-sm-2 col-xs-13">{{ address_form.state.label }} 
                                            <span class="req">*</span></label>
                            <div class="col-sm-4 col-xs-12">
                              {{ address_form.state.errors }}{{ address_form.state }}
                            </div>
                        </div>

                        <div class="form-inline">
                            <label class="control-label col-sm-2 col-xs-13">{{ address_form.city.label }} 
                                <span class="req">*</span></label>
                            <div class="col-sm-4 col-xs-12">
                                {{ address_form.city.errors }}{{ address_form.city }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding:10px;">
                    <div class="form-group">
                        <div class="form-inline">
                            <label class="control-label col-sm-2 col-xs-13">{{ address_form.zipcode.label }} 
                                                    <span class="req">*</span></label>
                            <div class="col-sm-4 col-xs-12">
                                {{ address_form.zipcode.errors }}{{ address_form.zipcode }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding:10px;">
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-xs-13">{{ address_form.billing.label }}</label>
                        {{ address_form.billing.errors }}{{ address_form.billing }}
                    </div>
                </div>
                <div class="pull-left">
                    <div class="form-group">
                        <button type="submit" class="btn-primary btn">Submit</button>
                    </div>
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
        <!--    
        <div class="tab-pane active" id="horizontal-form">
            {# {{ sales_order_form.as_table }} #}
            <form class="" action="{{form_url}}" method="post">
                {% csrf_token %}
                <div class="col-sm-6 billing-address">
                    <div class="form-group">
                        <label class="control-label">{{ address_form.addressline1.label }}<span class="req">*</span></label>
                        <div>
                          {{ address_form.addressline1.errors }}{{ address_form.addressline1 }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ address_form.addressline2.label }}<span class="req">*</span></label>
                        <div>
                          {{ address_form.addressline2.errors }}{{ address_form.addressline2 }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ address_form.area.label}}<span class="req">*</span></label>
                        <div>
                          {{ address_form.area.errors }}{{ address_form.area }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ address_form.country.label }}<span class="req">*</span></label>
                        <div>
                          {{ address_form.country.errors }}{{ address_form.country }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ address_form.state.label }}<span class="req">*</span></label>
                        <div>
                          {{ address_form.state.errors }}{{ address_form.state }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ address_form.city.label }}<span class="req">*</span></label>
                        <div>
                          {{ address_form.city.errors }}{{ address_form.city }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{ address_form.billing.label }}</label>
                        {{ address_form.billing.errors }}{{ address_form.billing }}
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn-primary btn">Submit</button>
                    </div>
                </div>

            </form>
            <div class="clearfix"></div>
        </div>
        -->
    </div>
</div>
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
var amount = 0;
// initial 
// var total_forms_count = $('#id_placementstages_set-TOTAL_FORMS');
// var count = parseInt(total_forms_count.val());
// // update form count
// total_forms_count.val(count+1);
var products = $("#products");

var setTotalAmount = function(el) {
    var amount = 0;
    $("#products .item").each(function(){
        console.log(this)
        var price = parseInt($(this).find(".price").data('price'))
        var quantity = parseInt($(this).find(".quantity").data('quantity'))
        console.log(price)
        total = quantity * price
        $(this).find(".total").text(total)
        amount += total

    })
  $("#amount").text(amount)
}

var shipping_address = $("#shipping_address")
shipping_address.change(function(){
    address_id = $(this).val()
    console.log(this, address_id)
    $.ajax({
        url: "/api/addresses/" + address_id + '/', 
    }).then(function( data, textStatus, jqXHR ) {
        $(".shipping-address #shipping-addressline1").val(data.addressline1)
        $(".shipping-address #shipping-addressline2").val(data.addressline2)
        $(".shipping-address #shipping-area").val(data.area)
        $(".shipping-address #shipping-zipcode").val(data.zipcode)
        $(".shipping-address #shipping-country").val(data.country.id).change()
        setState(data.state.id, data.city.id)
    })

    function setState(state_id, city_id){
        state = $(".shipping-address #shipping-state")
        setTimeout(function(){
            if(state[0].options.length > 1){
                state.val(state_id).change()
                setCity(city_id)
            }
        }, 500)
    }

    function setCity(city_id){
        city = $(".shipping-address #shipping-city")
        setTimeout(function(){
            if(city[0].options.length > 1){
                city.val(city_id).change()
            }
        }, 500)
    }
})
shipping_address.trigger("change")
</script>
{% endblock jsscript %}
