{% load sitetree %}
{# {{sitetree_items}} #}
{% for item in sitetree_items %}
    <li  id="{{item.title}}" class="{% if item.has_children %}dropdown{% endif %} {% if item.is_current or item.in_current_branch %}active{% endif %}">
                
        <a href=" {% if item.title == 'Task' %}{% sitetree_url for item %}{% elif item.has_children %}#{% else %}{% sitetree_url for item %}{% endif %}"
            class="hvr-bounce-to-right {% if item.has_children %} dropdown-toggle{% endif %}"
            {% if item.has_children %} data-hover="dropdown" data-toggle="dropdown"{% endif %}
        >
            {% if item.icon_class %}
                <i class="fa fa-{{ item.icon_class }} nav_icon"></i>&nbsp;
            {% endif %}

            <span class="nav-label">{{ item.title_resolved }}</span>
            {% if item.has_children %} &nbsp;<b class="caret"></b>{% endif %}
        </a>
        {% if item.has_children %}
            {% sitetree_children of item for menu template "erp_admin/sidebar-dropdown.html" %}
            {# {% include 'bootstrap-navbar-submenu.html' with items=item.children %} #}
        {% endif %}
   
    </li>
{% endfor %}