{% extends "erp_admin/base.html" %}
{% load static tz group_required %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}


<style>

</style>
{% endblock head %} {% block content %}
<div class="banner">

      <h3>Assets</h3>


</div>
<div>

    <div class="block">
        <div class="row show-grid">
            <form method="get">

                <div class="col-sm-4 col-xs-12">


                    <select class="form-control" name="employee">
                        <option value="">Select Employee</option>

                            {% for employee in employees %}

                            <option value="{{employee.pk}}">{{employee}}</option>
                            {% endfor %}

                    </select>

                 </div>
                <div class="col-sm-4 col-xs-12">

                    <input type="text" class="form-control tdate" name="date" placeholder="Select Date">

                 </div>
                 <div class="col-sm-4 col-xs-12">
                     <button type="submit" class="btn btn-primary"> <i class="fa fa-search"></i> Search</button>
                     <a href="{% url 'asset:employee_assets' %}" class="btn btn-primary"><i class="fa fa-refresh"></i> Refresh</a>

                 </div>
            </form>


            <div class="col-sm-12 col-xs-12 table-responsive">
                <div>
                    <span> {% if assets %} Date : {{selected_date}} {% if not employee == "" %} &&   Employee: {{employee}}{%endif %}{% endif %}</span>
                </div>
                            <table class="table stripped" style="margin-top:3%;">

                                <thead></thead>
                                <tbody>

                                    {% for asset in assets %}


                                    <tr class="table-row">

                                        <td class="table-text">
                                            <h6>
                                                {{asset.asset}}
                                            </h6>
                                            <p></p>
                                        </td>



                                         <td >
                                           <button class="btn btn-primary btn-sm statusbutton" data-value="{{asset.asset.pk}}">

                                                    Return&nbsp;&nbsp;&nbsp;&nbsp; <i class="fa fa-arrow-left"></i>


                                           </button>
                                        </td>
                                    </tr>

                                    {% empty %}
                        <tr>
                            <td colspan="4">No Assets</td>
                        </tr>
                        {% endfor %}


                        </tbody>
                    </table>
            </div>


        </div>
    </div>
</div>


<!--Modal -->


{% endblock content %}

{% block jsscript %}


<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>

function getCookie(name) {
   var cookieValue = null;
   if (document.cookie && document.cookie != '') {
       var cookies = document.cookie.split(';');
       for (var i = 0; i < cookies.length; i++) {
           var cookie = jQuery.trim(cookies[i]);
           // Does this cookie string begin with the name we want?
           if (cookie.substring(0, name.length + 1) == (name + '=')) {
               cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
               break;
           }
       }
   }
   return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
   // these HTTP methods do not require CSRF protection
   return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
   beforeSend: function(xhr, settings) {
       if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
           xhr.setRequestHeader("X-CSRFToken", csrftoken);
       }
   }
});

$(document).ready(function() {

 $('.tdate').daterangepicker({
        singleDatePicker: true,
        // calender_style: "picker_4",
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD',
                },
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });


     $(".statusbutton").click(function(event){

       <!--var selectedStatus = $(this).children("option:selected").val();-->
       var primek = $(this).data("value")
       console.log(primek)
       if (confirm("Confirm?"))
       var $buton = $(this);

       {
           $.ajax(
           {
               url : '/return/asset/' + primek + '/',
               type: "POST",
               data: {
                 <!--'status': selectedStatus-->
               },
               success:function(data)
               {
                   console.log('success')
                   alert("Asset has been return successfully")
                   $buton.parent().parent().remove();



               },
               error: function(jqXHR, textStatus, errorThrown)
               {
                   console.log('failed')
               }
           });
       }
   });

   });


</script>

{% endblock jsscript %}