{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>
.row{
    margin-left:5px;
    margin-right:5px;
}
</style>
{% endblock head %}
{% block content %}

<div id="quotation-block" v-cloak>
    <div class="block">
        <a href="{% url 'asset:list' %}">Back </a>
        <div class="row show-grid">
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <h3>{{transaction.customer}}</h3>
                </div>

            </div>
        </div>
    </div>

    <div class="block">

        <div class="row show-grid">
            <div class="row">
                <div class="col-sm-6 col-xs-12" style="">
                    <span class="date_font">
                        Created date: {{ transaction.created_at }}
                    </span>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <span class="date_font pull-right">
                        Last Update: {{ transaction.updated_at | date }}
                    </span>
                </div>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-8">
                <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>


                    </thead>
                    <tbody>
                         <tr>
                            <th>Asset</th>
                            <td>{{ transaction.asset }}</td>
                        </tr>
                         <tr>
                            <th>Picked Date and time</th>
                            <td>{{ transaction.date_and_time}}</td>
                        </tr>



                        <tr>
                            <th>Handover From</th>
                            <td>{{ transaction.source }}</td>
                        </tr>
                         <tr>
                            <th>Handover To</th>
                            <td>{{transaction.destination }}</td>
                        </tr>

                        <tr>
                            <th>Created By</th>
                            <td>{{ transaction.created_by }}</td>
                        </tr>

                     <tr>
                            <th>Updated By</th>
                            <td>{{ transaction.updated_by }}</td>
                     </tr>

                    {%  if transaction.asset_status %}

                         <tr>
                                <th>Asset Status</th>
                                <td>{{ transaction.asset_status }}</td>
                         </tr>
                    {% endif %}

                      <tr>
                            <th>Usage Status</th>
                          <td>{{ transaction.usage_status }}</td>
                     </tr>


                    </tbody>
                </table>
                </div>
            </div>
        </div>




    </div>
</div>





{% endblock content %}

{% block jsscript %}

{% endblock jsscript %}