{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style>
    .tab{
    border-radius:11px!important;
    width: 48%;
    }
</style>

{% endblock head %}
{% block content %}

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <form action="" method="get">
            {# {{ filter.form }} #}

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.name.label }}</label>
                    {{ filter.form.name }}
                </div>
            </div>
             <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.asset_type.label }}</label>
                    {{ filter.form.asset_type }}
                </div>
            </div>




            <div class="clearfix"></div>
            <h4 style="padding: 10px;">Sort By</h4>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.order_by_created_at.label }}</label>
                    {{ filter.form.order_by_created_at }}
                </div>
            </div>


            <button type="submit" class="btn btn-primary pull-right">Submit</button>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

	<div class="content-main">
		<div class="block">
			<div class="row show-grid">
				<div class="col-sm-6">

					<h3>Assets</h3>
				</div>
                <div>
                    <a href="{% url 'asset:customer_transaction' %}"><i class="fa fa-close pull-right"></i></a>
                </div>

			</div>
			<div class="row show-grid">
				<div class="col-sm-12">
                    <div class="table-responsive">

						<table class="table table-striped">
							<thead>
								<tr>
                                    <th>#</th>
                                    <th>Customer</th>
                                    <th>Asset</th>
                                    <th>Time</th>
                                    <th>Status</th>


                                </tr>
							</thead>
							<tbody>
								{% for asset in assets %}
									<tr>
										<td scope="row">{{ forloop.counter }}</td>
                                         <td>{{asset.customer}}</td>
                                        <td>{{asset.asset}}</td>
                                        <td>{{asset.date_and_time}}</td>
                                        <td>

                                            <select class="form-control statusbutton tab" name="status" data-value="{{ asset.pk }}">

                                                <option{% if asset.usage_status == "Not Used" %}selected{% endif %}><a href="" data-value="Not Used">Not Used</a></option>
                                                <option {% if asset.usage_status == "Used" %}selected{% endif %}><a href="" data-value="Used">Used</a></option>
                                                <option {% if asset.asset_status == "Damage" %}selected{% endif %}><a href="" data-value="Damage">Damage</a></option>
                                                 <option {% if asset.asset_status == "Destroyed" %}selected{% endif %}><a href="" data-value="Destroyed">Destroyed</a></option>

                                            </select>
                                        </td>


                                    </tr>
									{% empty %}
									<tr><td>No Assets</td></tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div id="pagination">
						{{pagination|safe}}
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block jsscript %}
<script>

function getCookie(name) {
   var cookieValue = null;
   if (document.cookie && document.cookie != '') {
       var cookies = document.cookie.split(';');
       for (var i = 0; i < cookies.length; i++) {
           var cookie = jQuery.trim(cookies[i]);
           // Does this cookie string begin with the name we want?
           if (cookie.substring(0, name.length + 1) == (name + '=')) {
               cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
               break;
           }
       }
   }
   return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
   // these HTTP methods do not require CSRF protection
   return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
   beforeSend: function(xhr, settings) {
       if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
           xhr.setRequestHeader("X-CSRFToken", csrftoken);
       }
   }
});
$(document).ready(function() {
    $(".statusbutton").change(function(event){
        alert("yu")
       var selectedStatus = $(this).children("option:selected").val();
       var primek = $(this).data("value")
       if (confirm("Confirm?"))
       $(this).val(selectedStatus);
       {
           $.ajax(
           {
               url : '/asset/change/status/' + primek + '/',
               type: "POST",
               data: {
                 'status': selectedStatus
               },
               success:function(data)
               {
                   console.log('success')
               },
               error: function(jqXHR, textStatus, errorThrown)
               {
                   console.log('failed')
               }
           });
       }
   });
   });

</script>

{% endblock jsscript %}