{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}

<style type="text/css">
    i{
        cursor: pointer; cursor: hand;

    }
    .calender-box1 {
    width: 96px;
    height: 97px;
    border-radius: 6px 6px;
    background-color:  #a90000;
    position: relative;
    }
    .week1 {
    position: relative;
    color: #fff;
    top: -20px;
    font-size: 15px;
    text-align: center;
    font-family: "DESIB___", sans-serif !important;
    }
    .day1 {
    position: relative;
    color: #fff;
    top: -18px;
    font-size: 30px;
    text-align: center;
    font-family: "DESIB___", sans-serif !important;
    }
    .year-month1 {
    position: relative;
    color: #fff;
    top: -20px;
    font-size: 15px;
    text-align: center;
    font-family: "DESIB___", sans-serif !important;
    }
    </style>


{% endblock head %}
{% block content %}

<div class="banner">
            <h3>
            Assignments  jjjjjj <% message %>

            </h3>
        </div>

        <div class="blank">
            <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 tab-content tab-content-in">
                <div class="tab-pane active text-style" id="tab1">
                    <div class="inbox-right">
                        <div class="mailbox-content">
                            <div class="mail-toolbar clearfix" id="example-2">

                                <div class="table-responsive">

                                <table class="table">
                                    <thead>


                                    </thead>
                                    <tbody>


                                    <tr class="table-row" v-for="(entry, index) in entries">

                                        <td class="table-text">
                                            <h6>
                                          <a v-bind:href="'/customer/assets/'+ +'/'+entry.customer.pk">

                                                <%entry.customer.name %>
                                          </a>



                                            </h6>
                                            <p><% entry.customer.address %></p>
                                        </td>
                                        <td>
                                            <span class="fam"><% entry.date_and_time|Time  %></span>
                                        </td>


                                         <td >
                                           <i class="fa fa-phone"> <% entry.customer.phone %> </i>
                                        </td>
                                    </tr>



                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 compose">
                <div class="cal1 cal_2">
                    <div class="clndr"></div>
                </div>
            </div>
            </div>
        </div>


{% endblock content %}

{% block jsscript %}


<link rel="stylesheet" href="{% static 'css/clndr.css' %}" type="text/css" />
    <script src="{% static 'js/underscore-min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/moment-2.2.1.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/clndr.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vue.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            var today = new Date();
            today = moment(today).format('YYYY-MM-DD')
            $.ajax({ url: '/customer/transactions/' + today+'/',
                context: document.body,
                success: function(entries, textStatus) {
                    <!--console.log(data);-->
                    data.entries = JSON.parse(entries);
                    data.date=today;

                    console.log(data.entries);
                    console.log("date",data.date);

                }});
        });

    Vue.config.devtools = true;

    Vue.filter('SignIn', function (value) {
        return moment(value).local().format('HH:mm:ss');
    });

    Vue.filter('Day', function (value) {
        console.log(value);
        return moment(value).format('D');
    });
    Vue.filter('Week', function (value) {
        console.log(value);
        return moment(value).format('dddd');
    });
    Vue.filter('Date', function (value) {
        console.log(value);
        return moment(value).format('YYYY-MM-DD');
    });

    Vue.filter('Time', function (value) {
        console.log(value);
        return moment(value).format('HH:mm a');
    });



    var data = {
        entries:[],
        date:,
        message: 'Hello Vue!'

    };
    var entriesVue = new Vue({
        delimiters: ['<%', '%>'],
        el: '#example-2',
        data: data,
        methods: {

        },





    });
    console.log(entriesVue.$data);
    // $('.clndr').clndr({
    //     clickEvents: {
    //         // Fired whenever a calendar box is clicked. Returns a 'target' object
    //         // containing the DOM element, any events, and the date as a moment.js
    //         // object.
    //         click: function (target) {console.log(target)},
    //     }
    // });
    </script>
    <script src="{% static 'js/site.js' %}" type="text/javascript"></script>


{% endblock jsscript %}