{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
<style>
	.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}
{% block content %}

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row">
		 	
		 	<div class="col-sm-10 col-xs-12">
		 		{% if type == 'add' %}
		 			<h2>Asset Item Details</h2>
		 		{% elif type == 'edit' %}
		 			<h2>Edit Asset Item Details</h2>
		 		{% endif %}
		 	</div>
		 	<div class="col-sm-2 col-xs-12">
		 		<a href="{% url 'asset:stock:batch:item:list' batch_pk %}">cancel </a>
			</div>
		</div>
 	       
	    <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
			<form class="form-horizontal" action="{{ form_url }}" method="post">{% csrf_token %}
				{{ assetform.non_field_errors }}
				{{ assetform.field_errors }}
				{{ attributeform.non_field_errors }}
				{{ attributeform.field_errors }}

					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">
							{{ assetform.code.label }} <span class="req">*</span></label>
						<div class="col-sm-7 col-xs-12">
							{{ assetform.code }}
                            {{ assetform.code.errors }}
						</div>
					</div>

					
					
					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">{{ assetform.status.label }} <span class="req">*</span></label>
						<div class="col-sm-7 col-xs-12">
							{{ assetform.status }}
				            {{ assetform.status.errors }}
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">{{ assetform.state.label }} <span class="req">*</span></label>
						<div class="col-sm-7 col-xs-12">
							{{ assetform.state }}
				            {{ assetform.state.errors }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">{{ assetform.asset_type.label }}<span class="req">*</span></label>
						<div class="col-sm-7 col-xs-12">
							{{ assetform.asset_type }}
				            {{ assetform.asset_type.errors }}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">{{ assetform.vendor.label }} <span class="req">*</span></label>
						<div class="col-sm-7 col-xs-12">
							{{ assetform.vendor }}
				            {{ assetform.vendor.errors }}
						</div>
					</div>
					<!--
					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">{{ assetform.available_date.label }}</label>
						<div class="col-sm-7 col-xs-12">
							{{ assetform.available_date }}
				            {{ assetform.available_date.errors }}
						</div>
					</div>
					-->
					<h4><strong>Attributes</strong></h4>
					 
					<div class="form-group">
						<div class="form-inline">
							<label for="area" class="col-sm-2 control-label col-xs-12">{{attributeform.unit_of_area.label}}</label>{{ attributeform.unit_of_area.errors }}
							<div class="col-sm-3">
								{{ attributeform.unit_of_area }}
							</div>
						</div>
						<div class="form-inline">
							<label for="area" class="col-sm-1 control-label col-xs-12">{{attributeform.area.label}}</label>{{ attributeform.area.errors }}
							<div class="col-sm-3">
								{{ attributeform.area }}
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-inline">
							<label for="volume" class="col-sm-2 control-label col-xs-12">{{attributeform.unit_of_volume.label}}</label>{{ attributeform.unit_of_volume.errors }}
							<div class="col-sm-3">
								{{ attributeform.unit_of_volume }}
							</div>
						</div>
						<div class="form-inline">
							<label for="volume" class="col-sm-1 control-label col-xs-12">{{attributeform.volume.label}}</label>{{ attributeform.volume.errors }}
							<div class="col-sm-3">
								{{ attributeform.volume }}
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="form-inline">
							<label for="length" class="col-sm-2 control-label col-xs-12">{{attributeform.unit_of_length.label}}</label>{{ attributeform.unit_of_length.errors }}
							<div class="col-sm-3">
								{{ attributeform.unit_of_length }}
							</div>
						</div>
						<div class="form-inline">
							<label for="length" class="col-sm-1 control-label col-xs-12">{{attributeform.length.label}}</label>{{ attributeform.length.errors }}
							<div class="col-sm-3">
								{{ attributeform.length }}
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="breadth" class="col-sm-2 control-label col-xs-12">{{attributeform.breadth.label}}</label>{{ attributeform.breadth.errors }}
						<div class="col-sm-3">
							{{ attributeform.breadth }}
						</div>
					</div>
					<div class="form-group">
						<div class="form-inline">
							<label for="weight" class="col-sm-2 control-label col-xs-12">{{attributeform.unit_of_mass.label}}</label>{{ attributeform.unit_of_mass.errors }}
							<div class="col-sm-3">
								{{ attributeform.unit_of_mass }}
							</div>
						</div>
						<div class="form-inline">
							<label for="weight" class="col-sm-1 control-label col-xs-12">{{attributeform.weight.label}}</label>{{ attributeform.weight.errors }}
							<div class="col-sm-3">
								{{ attributeform.weight }}
							</div>
						</div>
					</div>

					
					<div class="form-group">
						<label for="size" class="col-sm-2 control-label col-xs-12">{{attributeform.size.label}}</label>{{ attributeform.size.errors }}
						<div class="col-sm-7">
							{{ attributeform.size }}
						</div>
					</div>
					<div class="form-group">
						<label for="size" class="col-sm-2 control-label col-xs-12">{{attributeform.brand.label}}</label>{{ attributeform.brand.errors }}
						<div class="col-sm-7">
							{{ attributeform.brand }}
						</div>
					</div>
					

					<div class="form-group">
						<div class="form-inline">
							<label for="manufacturing_date" class="col-sm-2 control-label col-xs-12">{{attributeform.manufacturing_date.label}}</label>{{ attributeform.manufacturing_date.errors }}
							<div class="col-sm-3">
								{{ attributeform.manufacturing_date }}
							</div>
						</div>
						<div class="form-inline">
							<label for="warranty_date" class="col-sm-2 control-label col-xs-12">{{attributeform.warranty_date.label}}</label>{{ attributeform.warranty_date.errors }}
							<div class="col-sm-3">
								{{ attributeform.warranty_date }}
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="form-inline">
							<label for="warranty_date" class="col-sm-2 control-label col-xs-12">{{attributeform.last_repair_date.label}}</label>{{ attributeform.last_repair_date.errors }}
							<div class="col-sm-3">
								{{ attributeform.last_repair_date }}
							</div>
						</div>
						<div class="form-inline">
							<label for="warranty_date" class="col-sm-2 control-label col-xs-12">{{attributeform.last_maintenance_date.label}}</label>{{ attributeform.last_maintenance_date.errors }}
							<div class="col-sm-3">
								{{ attributeform.last_maintenance_date }}
							</div>
						</div>
					</div>
					

					<div class="form-group">
						<div class="form-inline">
							<label for="commissioning_date" class="col-sm-2 control-label col-xs-12">{{attributeform.commissioning_date.label}}</label>{{ attributeform.commissioning_date.errors }}
							<div class="col-sm-3">
								{{ attributeform.commissioning_date }}
							</div>
						</div>
						<div class="form-inline">
							<label for="purchase_date" class="col-sm-2 control-label col-xs-12">{{attributeform.purchase_date.label}}</label>{{ attributeform.purchase_date.errors }}
							<div class="col-sm-3">
								{{ attributeform.purchase_date }}
							</div>
						</div>
					</div>

					<div class="form-group">
						<div class="form-inline">
							<label for="asset_category" class="col-sm-2 control-label col-xs-12">{{attributeform.asset_category.label}}</label>{{ attributeform.asset_category.errors }}
							<div class="col-sm-3">
								{{ attributeform.asset_category }}
							</div>
						</div>
						<div class="form-inline">
							<label for="current_value" class="col-sm-2 control-label col-xs-12">{{attributeform.current_value.label}}</label>{{ attributeform.current_value.errors }}
							<div class="col-sm-3">
								{{ attributeform.current_value }}
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-inline">
							<label for="repair_cost" class="col-sm-2 control-label col-xs-12">{{attributeform.repair_cost.label}}</label>{{ attributeform.repair_cost.errors }}
							<div class="col-sm-3">
								{{ attributeform.repair_cost }}
							</div>
						</div>
						<div class="form-inline">
							<label for="sale_price" class="col-sm-2 control-label col-xs-12">{{attributeform.sale_price.label}}</label>{{ attributeform.sale_price.errors }}
							<div class="col-sm-3">
								{{ attributeform.sale_price }}
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-inline">
							<label for="registration_date" class="col-sm-2 control-label col-xs-12">{{attributeform.registration_date.label}}</label>{{ attributeform.registration_date.errors }}
							<div class="col-sm-3">
								{{ attributeform.registration_date }}
							</div>
						</div>
						<div class="form-inline">
							<label for="registration_no" class="col-sm-2 control-label col-xs-12">Registration Number</label>{{ attributeform.registration_no.errors }}
							<div class="col-sm-3">
								{{ attributeform.registration_no }}
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-10">
    						<button class="btn-primary btn pull-right">Submit</button>
    					</div>
    				</div>

				</form>
				</div>
			</div>
		</div>			
	</div>

{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/select2.min.js' %}"></script>

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="/static/js/select2.js"></script>

<script>
      $(document).ready(function() {
        // $('.tdate').daterangepicker({
        //   singleDatePicker: true,
        //   // calender_style: "picker_4",
        //   showDropdowns: true,
        //   locale: {
        // 		format: 'YYYY-MM-DD',
      		// 	},

        // }, function(start, end, label) {
        //   console.log(start.toISOString(), end.toISOString(), label);
        // });
        var $date_inputs = $('.tdate')
	    var date_format = 'YYYY-MM-DD';
	    $date_inputs.daterangepicker({
	        singleDatePicker: true,
        autoUpdateInput: false,
        // timePicker: true,
        // timePicker24Hour: false,
        autoApply: true,
        showDropdowns: true,
        locale: {
            format: date_format,
        },
	        // calender_style: "picker_4",
	    }, function(start, end, label) {
	        console.log(start.toISOString(), end.toISOString(), label);
	    });

	    $date_inputs.on('apply.daterangepicker', function(ev, picker) {
	        $(this).val(picker.startDate.format('YYYY-MM-DD'));
	    });

	    $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
	        $(this).val('');
	    });
      });

	
	$("#location").select2({
		
		});

</script>

<script>

</script>
{% endblock jsscript %}
