{% extends "erp_admin/base.html" %}
{% load static tz util %} {% get_current_timezone as TIME_ZONE %}
{% block title %} Daily Report{% endblock title %}
{% block head %}
<style type="text/css">

.white{
color: #fff!important;
text-align: center!important;
}

.rw-style{
margin-right: 0px;
margin-left: 0px;
padding:15px;
}
</style>
{% endblock head %}
{% block content %}
<div class="block">
    <div class="row show-grid">
        
            <div class="col-sm-6 col-xs-12">
                <h3>Stock Status</h3>
            </div>
        
    </div>
    
    <div class="row show-grid" style="padding-right:15px;">
        <form id="form" action="{% url 'inventory:raw_material:stock:checkStock' %}" method="post">
            {% csrf_token %}
            <div class="col-sm-4">
                <div class="form-inline">
                    <div class="form-group">
                        <select class="form-control" name="product" id ="product" required="required">
                            <option value=""> --FILTER BY STATUS-- </option>
                            {% for product in products %}
                                <option value="{{ product.id }}" {% compare_uuid current_product product.id %}>{{ product }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-3">
                <input type="submit" name="search" value="Search" class="btn">
            </div>
        </form>
    </div>
</div>
{% if INVENTORY_PO %}
<div class="row">
    <div class="col-sm-6 col-xs-12" >
        <div class="block" style="background-color:#8BC34A; ">
            <div class="row show-grid">
                <h4 align="center" class="white">Free Stock</h4>
                <p align="center" class="white">
                    {% if count_instock %}
                        {{ count_instock }}
                        &nbsp;
                        {% if count_instock > 1 %}
                            Batches 
                        {% else %}
                            Batch
                        {% endif %}
                    {% else %}
                        Not Available
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="block" style="background-color:#FFC107;">
            <div class="row show-grid">
                <h4 align="center" class="white">Booked Stock</h4>
                <p align="center" class="white">
                    {% if count_booked %}
                        {{ count_booked }}
                        &nbsp;
                        {% if count_booked > 1 %}
                            Batches 
                        {% else %}
                            Batch
                        {% endif %}
                    {% else %}
                        Not Available
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="row show-grid">
        <div class="row">
            <div class="col-sm-8">
                <h3>Intransit Stock{% if count_intransit %} - {{ count_intransit }}&nbsp;{% if count_intransit > 1 %}Batches {% else %}Batch{% endif %}{% endif %}</h3>
            </div>
        </div>
        
        <div class="col-md-12 col-sm-12 col-xs-12">
            {% if stocks %}
                {% for stock in stocks %}
                <div class="col-sm-3" style="border:1px solid black;">
                    <div class="rw-style row" style="background-color:#9C27B0;color:#ffffff;" ><p align="center">{{ stock.expected_date|date:"D d M Y"}}</p></div>
                    <div class="rw-style row" style="background-color:#FDD835;color:#000000;" ><p align="center">{{ stock.product__name }}</p></div>
                    <div class="rw-style row" style="background-color:#E0E0E0;color:#000;" ><p align="center">Ordered Quantity:{{ stock.ordered_quantity }}</p></div>

                </div>
                {% endfor %}
                
                {# <div id="graph" style="width:100%; height:450px;"></div> #}
            {% else %}
                <p>Not Available</p>
            {% endif %}
        </div>
        
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-sm-4 col-xs-12" >
        <div class="block" style="background-color:#8BC34A; ">
            <div class="row show-grid">
                <h4 align="center" class="white">Free Stock</h4>
                <p align="center" class="white">
                    {% if count_instock %}
                        {{ count_instock }}
                        &nbsp;
                        {% if count_instock > 1 %}
                            Batches 
                        {% else %}
                            Batch
                        {% endif %}
                    {% else%}
                        Not Available
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="block" style="background-color:#D32F2F;">
            <div class="row show-grid">
                <h4 align="center" class="white">Intransit Stock</h4>
                    <p align="center" class="white">
                        {% if count_intransit %}
                            {{ count_intransit }}
                            &nbsp;
                            {% if count_booked > 1 %}
                                Batches 
                            {% else %}
                                Batch
                            {% endif %}
                        {% else %}
                            Not Available
                        {% endif %}
                    </p>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12">
        <div class="block" style="background-color:#FFC107;">
            <div class="row show-grid">
                <h4 align="center" class="white">Booked Stock</h4>
                    <p align="center" class="white">
                        {% if count_booked %}
                            {{ count_booked }}
                            &nbsp;
                            {% if count_booked > 1 %}
                                Batches 
                            {% else %}
                                Batch
                            {% endif %}
                        {% else %}
                            Not Available
                        {% endif %}
                    </p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
{% block scripts %}
<script>
    $("#product").select2({
    maximumSelectionLength: 10,
    allowClear: true,
    placeholder: "SELECT PRODUCT",

});
</script>   

{% endblock scripts %}
