{% extends "erp_admin/base.html" %}{% load humanize %} {% load static %} {% load static tz %} {% get_current_timezone as
TIME_ZONE %} {% block head %} {% endblock head %} {% block content %}
<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <form action="" method="get">
        <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.name.label }}</label>
                    {{ filter.form.name }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.status.label }}</label>
                    {{ filter.form.status }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.state.label }}</label>
                    {{ filter.form.state }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.asset_type.label }}</label>
                    {{ filter.form.asset_type }}
                </div>
            </div>
             <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.asset.label }}</label>
                    {{ filter.form.asset }}
                </div>
            </div>
            <div class="clearfix"></div>
            
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

<div id="stock-block">
    <div class="block">
        <a href="{% url 'asset:stock:list' %}">Back</a>
        <div class="row show-grid">
            <div class="col-sm-9 col-xs-12">
                <h3>Stock Asset</h3>
            </div>
            <div class="col-sm-3 col-xs-12">
                <p>
                    <a href="{% url 'asset:stock:stock_edit' stock.pk %}">
                            <i class="fa fa-edit fa-fw"></i> Edit
                        </a> |
                    <a href="{% url 'asset:stock:stock_detail' stock.pk %}">
                            <i class="fa fa-refresh"></i> Refresh
                        </a>
                </p>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12 col-xs-12">
                <mark># {{stock.code}} </mark>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="row show-grid">
            <div class="row">
                <div class="col-sm-4 col-xs-12" style="">
                    <span class="date_font">
                        Date: {{ stock.date_time | date }}
                    </span>
                </div>
                <div class="col-sm-4 col-xs-12">
                    {% if stock.purchased_by %}
                    <span class="date_font">
                        Purchased By :{{ stock.purchased_by }}
                    </span>
                    {% endif %}
                </div>
                <div class="col-sm-4 col-xs-12">
                    <span class="date_font">
                        Last Update: {{ stock.updated_at | date }}
                    </span>
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                <div class="col-sm-3 col-xs-12" style="">
                    <h4>Location</h4>
                    <p>{{ stock.location }}</p>
                </div>
                <div class="col-sm-3 col-xs-12" >
                    {% if stock.hasPurchaseOrder.type != None %}
                    <h4>Purchase Order</h4>
                    <p style="margin-top:15px;">{{ stock.purchase_order }}</p>
                    {% else %}
                    <h4>Supplier</h4>
                    <p style="margin-top:10px;"> {{ stock.supplier }} </p>
                    {% endif %}
                </div>

                <div class="col-sm-3 col-xs-12">
                    <p style="color:black;"> Status:</p>
                    <p><mark style="background-color:#4BBFE7;">{{stock.status}}</mark> <i class="fa fa-pencil" aria-hidden="true" data-target="#editstatus"
                        data-toggle="modal"></i></p>
                    
                </div>
                
                <div class="col-sm-3 col-xs-12">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
                    Apply Filters
                    </button>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h3>Item wise Asset Details</h3>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-xs-12 table-responsive" style="">
                        <table class="table table-bordered" style="margin-top:20px;">
                            <thead>
                                <tr>
                                    <th>
                                        <h4>Asset</h4>
                                    </th>
                                    <th>
                                        <h4>Price</h4>
                                    </th>
                                    <th>
                                        <h4>Edit</h4>
                                    </th>
                                    <th>
                                        <h4>Status</h4>
                                    </th>
                                    <th>
                                        <h4>State</h4>
                                    </th>
                                    <th>View</th>
                                    <th><h4>Delete</h4></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                <tr>
                                    <td>{{ item.asset }}</td>
                                    <td>{{ item.price }}</td>

                                    <td>
                                        <a href="{% url 'asset:stock:item:edit' stock.pk item.pk %}">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                    <td>
                                        {{ item.status }}

                                        <!-- {# <i class="fa fa-edit pull-right" aria-hidden="true" data-target="#edit-{{item.id}}" data-toggle="modal" style="color: #337ab7;"></i> #} -->
                                        <!-- Modal -->
                                        <!-- {# <div class="modal fade" id="edit-{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <form action="" method="POST">
                                                        {% csrf_token %}
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            <h4 class="modal-title" id="myModalLabel">Change Item Status</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <select name="status" class="form-control">
                                                                    <option value="pending" "{% if item.status == "pending" %} selected="selected " {% endif %}">pending</option>
                                                                    <option value="intransit" "{% if item.status == "intransit" %} selected="selected " {% endif %}">intransit</option>
                                                                    <option value="instock" "{% if item.status == "instock" %} selected="selected " {% endif %}">instock</option>
                                                                    <option value="booked" "{% if item.status == "booked" %} selected="selected " {% endif %}">booked</option>
                                                                </select>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="submit">Update</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div> #} -->

                                    </td>
                                    <td>
                                       {{ item.state }} 
                                    </td>
                                    <td>
                                        <a href="{% url 'asset:stock:item:item_detail' stock.pk item.pk %}">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                    <td><a href=" {% url 'asset:stock:item:delete_item' stock.pk item.pk %}"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="5">No Items</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- Modal -->
<div class="modal fade" id="editstatus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{% url 'asset:stock:editStockStatus' stock.id %}" method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Change Stock Status</h4>
                </div>
                <div class="modal-body">
                    <select name="status" class="form-control">
                        {% for status in stock_statuses %}
                            <option value="{{ status.0 }}" "{% if stock.status == status.0 %} selected="selected " {% endif %}">{{ status.1 }}</option>
                        {% endfor %}
                        
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %} {% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $("#pagination a").click(function (e) {
            e.preventDefault()
            page_string = this.href.slice(this.href.indexOf("?") + 1)
            var query_string = ""
            var search_query = window.location.search
            var query_obj = {}
            if (search_query) {
                if (search_query.indexOf('?') > -1)
                    search_query = search_query.substr(1)
                var searchQueryStrings = [search_query]
                if (search_query.indexOf('&') > -1)
                    searchQueryStrings = search_query.split('&')
                searchQueryStrings.forEach(qs => {
                    var query_array = qs.split('=')
                    query_obj[query_array[0]] = query_array[1]
                })
            }
            query_obj['page'] = page_string.split('=')[1]
            for (var k in query_obj) {
                query_string += k + '=' + query_obj[k] + '&'
            }
            // console.log(query_string, query_obj, window.location)
            window.location = window.location.pathname + "?" + query_string.slice(0, -1)
        })
        var format = 'YYYY-MM-DD H:mm'
        function cb(start, end) {
            $('#created_at span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            $("#id_created_at_0").val(start.format(format));
            $("#id_created_at_1").val(end.format(format));
        }
        $('#filter-modal').on('shown.bs.modal', function () {
            console.log(moment($("#id_created_at_0").val()))
            var start_date = $("#id_created_at_0").val() ? moment($("#id_created_at_0").val()) : moment().subtract(29, 'days')
            var end_date = $("#id_created_at_1").val() ? moment($("#id_created_at_1").val()) : moment()
            $('#created_at').daterangepicker({
                startDate: start_date,
                endDate: end_date,
                showDropdowns: true,
                locale: {
                    format: format,
                },
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
            cb(start_date, end_date)
        })
        function remove(form, e) {
            e.preventDefault()
            if (confirm('Confirm Delete')) {
                form.submit()
            }
        }
    });

</script>
{% endblock jsscript %}