{% extends "erp_admin/base.html" %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
	<style>
	
	.pleft{
		padding-left:40px;
	}
	.pleft1{
		padding-left:20px;
	}
	td span{
		font-size: 1em;
		padding: 0px;
	}
	.padrw{
		padding-top: 30px;
	}
	.req{
  color:#FC0404!important;
  font-size:20px!important;
}
	</style>
{% endblock head %}
{% block content %}
	<div class="panel-body cl">
		
		<div class="row" >
			<div class="col-md-6 col-sm-6 col-xs-12" align="left">
			<h3 >Edit Batch {{ batch.code }} of Stock {{ batch.stock.code }} </h3></div>
			
		</div>
	</div>
	
	<div class="panel-body cl">
		
		
		<form class="form-inline" action="{{ form_url }}" method="post">
			{% csrf_token %}
			<div class="tab-content">
				{{ form.non_field_errors }}
				{{ form.field_errors }}
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label>Code</label>
						<input type="text" class="form-control" readonly="true" value="{{ batch.code }}">
					</div>
					<div class="form-group">
						<label>Product</label>
						<input type="text" class="form-control" value="{{ batch.asset }}" readonly="true">
					</div>
					<div class="form-group">
						<label>Status</label>
						<input type="text" class="form-control" value="{{ batch.status }}" readonly="true">
					</div>
				</div>
			</div>
			<div class="row padrw">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label>{{ form.ordered_quantity.label }}<span class="req">*</span></label>
						{{ form.ordered_quantity}}
					</div>
					<div class="form-group">
						<label>{{ form.received_quantity.label }}<span style="font-size: 8px;">({{ form.received_quantity.help_text }})</span><span class="req">*</span></label>
						{{ form.received_quantity}}
					</div>
					<div class="form-group">
						<label>{{ form.damage_quantity.label }}<span class="req">*</span></label>
						{{ form.damage_quantity}}
					</div>
				</div>
			</div>
			<div class="row padrw">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label>{{ form.price_per_item.label }}<span class="req">*</span></label>
						{{ form.price_per_item}}
					</div>
					<div class="form-group">
						<label>{{ form.msp.label }}</label>
						{{ form.msp}}
					</div>
				</div>
			</div>
			<div class="row padrw">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="form-group">
						<label>{{ form.date_of_manufacturing.label }}</label>
						{{ form.date_of_manufacturing}}
					</div>
					<div class="form-group">
						<label>{{ form.expiry_date.label }}</label>
						{{ form.expiry_date}}
					</div>
				</div>
			</div>
			<div class="row padrw">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<input type="submit" name="Save" class="btn">
				</div>
			</div>
		</form>
		
	</div>
{% endblock content %}
{% block jsscript %}
	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/daterangepicker.js' %}"></script>
	<script>
		$(document).ready(function() {
	$("#form").submit(function(){
			$("#item_quantity").prop("disabled",false);
		});
		
	function attachDateRangePicker(input_date){
	input_date.daterangepicker({
	singleDatePicker: true,
	showDropdowns: true,
	minDate:new Date(),
	locale: {
	format: 'YYYY-MM-DD',
	},
	}, function(start, end, label) {
	console.log(start.toISOString(), end.toISOString(), label);
	});
	}
	attachDateRangePicker($('input.tdate'))
	});
	</script>
	<script>
	function ProductFunction()
	{
	alert("Select a product")
	$(".product").select2({
		maximumSelectionLength: 10,
		
		});
		}
	</script>
	<script>
	function CalenderFunction(){
			alert("pick a date")
			$('.tdate').daterangepicker({
				singleDatePicker: true,
				// calender_style: "picker_4",
				showDropdowns: true,
				minDate:new Date(),
				locale: {
			format: 'YYYY-MM-DD',
				},
			}, function(start, end, label) {
				console.log(start.toISOString(), end.toISOString(), label);
			});
		}
	</script>
{% endblock jsscript %}