{% extends "erp_admin/base.html" %}
{% load static tz util %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
<style type="text/css">
	.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}
{% block css %}
<style>
</style>
{% endblock css %}
{% block content %}
<div class="block">
	<a href="{% url 'asset:stock:list' %}">Cancel</a>
	<div class="row show-grid">
		<div class="col-sm-10 col-xs-12">
			<h3>
			{% if type == 'create'%}
				Add Stock Assets
				{% elif type == 'edit' %}
				Edit Stock Assets
			{% endif %}
			</h3>
		</div>
		{% if type == 'edit' %}
			<div class="col-sm-2 col-xs-12">
				<mark># {{stock.code}} </mark>
			</div>
		{% endif %}
		
	</div>
</div>
<div class="blank">
	<div class="grid-form1" style="padding: 2%;">
		<form class="" action="{{ form_url }}" method="post" id="form">
			<div class="tab-content">
				<div class="tab-pane active" id="horizontal-form">
					{% csrf_token %}
					<div class="row show-grid">
						<div class="col-xs-12 col-sm-12">
							{{ stock_form.non_field_errors }}
							{{ stock_form.field_errors }}
						</div>
					</div>
					
					<div class="row show-grid">
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">{{ stock_form.code.label}}<span class="req">*</span></label>
								<div class="">
									{{ stock_form.code }}{{ stock_form.code.errors }}
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">{{ stock_form.date_time.label}}<span class="req">*</span></label>
								<div class="">
									{{ stock_form.date_time }}{{ stock_form.date_time.errors }}
								</div>
							</div>
						</div>
						
						{% if INVENTORY_PO %}
							{% if type == 'edit' %}
								<div class="col-sm-3" id="po_disable">
									<div class="form-group">
										<label class="control-label">{{ stock_form.purchase_order.label}}<span class="req">*</span></label>
										<div class="">
											{{ stock_form.purchase_order }}{{ stock_form.purchase_order.errors }}
										</div>
									</div>
								</div>
							{% else %}
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">{{ stock_form.purchase_order.label}}<span class="req">*</span></label>
										<div class="">
											{{ stock_form.purchase_order }}{{ stock_form.purchase_order.errors }}
										</div>
									</div>
								</div>
							{% endif %}
						{% else %}
							{% if type == 'edit' %}
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">{{ stock_form.supplier.label}}</label>
										<div class="">
											{{ stock_form.supplier }}{{ stock_form.supplier.errors }}
										</div>
									</div>
								</div>
							{% else %}
								<div class="col-sm-3">
									<div class="form-group">
										<label class="control-label">{{ stock_form.supplier.label}}<span class="req">*</span><a href="" target="blank" > ADD</a></label>
										<div class="">
											{{ stock_form.supplier }}{{ stock_form.supplier.errors }}
										</div>
									</div>
								</div>
							{% endif %}
						{% endif %}
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">{{ stock_form.location.label}}<span class="req">*</span></label>
								<div class="">
									{{ stock_form.location.errors }}{{ stock_form.location }}
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="form-group">
								<label class="control-label">{{ stock_form.purchased_by.label}}<span class="req">*</span></label>
								<div class="">
									{{ stock_form.purchased_by.errors }}{{ stock_form.purchased_by }}
								</div>
							</div>
						</div>
					</div>
					<div class="row show-grid">
						{{ items_formset.management_form }}
						{% if items_formset.non_form_errors %}
							{% for error in items_formset.non_form_errors %}
								<div class="col-sm-12 col-xs-12">
									<span class="error_form">{{ error|escape }}</span>
								</div>
							{% endfor %}
						{% endif %}
					</div>
					<div class="row show-grid">
						<div class="col-xs-12 col-sm-12">
							<h4 >
							{% if type == 'create' %}
								Add Item wise Asset
								{% elif type == 'edit' %}
								Add More Items wise Asset
							{% endif %}
							</h4>
						</div>
					</div>
					<div class="row show-grid">
						<div id="batches" class="grid-form1">
							
							
							{% for item_form in items_formset %}
								{% for hidden in item_form.hidden_fields %}
									{{ hidden }}
								{% endfor %}
								<div class="stock-batch">
									{{ item_form.id }}
									<div class="form-group">
										
										<div class="col-sm-3" id="pdt">
											<label class="control-label">{{ item_form.asset.label }} <span class="req">*</span></label>
											{{ item_form.asset }}
											{{ item_form.asset.errors }}
										</div>

										<div class="col-sm-3" id="pdt">
											<div class="form-group">
												<label class="control-label">{{ item_form.name.label}}<span class="req">*</span></label>
												<div class="">
													{{ item_form.name }}{{ item_form.name.errors }}
												</div>
											</div>
										</div>

										<div class="col-sm-3" id="pdt">
											<label class="control-label">{{ item_form.price.label }} <span class="req">*</span></label>
											{{ item_form.price }}
											{{ item_form.price.errors }}
										</div>
										<div class="col-sm-3">
											<label class="control-label">{{ item_form.expiry_date.label }}<span class="req">*</span></label>
											{{ item_form.expiry_date }}
											{{ item_form.expiry_date.errors }}
										</div>
										
										
										<div class="clearfix"></div>
									</div>
									<div class="form-group">
										<div class="col-sm-3">
											{% if item_form.instance.pk %}{{ item_form.DELETE }}{% endif %}
											<div class="clearfix"></div>

										</div>
										<div class="clearfix"></div>
									</div>
									
								</div>
							{% endfor %}
							
						</div>
						
					</div>
					<div class="row show-grid">
						<div class="col-sm-12 col-xs-12">
							<button type="submit" class="btn-primary btn">Submit</button>	
						</div>
					</div>
				</div>
			</div>
			
			
		</form>
	</div>
</div>
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script>
$(document).ready(function() {
	{% if type == "edit" %}
						$("#purchase_order").prop("disabled",true);
						$("#supplier").prop("disabled",true);
						$("#location").prop("disabled",true);
						// $("#product").prop("disabled",true);
{% endif %}
$("#form").submit(function(){
		$("#purchase_order").prop("disabled",false);
		$("#supplier").prop("disabled",false);
		$("#location").prop("disabled",false);
		
		// $("#product").prop("disabled",false);
	});
var batches = $("#batches");
var amount = 0;
$('.stock-batch').formset({
prefix: '{{ items_formset.prefix }}',
addText: '<input type="button" class="btn btn-primary btn-xs" value="Add Item wise Asset">',
deleteText: '<font color="red">REMOVE</font>',
added: initializeFields,
// formTemplate: $("#emptyform")
});
// initial
// var total_forms_count = $('#id_placementstages_set-TOTAL_FORMS');
// var count = parseInt(total_forms_count.val());
// // update form count
// total_forms_count.val(count+1);
function initializeFields(row){
		attachDateRangePicker(row.find("input.tdate"))
		attachSelect2(row.find("select.product"))
		
}
function attachSelect2(select_box){
		console.log("attachSelect2", select_box)
		select_box.select2({
		placeholder: "Select",
		allowClear: true
		});
	}
batches.find("#pdt").each(function(index,pdt){
	initializeFields($(pdt));
});
function attachDateRangePicker(input_date){
	
input_date.daterangepicker({
singleDatePicker: true,
showDropdowns: true,
minDate:new Date(),
locale: {
format: 'YYYY-MM-DD',
},
}, function(start, end, label) {
console.log(start.toISOString(), end.toISOString(), label);
});
}
attachDateRangePicker($('input.tdate'))
attachSelect2($('select.product'))

// $('#purchase_order').on("change",function(e) {
// 		e.preventDefault()
// 		var purchase_order = $(this).val()
// 		url = ""
// 		if(purchase_order)
// 			url += "?po=" + purchase_order; // get selected value
		
// 		console.log(purchase_order, url)
// 		// debugger
		
// 		window.location = url; // redirect
		
// 	});
});
</script>
{% endblock jsscript %}