{% extends "erp_admin/base.html" %}
{% load static %}
{% block head %}
	<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
	<style>
	
	.pleft{
		padding-left:40px;
	}
	.pleft1{
		padding-left:20px;
	}
	td span{
		font-size: 1em;
		padding: 0px;
	}
	.padrw{
		padding-top: 30px;
	}
	</style>
{% endblock head %}
{% block content %}
	<div class="panel-body cl">
		
		<div class="row" >
			<div class="col-md-6 col-sm-6 col-xs-12" align="left">
			<h3 >Edit Item {{ item.code }} of Batch {{ item.stock.code }} </h3>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12" align="right">
			<a href="{% url 'asset:stock:stock_detail' item.stock.pk %}">Back to Stock list</a>
			</div>
		</div>
	</div>
	
	<div class="panel-body cl">
		<form class="form-inline" action="{{ form_url }}" method="post">
			{% csrf_token %}
			<div class="tab-content">
				{{ form.non_field_errors }}
				{{ form.field_errors }}
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					
					<div class="form-group">
						<label>Asset Category</label>
						{{ form.asset}}
					</div>
					<div class="form-group">
						<label>{{ form.name.label }}</label>
						{{ form.name}}
					</div>
				</div>
			</div>
			<div class="row padrw">
				<div class="col-md-12 col-sm-12 col-xs-12">
					
					<div class="form-group">
						<label>Status</label>
						{{ form.status }}
					</div>
					<div class="form-group">
						<label>{{ form.expiry_date.label }}</label>
						{{ form.expiry_date}}
					</div>

					<div class="form-group">
						<label>{{ form.state.label }}</label>
						{{ form.state}}
					</div>
					
					
					<div class="form-group">
						<label>{{ form.price.label }}</label>
						{{ form.price}}
					</div>
				</div>
			</div>
			<div class="row padrw">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<input type="submit" name="Save" class="btn">
				</div>
			</div>
		</form>
	</div>
{% endblock content %}
{% block jsscript %}
	<script src="{% static 'js/moment.min.js' %}"></script>
	<script src="{% static 'js/daterangepicker.js' %}"></script>
	<script>
	// $(document).ready(function() {
	// $("#form").submit(function(){
	// 		$("#item_quantity").prop("disabled",false);
	// 	});
		
	// function attachDateRangePicker(input_date){
	// input_date.daterangepicker({
	// singleDatePicker: true,
	// showDropdowns: true,
	// locale: {
	// format: 'YYYY-MM-DD',
	// },
	// }, function(start, end, label) {
	// console.log(start.toISOString(), end.toISOString(), label);
	// });
	// }
	// attachDateRangePicker($('input.tdate'))
	// });
	</script>
	<script>
	// function ProductFunction()
	// {
	// alert("Select a product")
	// $(".product").select2({
	// 	maximumSelectionLength: 10,
		
	// 	});
	// 	}
	 </script>
	<script>
	// function CalenderFunction(){
	// 		alert("pick a date")
	// 		$('.tdate').daterangepicker({
	// 			singleDatePicker: true,
	// 			// calender_style: "picker_4",
	// 			showDropdowns: true,
	// 			locale: {
	// 		format: 'YYYY-MM-DD',
	// 			},
	// 		}, function(start, end, label) {
	// 			console.log(start.toISOString(), end.toISOString(), label);
	// 		});
	// 	}
	</script>
{% endblock jsscript %}