{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
{% endblock head %}
{% block content %}
<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <form action="" method="get">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.code.label }}</label>
                    {{ filter.form.code }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.status.label }}</label>
                    {{ filter.form.status }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.state.label }}</label>
                    {{ filter.form.state }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.asset_type.label }}</label>
                    {{ filter.form.asset_type }}
                </div>
            </div>
             <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.purchase_date.label }}</label>
                    {{ filter.form.purchase_date }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.vendor.label }}</label>
                    {{ filter.form.vendor }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.last_maintenance_date.label }}</label>
                    {{ filter.form.last_maintenance_date }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.commissioning_date.label }}</label>
                    {{ filter.form.commissioning_date }}
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.warranty_date.label }}</label>
                    {{ filter.form.warranty_date }}
                    <div id="warranty_date" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%;">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span>{% if from_date %}{{from_date}}-{{to_date}} {% else %} {{today|date:"F"}} {{today|date:"Y"}} {% endif %}</span><b class="caret"></b>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.created_at.label }}</label>
                    {{ filter.form.created_at }}
                    <div id="created_at" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%;">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span>{% if from_date %}{{from_date}}-{{to_date}} {% else %} {{today|date:"F"}} {{today|date:"Y"}} {% endif %}</span><b class="caret"></b>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <h4 style="padding: 10px;">Sort By</h4>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.order_by_created_at.label }}</label>
                    {{ filter.form.order_by_created_at }}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
<div id="stock-batch-block">
    <div class="block">
        <a href="{% url 'asset:stock:stock_detail' batch.stock.pk %}">Back</a>
        <div class="row show-grid">
            <div class="col-xs-12 col-sm-9 col-md-9">

                <h3>Batches in Stock {{batch.stock.code}} </h3>
            </div>
            <div class="col-xs-12 col-md-3 col-sm-3">
                <p>
                    {% if batch.status != "Pending" and batch.received_quantity > batch.item_set.count%}
                    <a href="{% url 'asset:stock:batch:item:create' batch.pk %}">
                        <i class="fa fa-edit fa-fw"></i> Add Items 
                    </a> | {% endif %}
                    <a href="{% url 'asset:stock:batch:item:list' batch.pk %}" style="">
                        <i class="fa fa-refresh"></i> Refresh
                    </a>
                </p>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-6 col-md-9 col-xs-6" align="left">
                <mark># {{batch.code}} </mark>

            </div>
            <div class="col-sm-6 col-md-3 col-xs-12">
                <span class="badge" style="background-color:#0AB2C8; color:white;">{{ batch.asset }}</span>
            </div>
        </div>
    </div>
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-6 col-xs-12">
                <span class="date_font">
                    Created : {{ batch.created_at | date }}
                </span>
            </div>

            <div class="col-sm-6 col-xs-12">
                <span class="date_font">
                    Last Update: {{ batch.updated_at | date }}
                </span>
            </div>
        </div>
        <div class="show-grid">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <h4>Batch Details</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="tfont">Batch Code</th>
                                    <th>{{ batch.code }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="tfont">Stock Code</th>
                                    <th>{{ batch.stock.code }}</th>
                                </tr>
                                <tr>
                                    <th class="tfont">Product</th>
                                    <th><a href="">{{ batch.asset }}</a></th>
                                </tr>
                                <tr>
                                    <th class="tfont">Status</th>
                                    <th>{{ batch.status }}</th>
                                </tr>
                                <tr>
                                    <th class="tfont">Ordered Quantity</th>
                                    <th>{{ batch.ordered_quantity }}</th>
                                </tr>
                                <tr>
                                    <th class="tfont">Recieved Quantity</th>
                                    <th>{{ batch.received_quantity }}</th>
                                </tr>
                                <tr>
                                    <th class="tfont">Price Per Item (<i class="fa fa-inr"></i>)</th>
                                    <th>{{ batch.price_per_item }}</th>
                                </tr>
                               
                                <tr>
                                    <th class="tfont">Damaged Quantity</th>
                                    <th>{{ batch.damage_quantity }}</th>
                                </tr>
                                <tr>
                                    <th class="tfont">Current Quantity</th>
                                    <th>{{ batch.current_quantity }}</th>
                                </tr>
                                <tr>
                                    <th class="tfont">Date of Manufacturing</th>
                                    <th>{{ batch.date_of_manufacturing }}</th>
                                </tr>
                                <tr>
                                    <th class="tfont">Expiry Date</th>
                                    <th>{{ batch.expiry_date }}</th>
                                </tr>
                                
                                 {% if batch.booked_by %}
                                <tr>
                                    <th class="tfont">Booked By</th>
                                    <th>{{ batch.booked_by }}</th>
                                </tr>
                                {% endif %}



                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="block">
        <a href="{% url 'asset:stock:list' %}">Back</a>
        <div class="row show-grid">
            <div class="col-xs-12 col-sm-7 col-md-7">
                <h3>Batches in Stock {{batch.stock.code}}</h3>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-4">
                <p>
                    <a href="{% url 'asset:stock:batch:item:create' batch.pk %}">
                        <i class="fa fa-edit fa-fw"></i> Add Asset Items
                    </a> |
                    <a href="{% url 'asset:stock:batch:item:list' batch.pk %}">
                        <i class="fa fa-refresh"></i> Refresh
                    </a>
                </p>
            </div>
            {% if batch.received_quantity > batch.asset_stock_item_set.count %}
            <div class="col-xs-12 col-sm-9 col-md-9">
                <h4 style="color:#6be2f3; font-size:20px;">
                    {{ left_items }} Asset Items are left to add in the {{ batch.code }}
                </h4>
            </div>
            {% endif %}
        </div>

    </div>
    <div class="block">
        <div class="row">
            <div class="col-sm-8">
                <h3>Asset Items in <span style="color:#000;font-size:15px;"><mark># {{batch.code}} </mark></span> </h3>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
        <div class="row show-grid">

            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <p align="right">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
                        Apply Filters
                        </button>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12 table-responsive" style="">
                    <h3>Asset Items Details</h3>
                    <table class="table table-bordered" style="margin-top:20px;">
                        <thead>
                            <tr>
                                <th>
                                    <h4>Code</h4>
                                </th>
                                <th>
                                    <h4>Edit</h4>
                                </th>
                                <th>
                                    <h4>Status</h4>
                                </th>
                                <th>
                                    <h4>State</h4>
                                </th>
                                <th>View</th>
                                <!--<th><h4>Delete</h4></th>-->
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                            <tr>
                                <td>{{ item.code }}</td>
                                <td>
                                    <a href="{% url 'asset:stock:batch:item:edit' batch.pk item.pk %}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                                <td>
                                    {{ item.status }}

                                    <!-- {# <i class="fa fa-edit pull-right" aria-hidden="true" data-target="#edit-{{item.id}}" data-toggle="modal" style="color: #337ab7;"></i> #} -->
                                    <!-- Modal -->
                                    <!-- {# <div class="modal fade" id="edit-{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <form action="{% url 'asset:stock:batch:item:edit-status' item.batch.id item.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        <h4 class="modal-title" id="myModalLabel">Change Item Status</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <select name="status" class="form-control">
                                                                <option value="pending" "{% if item.status == "pending" %} selected="selected " {% endif %}">pending</option>
                                                                <option value="intransit" "{% if item.status == "intransit" %} selected="selected " {% endif %}">intransit</option>
                                                                <option value="instock" "{% if item.status == "instock" %} selected="selected " {% endif %}">instock</option>
                                                                <option value="booked" "{% if item.status == "booked" %} selected="selected " {% endif %}">booked</option>
                                                            </select>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit">Update</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div> #} -->

                                </td>
                                <td>
                                   {{ item.state }} 
                                </td>
                                <td>
                                    <a href="{% url 'asset:stock:batch:item:item_detail' batch.pk item.pk %}">
                                        <i class="fa fa-eye"></i>
                                    </a>
                                </td>
                                <!--<td><a href="/inventory/stock/{{batch.stock.pk}}/batch/{{batch.pk}}/item/{{item.pk}}/delete/">Delete</a></td>-->
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5">No Items</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--<pre>{@ $data @} </pre>-->
</div>
{% endblock content %} {% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
$(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
    $("#pagination a").click(function (e) {
        e.preventDefault()
        page_string = this.href.slice(this.href.indexOf("?") + 1)
        var query_string = ""
        var search_query = window.location.search
        var query_obj = {}
        if (search_query) {
            if (search_query.indexOf('?') > -1)
                search_query = search_query.substr(1)
            var searchQueryStrings = [search_query]
            if (search_query.indexOf('&') > -1)
                searchQueryStrings = search_query.split('&')
            searchQueryStrings.forEach(qs => {
                var query_array = qs.split('=')
                query_obj[query_array[0]] = query_array[1]
            })
        }
        query_obj['page'] = page_string.split('=')[1]
        for (var k in query_obj) {
            query_string += k + '=' + query_obj[k] + '&'
        }
        // console.log(query_string, query_obj, window.location)
        window.location = window.location.pathname + "?" + query_string.slice(0, -1)
    })
    var format = 'YYYY-MM-DD H:mm'
    function cb(start, end) {
        $('#created_at span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $("#id_created_at_0").val(start.format(format));
        $("#id_created_at_1").val(end.format(format));
    }
    $('#filter-modal').on('shown.bs.modal', function () {
        console.log(moment($("#id_created_at_0").val()))
        var start_date = $("#id_created_at_0").val() ? moment($("#id_created_at_0").val()) : moment().subtract(29, 'days')
        var end_date = $("#id_created_at_1").val() ? moment($("#id_created_at_1").val()) : moment()
        $('#created_at').daterangepicker({
            startDate: start_date,
            endDate: end_date,
            showDropdowns: true,
            locale: {
                format: format,
            },
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
        cb(start_date, end_date)
    })
    function remove(form, e) {
        e.preventDefault()
        if (confirm('Confirm Delete')) {
            form.submit()
        }
    }
});

</script>
{% endblock jsscript %}