{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
    <style>
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #0AB2C8;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 12px;
    padding: 8px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\26DB';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
</style>
{% endblock head %}
{% block content %}
    
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-8 col-xs-12">
                <a href="{% url 'asset:stock:stock_detail' item.stock.id %}" class="btn btn-default">Back </a>
            </div>
            <div class="col-sm-4">
                <span class="badge" style="background-color:#0AB2C8; color:white;">{{ item.asset }}</span>
            </div>
        </div>
        <div class="row show-grid">
            
            <div class="col-sm-8 col-xs-12">
                <h3>Asset Item: {{ item.asset }}</h3>
                
            </div>
            
        </div>
    </div>
    
    <div class="block">
        
        <div class="row show-grid">
                <div class="col-sm-6 col-xs-12" style="">
                    <span class="date_font">
                        Date and Time: {{ item.created_at | date }}
                    </span>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <span class="date_font">
                        Last Update: {{ item.updated_at | date }}
                    </span>
                </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-8">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <th colspan="2">Asset Details</th>
                        </thead>
                        <tbody>
                            
                           
                            <tr>
                                <th>Asset</th>
                                <td>{{ item.asset }}</td>
                            </tr>
                            <tr>
                                <th>Status</th>
                                <td>{{ item.status }}</td>
                            </tr>
                            <tr>
                                <th>State</th>
                                <td>{{ item.state }}</td>
                            </tr>
                            {% if item.asset_type %}
                                <tr>
                                    <th>Asset Type</th>
                                    <td>{{ item.asset_type }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <th>Expiry Date</th>
                                <td>{{ item.expiry_date }}</td>
                            </tr>
                            <tr>
                                <th>Available Date</th>
                                <td>{{ item.available_date }}</td>
                            </tr>
                            <!--
                            {% if asset.available_date %}
                                <tr>
                                    <th>Available Date</th>
                                    <td>{{ asset.available_date }}</td>
                                </tr>
                            {% endif %}
                            -->
                        </tbody>
                    </table>
                </div>
            </div>
            {% if item.qrcode %}
            <a download="qr-code{{item.id}}.jpg" href={{item.qrcode.url}} title="Click to download">
                    <!-- <button style="margin: 10px 10px 10px 10px">Download QR-Code <i class="fa fa-download" aria-hidden="true"></i></button> --> 
                    <button class="button" style="vertical-align:middle"><span>Download QR-Code </span></button>

                    </a>
            {% endif %}
        </div> 
    </div>

{% endblock content %}
{% block jsscript %}
{% endblock jsscript %}