{% extends "erp_admin/base.html" %}
{% load humanize static %}
{% block head %}
<style type="text/css">
.status-open {
    background-color: #2fd22f;
    font-size: 16px;
}
.status-rejected {
    background-color: red;
    font-size: 12px;
}
.table>thead>tr>th{
    color: #0a16a8!important;
}
.hstyle{
  color:#000;
  font-size:16px;
}
</style>
{% endblock head %}
{% block content %}
 

<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <form action="" method="get">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.code.label }}</label>
                    {{ filter.form.code }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.status.label }}</label>
                    {{ filter.form.status }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.state.label }}</label>
                    {{ filter.form.state }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.asset_type.label }}</label>
                    {{ filter.form.asset_type }}
                </div>
            </div>
             <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.purchase_date.label }}</label>
                    {{ filter.form.purchase_date }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.vendor.label }}</label>
                    {{ filter.form.vendor }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.last_maintenance_date.label }}</label>
                    {{ filter.form.last_maintenance_date }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.commissioning_date.label }}</label>
                    {{ filter.form.commissioning_date }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.shop_name.label }}</label>
                    {{ filter.form.shop_name }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.purchased_by.label }}</label>
                    {{ filter.form.purchased_by }}
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

 
<div class="block">
    <div class="row show-grid">
        <div class="col-sm-6">
            <a style="padding-left: 5px;" href="{% url 'asset:stock_dashboard' %}">Back to Dashboard</a>
            <h3>
                Staff Assets List

            </h3>
        </div>
        <div class="col-sm-6">
            <div class="pull-right">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
                    Apply Filters
                </button>
                <a class="btn btn-primary" href="{% url 'asset:stock:staff_asset_lists' %}">
                    Refresh
                </a>
            </div>
        </div>                         
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12" style="padding-left:30px;">
            {% if not  filter.form.code.value is null %}
               {% if not filter.form.code.value == "" %}
               <p>

                <span class="hstyle">Code </span>:  {{ filter.form.code.value}}
               </p>
                {% endif %}
            {% endif %}

            {% if not  filter.form.status.value is null %}
               {% if not filter.form.status.value == "" %}
               <p>

                <span class="hstyle">Status </span>:  {{ filter.form.status.value}}
               </p>
                {% endif %}
            {% endif %}

            {% if not  filter.form.state.value is null %}
               {% if not filter.form.state.value == "" %}
               <p>

                <span class="hstyle">State </span>:  {{ filter.form.state.value}}
               </p>
                {% endif %}
            {% endif %}

            {% if not  filter.form.purchase_date.value is null %}
               {% if not filter.form.purchase_date.value == "" %}
               <p>

                <span class="hstyle">Purchase Date</span>:  {{ filter.form.purchase_date.value}}
               </p>
                {% endif %}
            {% endif %}

            {% if not  filter.form.last_maintenance_date.value is null %}
               {% if not filter.form.last_maintenance_date.value == "" %}
               <p>

                <span class="hstyle">Last Maintenance Date</span>:  {{ filter.form.last_maintenance_date.value}}
               </p>
                {% endif %}
            {% endif %}

            {% if not  filter.form.commissioning_date.value is null %}
               {% if not filter.form.commissioning_date.value == "" %}
               <p>

                <span class="hstyle">Commissioning Date</span>:  {{ filter.form.commissioning_date.value}}
               </p>
                {% endif %}
            {% endif %}

            {% if not  filter.form.shop_name.value is null %}
               {% if not filter.form.shop_name.value == "" %}
               <p>

                <span class="hstyle">Shop Name</span>:  {{ filter.form.shop_name.value}}
               </p>
                {% endif %}
            {% endif %}

            {% if not  filter.form.purchased_by.value is null %}
               {% if not filter.form.purchased_by.value == "" %}
               <p>

                <span class="hstyle">Purchased By</span>:  {{ filter.form.purchased_by.value}}
               </p>
                {% endif %}
            {% endif %}
        
            {% if not vendor_name == "" %}
              <p>
              <span class="hstyle">Vendor : </span> {{ vendor_name }}
              </p>
            {% endif %}

            {% if not asset_type == "" %}
              <p>
              <span class="hstyle">Asset Type : </span> {{ asset_type }}
              </p>
            {% endif %}  
        </div>
    </div> 
    <div class="row">
        <div class="col-sm-12" style="padding:30px;">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Received Quantity</th>
                            <th>Current Quantity</th>
                            <th>Rate Per Item</th>
                            <th>Shop Name</th>
                            <th>Shop Number</th>
                            <th>Purchased By</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for asset in assets %}
                        <tr>
                            <td scope="row">
                                {{ forloop.counter }}
                            </td>
                            <td>
                                <a href="{% url 'asset:stock:batch:item:item_detail' asset.batch.pk asset.pk %}">{{ asset.code }}</a>
                            </td>
                            <td>
                                {{ asset.batch.received_quantity }}
                            </td>
                            <td>
                                {{ asset.batch.current_quantity }}
                            </td>
                            <td>
                                <i class="fa fa-inr"></i> {{ asset.batch.price_per_item }}
                            </td>
                            <td>
                                {% if asset.batch.stock.supplier %}
                                    {{ asset.batch.stock.supplier.name }}
                                {% elif asset.batch.stock.purchase_order %}
                                    {{ asset.batch.stock.purchase_order.supplier.supplier.name}}
                                {% endif %}
                            </td>
                            <td>
                                {% if asset.batch.stock.supplier %}
                                    {% for supplier_contact in asset.batch.stock.supplier.supplier_contacts.all %}
                                        {{supplier_contact.phone}},<br>
                                    {% endfor %}
                                {% elif asset.batch.stock.purchase_order %}
                                    {% for supplier_contact in asset.batch.stock.purchase_order.supplier.supplier.supplier_contacts.all %}
                                        {{supplier_contact.phone}}<br>{% if not forloop.last %},{% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                {{ asset.batch.stock.purchased_by.user.first_name }}
                            </td>
                            
                        </tr>
                        {% empty %}
                        <tr>No staff assets items</tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
            <div id="pagination">
                {{pagination|safe}}
            </div>
        </div>
    </div>
</div>


{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
$(document).ready(function(){

    var $date_inputs = $('.tdate')
    var date_format = 'YYYY-MM-DD';
    $date_inputs.daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        // timePicker: true,
        // timePicker24Hour: false,
        autoApply: true,
        showDropdowns: true,
        locale: {
            format: date_format,
        },
        // calender_style: "picker_4",
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });

    $date_inputs.on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD'));
    });

    $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });

    // $('#id_purchase_date').daterangepicker({
    // "singleDatePicker": true,
    // "timePicker": true,
    // locale: {

    //             format: 'YYYY-MM-DD',
    // },
    // // calender_style: "picker_4",
    // "showDropdowns": false
    // }),
    
    // $('#id_last_maintenance_date').daterangepicker({
    // "singleDatePicker": true,
    // "timePicker": true,
    // locale: {

    //             format: 'YYYY-MM-DD',
    // },
    // // calender_style: "picker_4",
    // "showDropdowns": false
    // }),

    // $('#id_commissioning_date').daterangepicker({
    // "singleDatePicker": true,
    // "timePicker": true,
    // locale: {

    //             format: 'YYYY-MM-DD',
    // },
    // // calender_style: "picker_4",
    // "showDropdowns": false
    // }),
    
    $('[data-toggle="tooltip"]').tooltip();

    $("#pagination a").click(function(e){
        e.preventDefault()
        page_string = this.href.slice(this.href.indexOf("?") + 1)
        
        var query_string = ""   
        var search_query = window.location.search
        var query_obj = {}
        if(search_query){
            if(search_query.indexOf('?') > -1)
                search_query = search_query.substr(1)
            
            var searchQueryStrings = [search_query]
            if(search_query.indexOf('&') > -1)
                searchQueryStrings = search_query.split('&')
            
            searchQueryStrings.forEach(qs => {
                var query_array = qs.split('=')
                query_obj[query_array[0]] = query_array[1]
            })

        }
        
        query_obj['page'] = page_string.split('=')[1]
        for(var k in query_obj){
            query_string += k + '=' + query_obj[k] + '&'
        }
        
        // console.log(query_string, query_obj, window.location)
        window.location = window.location.pathname + "?" + query_string.slice(0, -1)
    })
    var format = 'YYYY-MM-DD H:mm'
    function cb(start, end) {
        $('#created_at span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $("#id_created_at_0").val(start.format(format));
        $("#id_created_at_1").val(end.format(format));

    }
    function cb1(start, end) {

        $('#warranty_date span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $("#id_warranty_date_0").val(start.format(format));
        $("#id_warranty_date_1").val(end.format(format));   
    }
    $('#filter-modal').on('shown.bs.modal', function () {
        console.log(moment($("#id_created_at_0").val()))
        var start_date = $("#id_created_at_0").val() ? moment($("#id_created_at_0").val()) : moment().subtract(29, 'days')
        var end_date = $("#id_created_at_1").val() ? moment($("#id_created_at_1").val()) : moment()
    
        $('#created_at').daterangepicker({
            startDate: start_date,
            endDate: end_date,
            showDropdowns: true,
            locale: {
                format: format,
            },
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
        cb(start_date, end_date)


        console.log(moment($("#id_warranty_date_0").val()))
        var start_date = $("#id_warranty_date_0").val() ? moment($("#id_warranty_date_0").val()) : moment().subtract(29, 'days')
        var end_date = $("#id_warranty_date_1").val() ? moment($("#id_warranty_date_1").val()) : moment()
    
        $('#warranty_date').daterangepicker({
            startDate: start_date,
            endDate: end_date,
            showDropdowns: true,
            locale: {
                format: format,
            },
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb1);
        cb1(start_date, end_date)

    })


    function remove(form, e){
        e.preventDefault()
        if(confirm('Confirm Delete')){
            form.submit()
        }
    }

});
</script>
{% endblock jsscript %}