{% extends "erp_admin/base.html" %}
{% load static tz %} {% get_current_timezone as TIME_ZONE %}

{% block head %}
<style>
.row{
    margin-left:5px;
    margin-right:5px;
}
</style>
{% endblock head %}

{% block content %}

<div id="purchaseorder-block" v-cloak>
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-5">
                <a href="{% url 'asset:purchase_order:list' %}" style="padding-left: 5px;">Back</a>
                <h4>Asset Purchase Order Details</h4>
            </div>
            <div class="col-sm-7">
                <p align="right">
                    {% if not purchase_order.send_mail %}
                    <a href="{% url 'asset:purchase_order:edit' purchaseorder.id %}">
                        <i class="fa fa-edit"></i> Edit
                    </a> 
                    {% endif %}
                    <!-- 
                    <a href="{% url 'asset:purchase_order:mail' purchaseorder.id %}">
                        <i class="fa fa-envelope fa-fw"></i> Mail 
                    </a> -->
                     |
                    <a href="{% url 'asset:purchase_order:download-pdf' purchaseorder.id %}" target="_blank">
                        <i class="fa fa-file fa-fw"></i> PDF
                    </a>
                   
                </p>
            </div>
        </div>
    </div>

    <div class="block">
        <div class="row show-grid">
            <div class="row">
                <div class="col-sm-6 col-xs-12" style="">
                    <span style="color:#d95459;font-size:20px;">
                        Created Date: {{ purchaseorder.created_at | date }}
                    </span>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <span style="color:#d95459;font-size:20px;" class="pull-right">
                        Last Update: {{purchaseorder.updated_at | date }}
                    </span>
                </div>
            </div>
            <div class="row" style="margin-top:30px;">
                <div class="col-sm-4 col-xs-12" style="">
                    <h4>{{purchaseorder.code}} | {{purchaseorder.created_at}}</h4>
                    <!-- <h3 style="padding-top:20px;">{{purchaseorder.customer.name}}</h3>  -->
                </div>
                <div class="col-sm-3 col-xs-12">
                    <h3> {{ purchaseorder.contact.name }} </h3>
                    <p style="margin-top:10px;"> {{ purchaseorder.supplier}} </p>
                    <p>{{ purchaseorder.contact.designation }}
                </div>
                <div class="col-sm-3 col-xs-12">
                    <p style="margin-top:15px;"><i class="fa fa-phone"></i> {{ purchaseorder.supplier.phone }} </p>
                    <p><i class="fa fa-phone"></i> {{ purchaseorder.supplier.whatsup_no }} </p>

                    <p style="margin-top:15px;">
                        <i class="fa fa-envelope"></i> {{ purchaseorder.supplier.email }}
                    </p>
                </div>
                <div class="col-sm-2 col-xs-12">
                    <p style="color:black;"> Status:</p>
                    <p><mark style="background-color:#4BBFE7;">{{purchaseorder.status}}</mark></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-xs-12" style="">
                        <h4>Issued by: {{purchaseorder.issued_by}} </h4>
                        <!-- <h3 style="padding-top:20px;">{{purchaseorder.customer.name}}</h3>  -->
                    </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-xs-12" style="">

                    <h3>Product Details</h3>
                    <table class="table table-bordered" style="margin-top:20px;">
                        <thead>
                            <tr>
                                <th><h4>Product</h4></th>
                                <th><h4>Expected Date</h4></th>
                                <!-- {# <th><h4>Price(excl. tax)</h4></th> #}
                                {# <th><h4>Tax(%)</h4></th> #} -->
                                <th><h4>Price</h4></th>
                                <th><h4>Quantity</h4></th>
                                {# <th><h4>Quantity</h4></th> #}
                                <th><h4>Total</h4></th>
                                
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in items.all %}
                            <tr>
                                <td>{{ item.asset }}</td>
                                <td>
                                {% if item.expected_date %}
                                    {{ item.expected_date }}
                                {% endif %}
                                </td>
                                <!-- {# <td><i class="fa fa-inr"></i> {{ item.priceExclusiveOfTax }}</td> #}
                                {# <td>{{ item.tax }}</td> #} -->
                                <td> <i class="fa fa-inr"></i> {{ item.price }}</td>
                                <td>{{ item.ordered_quantity }}</td> 
                                <td> <i class="fa fa-inr"></i> {{ item.total }}</td>                                
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="4" class="text_size">Shipping Charge</td>
                                <td class="text_size">
                            
                                    <i class="fa fa-inr"></i> {{purchaseorder.shipping_charge}}
                                
                                </td>
                            </tr>
                            <!-- {# <tr>
                                <td colspan="4" class="text_size">Tax</td>
                                <td class="text_size">
                                
                                    <i class="fa fa-inr"></i> {{purchaseorder.tax}}
                                
                                </td>
                            </tr> #} -->
                            <tr>
                                <td colspan="4" class="text_size">Amount</td>
                                <td class="text_size">
                                    <i class="fa fa-inr"></i> {{purchaseorder.total_amount}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--<pre>{@ $data @} </pre>-->
</div>
{% endblock content %} {% block jsscript %}

{% endblock jsscript %}
