{% extends "erp_admin/base.html" %}
{% load static tz util %}
{% get_current_timezone as TIME_ZONE %}

{% block head %}
<style>


#products .item {
  box-shadow: 2px 2px 2px #e3e3e3;
  padding: 10px;
  margin-top: 5px;
  transition: all .3s;
  background-color: #fff1f1;
  color: #2e2e2e;
}

#products .item:hover {
  box-shadow: 5px 5px 5px #e3e3e3;
}

#products {
  margin: 10px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border-radius: 0px!important;
    border: 1px solid #ccc!important;
}

.select2-container .select2-selection--single {
    
    height: 34px!important;
 }
 .req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}
{% block content %}
<div class="blank">
  <div class="grid-form1">
    <a href="{% url 'asset:purchase_order:list' %}">Cancel</a>
    
    <h4 style="margin-top:20px; margin-left: 0px;">
      {{ type }} Purchase Order  <b>{{ contact }}</b>
    </h4>
    <div class="tab-pane active" id="horizontal-form">
      <form class="" action="{{form_url}}" method="post">
        {% csrf_token %} {{ purchaseorder_form.non_field_errors }} 
        {{ purchaseorder_form.field_errors }}
        <div class="row">
          <div class="col-sm-12" style="margin-bottom: 10px;">
            <div class="form-group">
              <div class="col-sm-3">
                {% if type == 'Create' %}
                  <label class="control-label">{{ purchaseorder_form.code.label}}<span class="req">*</span></label>
                  <div class="">
                    {{ purchaseorder_form.code.errors }} {{ purchaseorder_form.code }}
                  </div>
                {% else %}
                  <label class="control-label">Code</label>
                  <div class="">
                    <input type="text" value="{{purchase_order.code}}" class="form-control1" disabled id="code1">
                  </div>
                {% endif %}
              </div>
              <div class="col-sm-3">
                <label class="control-label">{{ purchaseorder_form.status.label}}<span class="req">*</span></label>
                <div class="">
                  {{ purchaseorder_form.status.errors }} {{ purchaseorder_form.status }}
                </div>
              </div>
              {% if type == 'Create' %}
              <div class="col-sm-3">
                    <label class="control-label">Location <span class="req">*</span></label>
                    <select name="location" class="form-control" id="location">
                      {% for location in locations %}
                        <option value="{{ location.id }}">{{ location }}</option>
                      {% endfor %}
                    </select>
              </div>
              {% endif %}
              <div class="col-sm-3">
                {% if type == "Create" %}
                <label class="control-label">{{ purchaseorder_form.supplier.label}}<span class="req">*</span>:<a href="" target="blank" > ADD</a> </label>
                <div class="">
                  {{ purchaseorder_form.supplier.errors }} {{ purchaseorder_form.supplier }}
                </div>

                {% else %}
                  <label class="control-label">Supplier</label>
                  <div class="">
                    <input type="text" value="{{purchase_order.supplier}}" class="form-control1" disabled id="supplier1">
                  </div>
                {% endif %}
              </div>
              
              <div class="clearfix"></div>
            </div>
          </div>
          <!-- {% if type == 'Create' %}
          <div class="row">
            <div class="form-group">
              <div class="col-sm-3" style="padding-left:50px;">
                <label class="control-label">Location <span class="req">*</span></label>
                <select name="location" class="form-control" id="location" style="padding: 3px 6px; width: 69%">
                  {% for location in locations %}
                    <option value="{{ location.id }}">{{ location }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
          {% endif %} -->
          
        </div>
        <div class="row" style="margin-top: 20px; margin-bottom:30px;">
          <div class="col-sm-12">
            <h4>Item Details</h4>
            <div class="grid-form1">
              {{ purchase_item_formset.management_form }}
              {% if purchase_item_formset.non_form_errors %}
              {% for error in purchase_item_formset.non_form_errors %}
              <div class="grid-form1"><span class="error_form">{{ error|escape }}</span></div>
              {% endfor %}
              {% endif %}
            
              <div id="items">
                  <div class="grid-form1">
                      <h4 style="margin-top:20px;">
                        {% if type == 'create' %}
                        Add Items
                        {% elif type == 'edit' %}
                        Edit Items
                        {% endif %}
                      </h4>
                      {% for item_form in purchase_item_formset %}
                      {% for hidden in item_form.hidden_fields %}
                      {{ hidden }}
                      {% endfor %}
                      <div class="inventory-item">
                          {{ item_form.id }}
                          <div class="form-group">
                              <div class="col-sm-3" id="prod">
                                  <label class="control-label">Asset <span class="req">*</span></label>
                                  <!--{{ item_form.product }}
                                  {{ item_form.product.errors }}-->
                                  <select class="form-control product" id="{{ item_form.asset.auto_id }}" name="{{ item_form.asset.html_name }}" required="required">
                                  <option value="">select</option>
                                  {% for product in products %}
                                  <option value="{{product.id}}"
                                    data-price="{{product.price}}"

                                  >{{product}}</option>
                                    
                                  {% endfor %}
                                </select>
                                {{ item_form.asset.errors }}

                                  
                              </div>
                              <div class="col-sm-3">
                                  <label class="control-label">Unit Price </label>
                                  {{ item_form.price }}
                                  {{ item_form.price.errors }}
                              </div>

                               <div class="col-sm-3">
                                  <label class="control-label">{{ item_form.ordered_quantity.label }} </label>
                                  {{ item_form.ordered_quantity }}
                                  {{ item_form.ordered_quantity.errors }}
                              </div>
                              
                            
                            <div class="col-sm-3">
                                <label class="control-label">{{ item_form.expected_date.label }} </label>
                                {{ item_form.expected_date }}
                                {{ item_form.expected_date.errors }}
                            </div>
                           
                            <div class="col-sm-3">
                                <label class="control-label">{{ item_form.total.label }} </label>
                                {{ item_form.total }}
                                {{ item_form.total.errors }}
                            </div>                  
                              
                              
                            <div class="clearfix"></div>
                      </div>

                          <div class="form-group">
                            {% if item_form.instance.pk %}{{ item_form.DELETE }}{% endif %}
                            <div class="clearfix"></div>
                          </div>              
                      </div>
                      {% endfor %}
                  </div>
                  
                  <div align="right">
                      <span>Sub total :</span>
                      <span id="sub-total"><i class="fa fa-inr"></i></span>
                  </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top:10px;" id="additional_charges">
            <div class="col-md-3 col-xs-12  col-md-offset-8">
              <label class="control-label">{{ purchaseorder_form.shipping_charge.label }} </label>
              {{ purchaseorder_form.shipping_charge }}
              {{ purchaseorder_form.shipping_charge.errors }}
              
            </div>
           <!--{#  <div class="col-md-3 col-xs-12  col-md-offset-8" style="margin-top:10px;">
              <label class="control-label">{{ purchaseorder_form.tax.label }} </label>
              {{ purchaseorder_form.tax }}
              {{ purchaseorder_form.tax.errors }}
              
            </div> #}
            -->
          </div>
      
          <div class="row" style="margin-top:20px;">
            <div class="col-md-3 col-xs-12  col-md-offset-9">
              <h4>Amount: <span id="amount"><i class="fa fa-inr"></i>{{quotation.amount}}</span></h4>
            </div>
          </div>
          <div class="row" style="margin-top:30px;">
            <div class="form-group">
              <div class="col-sm-9">
                <p align="right">
                  <button class="btn-primary btn">Submit</button>
                </p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %} {% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>

<script>
$("#supplier").select2({
  maximumSelectionLength: 10,
  
  });
</script>

<script>
$(document).ready(function() {
    var items = $("#items");
    var amount = 0;
    $('.inventory-item').formset({
      prefix: '{{ purchase_item_formset.prefix }}',
      addText: '<input type="button" class="btn btn-primary btn-xs" value="Add Items">',
      deleteText: '<font color="red">REMOVE</font>',
      removed: setTotalAmount,

      added: initializeFields
    });

    function initializeFields(row){
      attachDateRangePicker(row.find("input.expected_date"))
      attachSelect2(row.find("select.product"))
    }

    function attachSelect2(select_box){
      console.log("attachSelect2", select_box)
      select_box.select2({
        placeholder: "Select Product",
        allowClear: true
      });
    }
    items.find("#prod").each(function(index,prod){
      initializeFields($(prod));
    });

  items.on('change', function (event) {
    
    console.log(this, event)
    var ele = event.target
    var table_row = $(ele).parents('.inventory-item')
    //console.log('product:', table_row.find("select.product"))
    var a = 0;
    var product = table_row.find("select.product")
    var unit_price = product.find("option:selected").data("price")
    //table_row.find(".unit_price").html(unit_price)
    var rate_input = table_row.find(".price")

    if (!rate_input.val() || rate_input.val() <= 0 || $(ele).is("select.product"))
      rate_input.val(unit_price)
    
    var quantity_input = table_row.find(".ordered_quantity")
    // var discount_input = table_row.find(".discount")
    // var after_discount_input = table_row.find(".after_discount")
    // var discount_type_input = table_row.find(".discount_type")
    var total_input = table_row.find(".total")

    total_input.prop("readonly", true)

    // if(!quantity_input.val())
    //   quantity_input.val(1)

    // if(!discount_input.val() || discount_input.val() <= 0)
    //   discount_input.val(0)

    var rate = rate_input.val()
    quantity = quantity_input.val()
      // discount = table_row.find(".discount").val()
      // discount_type = table_row.find(".discount_type").val()
      
    if (product.val()) {
      a = parseFloat(rate * 1)
      
      // after_discount_input.text(applyDiscount(parseFloat(rate_input.val()), discount, discount_type))
      // var dis = applyDiscount(parseFloat(rate_input.val()), discount, discount_type)
      // after_discount_input.val(dis)

      var total_val = parseFloat(rate * quantity)
      total_input.val(total_val)
        
        setTotalAmount()
    }

    // function applyDiscount(amount, discount_val, discount_type) {
    //   amount = amount || 0
    //   if(discount_type == "percentage")
    //     amount *= ( 1 - parseFloat(discount_val) / 100 )
    //   else 
    //     amount -= parseFloat(discount_val)

    //   return amount.toFixed(2)
    // }
  });



    function setTotalAmount(){
    sub_totals = $('#items').find(".total")
      var amount = 0;
      sub_totals.each(function(index, subTotal){
        var st = $(subTotal).val();
        amount += parseFloat( (isNaN(st) || st == false ) ? 0 : st );
      });

      $("#sub-total").text(amount)

      console.log(amount);

      add_shippping_charge(amount)
  }
    
 var additional_charges = $("#additional_charges");
  additional_charges.on('change', function(e){
    setTotalAmount()    
  })

  function add_shippping_charge(amount) {
    
    shipping_charge = $('#shipping_charge').val();
    tax = $('#tax').val();
    console.log(tax)
    if(shipping_charge)
        amount += parseInt(shipping_charge)

      if(tax)
        amount += parseInt(tax)
      
        $("#amount").text(amount)
  }




function attachDateRangePicker(input_date){
  

        input_date.daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            minDate:new Date(),
            locale: {
                format: 'YYYY-MM-DD',
            },
        }, function(start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
    }

    attachDateRangePicker($('input.expected_date'))
    attachSelect2($('select.product'))

   });
</script>



{% endblock jsscript %}
