<html>
<body>
<p>Hi {{purchaseorder.supplier.name}},</p>
<p>purchaseorder : {{purchaseorder.code}}
<p>{{content}}</p>
<!--<img src="/media/{{purchaseorder.img}}" width="130px" height="130px">-->

</body>
</html>