{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">
.status-open {
    background-color: #2fd22f;
    font-size: 16px;
}
.status-rejected {
    background-color: red;
    font-size: 12px;
}
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}
</style>
{% endblock head %}
{% block content %}
    

<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <form action="" method="get">
            {# {{ filter.form }} #}
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.code.label }}</label>
                    {{ filter.form.code }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.status.label }}</label>
                    {{ filter.form.status}}
                </div>
            </div>
           <!-- <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.supplier.label }}</label>
                    {{ filter.form.supplier }}
                </div>
            </div>-->
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.total_amount.label }}</label>
                    {{ filter.form.total_amount }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.total_amount__lt.label }}</label>
                    {{ filter.form.total_amount__lt }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.total_amount__gt.label }}</label>
                    {{ filter.form.total_amount__gt }}
                </div>
            </div>
           
            
            <div class="clearfix"></div>
            <h4 style="padding: 10px;">Sort By</h4>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.order_by_created_at.label }}</label>
                    {{ filter.form.order_by_created_at }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.order_by_total_amount.label }}</label>
                    {{ filter.form.order_by_total_amount }}
                </div>
            </div>

            
                
            <button type="submit" class="btn btn-primary">Submit</button>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
    
<div class="block">
    <div class="row show-grid">
        <div class="col-sm-6">
            <a style="padding-left: 5px;" href="{% url 'asset:stock_dashboard' %}">Back to Dashboard</a>
            <h3>
                Purchase Orders
                <a href="{% url 'asset:purchase_order:create' %}" class="btn btn-link">
                    <i class="fa fa-plus-square-o fa-2x"></i>
                </a>
            </h3>
        </div>
        <div class="col-sm-6">
            <div class="pull-right">
                <!-- Button trigger modal -->
                <a class="btn btn-primary" href="{% url 'asset:purchase_order:list' %}">
                    Refresh
                </a>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
                    Apply Filters
                </button>
                
                
                <div class="dropdown">
                    <button id="dLabel" class="btn btn-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dLabel">
                    <li>
                        <a href="{% url 'asset:purchase_order:code_settings' %}" class="btn btn-link">
                            <i class="fa fa-pencil-square-o fa-fw"></i> Code Settings
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'asset:purchase_order:mail_settings' %}" class="btn btn-link">
                            <i class="fa fa-pencil-square-o fa-fw"></i> Mail Settings
                        </a>
                    </li>
                    </ul>
                </div>
                
            </div>
        </div>                         
    </div>
    <div class="row show-grid">
        <div class="col-sm-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for purchaseorder in purchaseorders %}
                    <tr>
                        <td scope="row">{{ forloop.counter }}</td>
                        <td><a href="{% url 'asset:purchase_order:detail' purchaseorder.id %}" class="btn btn-link">{{ purchaseorder }}</a></td>
                        <td>
                            {{ purchaseorder.total_amount}}
                        </td>
                        <td>
                             <a href="{% url 'asset:purchase_order:edit' purchaseorder.id %}">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                        <td>
                            <form method="post" action="{% url 'asset:purchase_order:delete' purchaseorder.pk %}" onsubmit="remove(this, event)">
                                {% csrf_token %}
                                <button type="submit" class="fabutton">
                                    <i class="fa fa-trash-o fa-fw"></i>
                                </button>
                            </form>
                        </td>
                        <!--
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="purchaseorderMenu{{forloop.counter}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Actions
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="purchaseorderMenu{{forloop.counter}}">
                                    <li>
                                        <a href="{% url 'asset:purchase_order:detail' purchaseorder.id %}" class="btn btn-link">
                                            <i class="fa fa-info-circle fa-fw"></i> View
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'asset:purchase_order:edit' purchaseorder.id %}" class="btn btn-link">
                                            <i class="fa fa-pencil-square-o fa-fw"></i> Edit
                                        </a>
                                    </li>
                                    <li>
                                        <form method="post" action="{% url 'asset:purchase_order:delete' purchaseorder.pk %}" onsubmit="remove(this, event)">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">
                                                <i class="fa fa-trash-o fa-fw"></i> Delete
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    -->
                    </tr>
                    {% empty %}
                    <tr>No purchaseorders</tr>
                    {% endfor %}

                </tbody>
            </table>

            <div id="pagination">
                {{pagination|safe}}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();

    $("#pagination a").click(function(e){
        e.preventDefault()
        page_string = this.href.slice(this.href.indexOf("?") + 1)
        
        var query_string = ""   
        var search_query = window.location.search
        var query_obj = {}
        if(search_query){
            if(search_query.indexOf('?') > -1)
                search_query = search_query.substr(1)
            
            var searchQueryStrings = [search_query]
            if(search_query.indexOf('&') > -1)
                searchQueryStrings = search_query.split('&')
            
            searchQueryStrings.forEach(qs => {
                var query_array = qs.split('=')
                query_obj[query_array[0]] = query_array[1]
            })

        }
        
        query_obj['page'] = page_string.split('=')[1]
        for(var k in query_obj){
            query_string += k + '=' + query_obj[k] + '&'
        }
        
        // console.log(query_string, query_obj, window.location)
        window.location = window.location.pathname + "?" + query_string.slice(0, -1)
    })
    var format = 'YYYY-MM-DD H:mm'
    function cb(start, end) {
        $('#created_at span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $("#id_created_at_0").val(start.format(format));
        $("#id_created_at_1").val(end.format(format));  
    }

    $('#filter-modal').on('shown.bs.modal', function () {
        console.log(moment($("#id_created_at_0").val()))
        var start_date = $("#id_created_at_0").val() ? moment($("#id_created_at_0").val()) : moment().subtract(29, 'days')
        var end_date = $("#id_created_at_1").val() ? moment($("#id_created_at_1").val()) : moment()
    
        $('#created_at').daterangepicker({
            startDate: start_date,
            endDate: end_date,
            showDropdowns: true,
            locale: {
                format: format,
            },
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
        cb(start_date, end_date)

    })

    function remove(form, e){
        e.preventDefault()
        if(confirm('Confirm Delete')){
            form.submit()
        }
    }

});
</script>
{% endblock jsscript %}