<!--Last Modified By:REMYA M S-->
{% extends "erp_admin/base.html" %}
{% load static %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />
{% endblock head %}
{% block content %}

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row">
	 		
	 	  	<div class="col-sm-12">
	 	  		<a href="{{ request.META.HTTP_REFERER }}">Cancel</a>
	 	  	</div>
	 	</div>
  	       <h3 style="margin-top:20px;">Mail Settings</h3>
  	         <div class="tab-content">
						<div class="tab-pane active" id="horizontal-form">
							<form class="form-horizontal" action="{% url 'inventory:purchase_order:mail_settings' %}" method="post">{% csrf_token %}
							{{ mail_form.non_field_errors }}
							{{ mail_form.field_errors }}
								
								<div class="form-group">
									<label for="subject" class="col-sm-2 control-label">Subject</label>
									<div class="col-sm-8">{{ mail_form.subject.errors }}
										{{ mail_form.subject }}
									</div>
								</div>

								<div class="form-group">
									<label for="content" class="col-sm-2 control-label">CC</label>{{mail_form.cc.errors }}
									<div class="col-sm-8">
										{{ mail_form.cc }}
									</div>
								</div>
								<div class="form-group">
									<label for="content" class="col-sm-2 control-label">Group CC</label>{{mail_form.group_cc.errors }}
									<div class="col-sm-8">
										{{ mail_form.group_cc }}
									</div>
								</div>
								

								<div class="form-group">
									<label for="content" class="col-sm-2 control-label">Content</label>{{mail_form.content.errors }}
									<div class="col-sm-8">
										{{ mail_form.content }}
									</div>
								</div>



					
								
								
								
								<div class="form-group">
									<div class="col-sm-8">
                						<button class="btn-primary btn">Submit</button>
                					</div>
                				</div>

								
							</form>
						</div>
					</div>
					
	</div>
</div>
{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/select2.min.js' %}"></script>

<script>
		

$("#group_cc").select2({
	maximumSelectionLength: 10,
	allowClear: true,
	tags: true,

	createTag: function(newTag) {
	return {
		id: newTag.term,
		text: newTag.term
	};
		}
	});
		
</script>

{% endblock jsscript %}