
<html>
<head>

<style>
.row{
  
}
.pd_size{
  font-size:15px;

}
#pur_ord{
  background-color: #2196F3;
  font-size: 30px;
  padding:18px;
  color: #fff;

}
/*
.row{
  background-color: red;
}*/

th,td{
  padding:5px;
}

</style>
</head>
<body>
<section>
  <div class="container">
    <div class="row">
        <div class="col-md-12" id='pur_ord'>
        <p align="center">Purchase Order</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <p class="pd_size" align="right"><strong>
        #{{purchaseorder.code}} <br> 
        Date : {{purchaseorder.created_at}}  </strong></p>
        </div> 
    </div>
    <div class="row">
        <div class="col-sm-12">
                      <p style="margin-top:15px;" class="pd_size"><b>&#x02605;
 Name :</b> {{purchaseorder.supplier.name}}
                        </p>
                       <p style="margin-top:15px;" class="pd_size"><b>&#x0260E;

 Phone Number :</b> {{purchaseorder.supplier.phone}}
                        </p>
                       <p style="margin-top:15px;" class="pd_size"><b>&#x00040;
 Email ID :</b> {{purchaseorder.supplier.email}}</p>
        </div>     
    </div>
  </div>
</section>
<section>
  <div class="container">
          <div class="row">
              <div class="col-sm-12 col-xs-12" style="">
                    <h3 style="font-size:20px;">Product Details</h3>
                    <div style="">
                        <table class="table" border="1" style="margin-top:20px;font-size:13px;">
                            <thead>
                            <tr>
                                <th><h4>Product</h4></th>
                                <th><h4>Expected Date</h4></th>
                                <th><h4>Price</h4></th>
                                <th><h4>Quantity</h4></th> 
                                <th><h4>Total</h4></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items.all %}
                            <tr>
                                <td>{{ item.asset }}</td>
                                <td>
                                {% if item.expected_date %}
                                    {{ item.expected_date }}
                                {% endif %}
                                </td>
                                <td> <i class="fa fa-inr"></i> {{ item.price }}</td>
                                <td>{{ item.ordered_quantity }}</td>
                                <td> <i class="fa fa-inr"></i> {{ item.total }}</td>                                
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="4" class="text_size">Shipping Charge</td>
                                <td class="text_size">
                            
                                    <i class="fa fa-inr"></i> {{purchaseorder.shipping_charge}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="text_size">Amount</td>
                                <td class="text_size">
                                    <i class="fa fa-inr"></i> {{purchaseorder.total_amount}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                          </br>
                    </div>
              </div>
            </div>
                <div class="col-sm-12 col-xs-12 " style="">
                </br>
                </div>
        </div>
</section>
</body>
</html>