
<html>
{% load staticfiles %}
<head>

<style>
.row{
  
}
.pd_size{
  font-size:18px;

}
.pd_size1{
  font-size:15px;

}

th,td{
  padding:5px;
}
.table{
  width:auto;
}

.signature {
    border: 0;
    border-bottom: 1px solid #000;
}

</style>

    <!-- <link href="{% static 'css/font-awesome.min.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />
     --><!-- Custom Theme files -->
    <!-- <link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/daterangepicker.css' %}" rel="stylesheet">
 -->
</head>

<body>





<section>

  <div class="container">

      <div class="row">
          <div class="col-md-12">
          <p style="font-size:40px;" align="center">Purchase Order</p>
          </div>

      </div>
      <div class="row">
          <div class="col-md-12">
          <p class="pd_size" align="right">
            <strong>Date : {{purchaseorder.created_at|date:'d/m/Y'}} </strong>
            
          </p>

          </div>
      </div>
      <div class="row">
          <div class="col-md-6 col-sm-6">
              <h4 style="font-size:20px;">#{{purchaseorder.code}}  </h4>
              
          </div>
          
      </div>
      
      <div class="row">
          <div class="col-sm-12">
                <h4 style="font-size:20px;">
                    Bill To : {{purchaseorder.supplier.name}} ,{{purchaseorder.supplier.supplier_contacts.name}}
                </h4>
               <p class="pd_size">
                 {{quotation.contact.designation}}
                </p>

                <p style="margin-top:15px;" class="pd_size">
                  Phone : {{purchaseorder.supplier.phone}},
                  {{purchaseorder.supplier.alternate_phone}}
                </p>

                 <p style="margin-top:15px;" class="pd_size"> 
                  Email : {{purchaseorder.supplier.email}}
                  </p>
            </div>
      </div>
  </div>
</section>

<section>
  <div class="container">
    
        <div class="row">
              <div class="col-sm-12 col-xs-12" style="">
                <h3 style="font-size:20px;">Item Details</h3>
                <table class="table" border="1" style="margin-top:20px;font-size:18px;">
                        <thead>
                            <tr>
                                <td><strong>Product</strong></td>
                                <td><strong>Expected Delivery Date</strong></td>
                                <td><strong>Price</strong></td>
                                <td><strong>Total</strong></td>
                                
                            </tr>
                        </thead>
                        <tbody>

                          {% for product in purchaseorder.order_items.all %}
                            <tr>
                            <td>{{product.asset}}</td>
                            <td>{{product.expected_date}}</td>
                            <td><i class="fa fa-inr"></i>{{product.price}}</td>
                            <td><i class="fa fa-inr"></i>{{product.total}}</td>
                            </tr>
                          {% endfor %}
                            <tr>
                              <td colspan="3"><h4>Shipping Charge</h4></td>
                              <td><h4>
                              <i class="fa fa-inr"></i>{{purchaseorder.shipping_charge}}
                              </h4></td>
                            </tr>
                            
                            <tr>
                              <td colspan="3"><h4>Amount</h4></td>
                              <td><h4>
                              <i class="fa fa-inr"></i>{{purchaseorder.total_amount}}
                              </h4></td>
                            </tr>
                        </tbody>
                  </table>
              </div>
        </div>
        <div class="row" style="padding-top:30px;">
          
          
          <p style="font-size:18px;">Authorized Signature</p>
          <input type="text" class="signature"/>
        </div>
</section>
    
    


</body>
 
</html>