<template src='./list.template.html'></template>

<script>
// import EditCustomer from './components/edit_customer.vue'
import Paginate from 'components/paginate.vue'
import utils from 'contrib/utils'

export default {
	
	name: 'customer-list-app',

	props: [ 'editCustomerUrl'],

	data(){
		return {
			customers: [],
			edit_customer: {},
			edit_form: false,
			pagination:{
				count: 0,
				current: 1,
				page_size: 3,
				link_range: 3,
			},
			url: '/api/customers/',
			edit_customer_url: '/customers/create/',
			query: [],
			filterable_fields: ['types', 'statuses'],
			filterable_data: {
				type: {
					conjoined: true,
					filter: false,
					options: []
					// options: [
					// 	['hot', 'HOT'], ['cold', 'COLD'], ['hostile', 'HOSTILE']
					// ] 
				},
				status: {
					conjoined: false,
					filter: false,
					options: []
					// options: [
					// 	['open', 'OPEN'], ['close', 'CLOSE'], ['rejected', 'REJECTED']
					// ] 
				},
			}
		}
	},
	
	components: {
		Paginate
	},

	created(){
		this.get_customers()
	},

	methods:{
		setQuery(){
			var search_query = window.location.search
			if(search_query){
				if(search_query.indexOf('?') > -1)
					search_query = search_query.substr(1)
				
				var searchQueryStrings = [search_query]
				if(search_query.indexOf('&') > -1)
					searchQueryStrings = search_query.split('&')
				
				searchQueryStrings.forEach(qs => {
					var query_array = qs.split('=')
					var obj = {}
					obj[query_array[0]] = query_array[1]
					this.query.push([query_array[0], query_array[1]])
					// this.choices[pluralize.plural(query_array[0])].find(option => option[0] == query_array[1] )[2] = true
					var index = this.filterable_data[query_array[0]].options.findIndex(option => option[0] == query_array[1] )
					this.$set(this.filterable_data[query_array[0]].options[index], 2, true)
				})
			}
			console.log(search_query, this.query)
			this.get_customers()

		},

		getPage(page){
			this.removePropFromQuery('page', this.pagination.current)
			
			this.query.push(['page', page ])
			this.pagination.current = Number(page)
			this.get_customers()
		},

		query_by(prop, value, remove = false){
			console.log(prop, value, remove)
			if(remove)
				this.removePropFromQuery(prop, value)
			else
				this.query.push([prop, value ])
			this.get_customers()
		},

		removePropFromQuery(prop, value){
			var index = this.query.findIndex( query => {
				console.log(query, prop, value)
				return query[0] == prop && query[1] == value
			})
			console.log(index)
			if(index > -1)
				this.query.splice(index,1)
		},

		get_url(){
			var queryString = utils.prepareQueryString(this.query)
			var url = window.location.protocol + '//' + window.location.host + window.location.pathname

			window.history.pushState({}, '', url + queryString )

			console.log(this.query, url)
			return '/api/customers/' + queryString
		},

		get_customers: function(){
			// url = url || '/api/customers/'
			// this.edit_customer = Object.assign({}, this.edit_customer, customer) 
			var vm = this
			this.$http.get(this.get_url())
			.then(function (response) {
				console.log(response.data.form_url)
				vm.customers = response.data.results
				vm.edit_customer_url = response.data.form_url
				vm.pagination.count = response.data.count
				vm.pagination.page_size = response.data.page_size
				// vm.pagination.current = Number(page)

			})
			.catch(function (error) {
				console.log(error)
			})
		},

		deleteCustomer(customer){
			if(confirm('Confirm Delete')){
				this.$http.delete('/api/customers/' + customer.id +'/')
				.then( response => {
					console.log(response)
					window.location.assign(window.location.pathname + '?deleted=1')
				})
				.catch( error => {
					console.log(error)
					if (error.response) {
						if(error.response.status == 404){
							alert('Customer already deleted!')
						}
					} 
				})
			}
			return false
		}
	}
}
</script>

<style>

</style>
